ble_pack SLP_S3n_RNINQRN_0_LC_1_12_5 { SLP_S3n_RNINQRN_0 }
clb_pack LT_1_12 { SLP_S3n_RNINQRN_0_LC_1_12_5 }
set_location LT_1_12 1 12
ble_pack SLP_S3n_RNINQRN_LC_2_12_6 { SLP_S3n_RNINQRN }
clb_pack LT_2_12 { SLP_S3n_RNINQRN_LC_2_12_6 }
set_location LT_2_12 2 12
ble_pack VPP_VDDQ.un1_vddq_en_LC_2_14_6 { VPP_VDDQ.un1_vddq_en }
clb_pack LT_2_14 { VPP_VDDQ.un1_vddq_en_LC_2_14_6 }
set_location LT_2_14 2 14
ble_pack CONSTANT_ONE_LUT4_LC_5_14_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_5_14 { CONSTANT_ONE_LUT4_LC_5_14_0 }
set_location LT_5_14 5 14
ble_pack VPP_VDDQ.curr_state_1_LC_6_11_2 { VPP_VDDQ.curr_state_RNO[1], VPP_VDDQ.curr_state[1] }
ble_pack RSMRST_PWRGD.RSMRSTn_LC_6_11_3 { RSMRST_PWRGD.RSMRSTn_RNO, RSMRST_PWRGD.RSMRSTn }
ble_pack VPP_VDDQ.curr_state_0_LC_6_11_6 { VPP_VDDQ.curr_state_RNO[0], VPP_VDDQ.curr_state[0] }
clb_pack LT_6_11 { VPP_VDDQ.curr_state_1_LC_6_11_2, RSMRST_PWRGD.RSMRSTn_LC_6_11_3, VPP_VDDQ.curr_state_0_LC_6_11_6 }
set_location LT_6_11 6 11
ble_pack RSMRST_PWRGD.un6_rsmrst_pwrok_LC_6_12_2 { RSMRST_PWRGD.un6_rsmrst_pwrok }
ble_pack VPP_VDDQ.un1_vddq_pwrgd_LC_6_12_4 { VPP_VDDQ.un1_vddq_pwrgd }
ble_pack VPP_VDDQ.curr_state_RNICR092_0_LC_6_12_5 { VPP_VDDQ.curr_state_RNICR092[0] }
ble_pack VPP_VDDQ.un1_curr_state13_1_LC_6_12_6 { VPP_VDDQ.un1_curr_state13_1 }
ble_pack VPP_VDDQ.curr_state_RNIDNTT1_0_LC_6_12_7 { VPP_VDDQ.curr_state_RNIDNTT1[0] }
clb_pack LT_6_12 { RSMRST_PWRGD.un6_rsmrst_pwrok_LC_6_12_2, VPP_VDDQ.un1_vddq_pwrgd_LC_6_12_4, VPP_VDDQ.curr_state_RNICR092_0_LC_6_12_5, VPP_VDDQ.un1_curr_state13_1_LC_6_12_6, VPP_VDDQ.curr_state_RNIDNTT1_0_LC_6_12_7 }
set_location LT_6_12 6 12
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_6_13_5 { VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ }
clb_pack LT_6_13 { VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_6_13_5 }
set_location LT_6_13 6 13
ble_pack VPP_VDDQ.count_RNIVJP51_3_LC_6_14_1 { VPP_VDDQ.count_RNIVJP51[3] }
clb_pack LT_6_14 { VPP_VDDQ.count_RNIVJP51_3_LC_6_14_1 }
set_location LT_6_14 6 14
ble_pack ALL_SYS_PWRGD.count_RNIR6KI3_10_LC_7_10_0 { ALL_SYS_PWRGD.count_RNIR6KI3[10] }
ble_pack ALL_SYS_PWRGD.count_esr_RNIV28F_15_LC_7_10_3 { ALL_SYS_PWRGD.count_esr_RNIV28F[15] }
ble_pack ALL_SYS_PWRGD.count_RNI027U_11_LC_7_10_5 { ALL_SYS_PWRGD.count_RNI027U[11] }
ble_pack ALL_SYS_PWRGD.count_RNIT0U61_4_LC_7_10_6 { ALL_SYS_PWRGD.count_RNIT0U61[4] }
ble_pack ALL_SYS_PWRGD.count_RNIV07U_10_LC_7_10_7 { ALL_SYS_PWRGD.count_RNIV07U[10] }
clb_pack LT_7_10 { ALL_SYS_PWRGD.count_RNIR6KI3_10_LC_7_10_0, ALL_SYS_PWRGD.count_esr_RNIV28F_15_LC_7_10_3, ALL_SYS_PWRGD.count_RNI027U_11_LC_7_10_5, ALL_SYS_PWRGD.count_RNIT0U61_4_LC_7_10_6, ALL_SYS_PWRGD.count_RNIV07U_10_LC_7_10_7 }
set_location LT_7_10 7 10
ble_pack ALL_SYS_PWRGD.count_0_LC_7_11_0 { ALL_SYS_PWRGD.count_RNO[0], ALL_SYS_PWRGD.count[0], ALL_SYS_PWRGD.un1_count_1_cry_0_c }
ble_pack ALL_SYS_PWRGD.count_1_LC_7_11_1 { ALL_SYS_PWRGD.count_RNO[1], ALL_SYS_PWRGD.count[1], ALL_SYS_PWRGD.un1_count_1_cry_1_c }
ble_pack ALL_SYS_PWRGD.count_2_LC_7_11_2 { ALL_SYS_PWRGD.count_RNO[2], ALL_SYS_PWRGD.count[2], ALL_SYS_PWRGD.un1_count_1_cry_2_c }
ble_pack ALL_SYS_PWRGD.count_3_LC_7_11_3 { ALL_SYS_PWRGD.count_RNO[3], ALL_SYS_PWRGD.count[3], ALL_SYS_PWRGD.un1_count_1_cry_3_c }
ble_pack ALL_SYS_PWRGD.count_4_LC_7_11_4 { ALL_SYS_PWRGD.count_RNO[4], ALL_SYS_PWRGD.count[4], ALL_SYS_PWRGD.un1_count_1_cry_4_c }
ble_pack ALL_SYS_PWRGD.count_5_LC_7_11_5 { ALL_SYS_PWRGD.count_RNO[5], ALL_SYS_PWRGD.count[5], ALL_SYS_PWRGD.un1_count_1_cry_5_c }
ble_pack ALL_SYS_PWRGD.count_6_LC_7_11_6 { ALL_SYS_PWRGD.count_RNO[6], ALL_SYS_PWRGD.count[6], ALL_SYS_PWRGD.un1_count_1_cry_6_c }
ble_pack ALL_SYS_PWRGD.count_7_LC_7_11_7 { ALL_SYS_PWRGD.count_RNO[7], ALL_SYS_PWRGD.count[7], ALL_SYS_PWRGD.un1_count_1_cry_7_c }
clb_pack LT_7_11 { ALL_SYS_PWRGD.count_0_LC_7_11_0, ALL_SYS_PWRGD.count_1_LC_7_11_1, ALL_SYS_PWRGD.count_2_LC_7_11_2, ALL_SYS_PWRGD.count_3_LC_7_11_3, ALL_SYS_PWRGD.count_4_LC_7_11_4, ALL_SYS_PWRGD.count_5_LC_7_11_5, ALL_SYS_PWRGD.count_6_LC_7_11_6, ALL_SYS_PWRGD.count_7_LC_7_11_7 }
set_location LT_7_11 7 11
ble_pack ALL_SYS_PWRGD.count_8_LC_7_12_0 { ALL_SYS_PWRGD.count_RNO[8], ALL_SYS_PWRGD.count[8], ALL_SYS_PWRGD.un1_count_1_cry_8_c }
ble_pack ALL_SYS_PWRGD.count_9_LC_7_12_1 { ALL_SYS_PWRGD.count_RNO[9], ALL_SYS_PWRGD.count[9], ALL_SYS_PWRGD.un1_count_1_cry_9_c }
ble_pack ALL_SYS_PWRGD.count_10_LC_7_12_2 { ALL_SYS_PWRGD.count_RNO[10], ALL_SYS_PWRGD.count[10], ALL_SYS_PWRGD.un1_count_1_cry_10_c }
ble_pack ALL_SYS_PWRGD.count_11_LC_7_12_3 { ALL_SYS_PWRGD.count_RNO[11], ALL_SYS_PWRGD.count[11], ALL_SYS_PWRGD.un1_count_1_cry_11_c }
ble_pack ALL_SYS_PWRGD.count_12_LC_7_12_4 { ALL_SYS_PWRGD.count_RNO[12], ALL_SYS_PWRGD.count[12], ALL_SYS_PWRGD.un1_count_1_cry_12_c }
ble_pack ALL_SYS_PWRGD.count_13_LC_7_12_5 { ALL_SYS_PWRGD.count_RNO[13], ALL_SYS_PWRGD.count[13], ALL_SYS_PWRGD.un1_count_1_cry_13_c }
ble_pack ALL_SYS_PWRGD.count_14_LC_7_12_6 { ALL_SYS_PWRGD.count_RNO[14], ALL_SYS_PWRGD.count[14], ALL_SYS_PWRGD.un1_count_1_cry_14_c }
ble_pack ALL_SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_7_12_7 { ALL_SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_7_12 { ALL_SYS_PWRGD.count_8_LC_7_12_0, ALL_SYS_PWRGD.count_9_LC_7_12_1, ALL_SYS_PWRGD.count_10_LC_7_12_2, ALL_SYS_PWRGD.count_11_LC_7_12_3, ALL_SYS_PWRGD.count_12_LC_7_12_4, ALL_SYS_PWRGD.count_13_LC_7_12_5, ALL_SYS_PWRGD.count_14_LC_7_12_6, ALL_SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack ALL_SYS_PWRGD.count_esr_15_LC_7_13_0 { ALL_SYS_PWRGD.count_esr_RNO[15], ALL_SYS_PWRGD.count_esr[15] }
clb_pack LT_7_13 { ALL_SYS_PWRGD.count_esr_15_LC_7_13_0 }
set_location LT_7_13 7 13
ble_pack RSMRST_PWRGD.count_RNIR8OP4_10_LC_7_14_0 { RSMRST_PWRGD.count_RNIR8OP4[10] }
ble_pack RSMRST_PWRGD.count_RNIKOU91_10_LC_7_14_5 { RSMRST_PWRGD.count_RNIKOU91[10] }
ble_pack RSMRST_PWRGD.count_RNIAEU91_12_LC_7_14_7 { RSMRST_PWRGD.count_RNIAEU91[12] }
clb_pack LT_7_14 { RSMRST_PWRGD.count_RNIR8OP4_10_LC_7_14_0, RSMRST_PWRGD.count_RNIKOU91_10_LC_7_14_5, RSMRST_PWRGD.count_RNIAEU91_12_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack RSMRST_PWRGD.count_esr_RNIE05H_15_LC_7_15_2 { RSMRST_PWRGD.count_esr_RNIE05H[15] }
ble_pack RSMRST_PWRGD.count_RNIF1MK1_3_LC_7_15_4 { RSMRST_PWRGD.count_RNIF1MK1[3] }
clb_pack LT_7_15 { RSMRST_PWRGD.count_esr_RNIE05H_15_LC_7_15_2, RSMRST_PWRGD.count_RNIF1MK1_3_LC_7_15_4 }
set_location LT_7_15 7 15
ble_pack COUNTER.un4_counter_0_c_LC_8_9_0 { COUNTER.un4_counter_0_c }
ble_pack COUNTER.un4_counter_1_c_LC_8_9_1 { COUNTER.un4_counter_1_c }
ble_pack COUNTER.un4_counter_2_c_LC_8_9_2 { COUNTER.un4_counter_2_c }
ble_pack COUNTER.un4_counter_3_c_LC_8_9_3 { COUNTER.un4_counter_3_c }
ble_pack COUNTER.un4_counter_4_c_LC_8_9_4 { COUNTER.un4_counter_4_c }
ble_pack COUNTER.un4_counter_5_c_LC_8_9_5 { COUNTER.un4_counter_5_c }
ble_pack COUNTER.un4_counter_6_c_LC_8_9_6 { COUNTER.un4_counter_6_c }
ble_pack COUNTER.un4_counter_7_c_LC_8_9_7 { COUNTER.un4_counter_7_c }
clb_pack LT_8_9 { COUNTER.un4_counter_0_c_LC_8_9_0, COUNTER.un4_counter_1_c_LC_8_9_1, COUNTER.un4_counter_2_c_LC_8_9_2, COUNTER.un4_counter_3_c_LC_8_9_3, COUNTER.un4_counter_4_c_LC_8_9_4, COUNTER.un4_counter_5_c_LC_8_9_5, COUNTER.un4_counter_6_c_LC_8_9_6, COUNTER.un4_counter_7_c_LC_8_9_7 }
set_location LT_8_9 8 9
ble_pack COUNTER_un4_counter_7_THRU_LUT4_0_LC_8_10_0 { COUNTER_un4_counter_7_THRU_LUT4_0 }
ble_pack RSMRST_PWRGD.curr_state_RNIR5E01_0_LC_8_10_1 { RSMRST_PWRGD.curr_state_RNIR5E01[0] }
ble_pack COUNTER.tmp_LC_8_10_2 { COUNTER.tmp_RNO, COUNTER.tmp }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_8_10_3 { VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 }
ble_pack VPP_VDDQ.curr_state_RNID2IU_0_LC_8_10_5 { VPP_VDDQ.curr_state_RNID2IU[0] }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_8_10_6 { VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_LC_8_10_7 { VPP_VDDQ.delayed_vddq_pwrgd_RNO, VPP_VDDQ.delayed_vddq_pwrgd }
clb_pack LT_8_10 { COUNTER_un4_counter_7_THRU_LUT4_0_LC_8_10_0, RSMRST_PWRGD.curr_state_RNIR5E01_0_LC_8_10_1, COUNTER.tmp_LC_8_10_2, VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_8_10_3, VPP_VDDQ.curr_state_RNID2IU_0_LC_8_10_5, VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_8_10_6, VPP_VDDQ.delayed_vddq_pwrgd_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack ALL_SYS_PWRGD.curr_state_RNI72Q21_0_LC_8_11_0 { ALL_SYS_PWRGD.curr_state_RNI72Q21[0] }
ble_pack ALL_SYS_PWRGD.curr_state_RNIKNST6_1_LC_8_11_1 { ALL_SYS_PWRGD.curr_state_RNIKNST6[1] }
ble_pack ALL_SYS_PWRGD.count_esr_RNO_0_15_LC_8_11_2 { ALL_SYS_PWRGD.count_esr_RNO_0[15] }
ble_pack PCH_PWRGD.curr_state_RNIBS171_0_LC_8_11_3 { PCH_PWRGD.curr_state_RNIBS171[0] }
ble_pack PCH_PWRGD.count_RNIO26E5_0_LC_8_11_4 { PCH_PWRGD.count_RNIO26E5[0] }
ble_pack VPP_VDDQ.count_RNI63141_10_LC_8_11_5 { VPP_VDDQ.count_RNI63141[10] }
ble_pack PCH_PWRGD.count_RNIN5IJ_0_0_LC_8_11_6 { PCH_PWRGD.count_RNIN5IJ_0[0] }
ble_pack COUNTER.tmp_RNIRH3P_LC_8_11_7 { COUNTER.tmp_RNIRH3P }
clb_pack LT_8_11 { ALL_SYS_PWRGD.curr_state_RNI72Q21_0_LC_8_11_0, ALL_SYS_PWRGD.curr_state_RNIKNST6_1_LC_8_11_1, ALL_SYS_PWRGD.count_esr_RNO_0_15_LC_8_11_2, PCH_PWRGD.curr_state_RNIBS171_0_LC_8_11_3, PCH_PWRGD.count_RNIO26E5_0_LC_8_11_4, VPP_VDDQ.count_RNI63141_10_LC_8_11_5, PCH_PWRGD.count_RNIN5IJ_0_0_LC_8_11_6, COUNTER.tmp_RNIRH3P_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack RSMRST_PWRGD.curr_state_RNII9BF7_1_LC_8_12_1 { RSMRST_PWRGD.curr_state_RNII9BF7[1] }
ble_pack RSMRST_PWRGD.curr_state_0_LC_8_12_3 { RSMRST_PWRGD.curr_state_7_1_0_.m4, RSMRST_PWRGD.curr_state[0] }
ble_pack RSMRST_PWRGD.curr_state_RNISEFS1_0_LC_8_12_4 { RSMRST_PWRGD.curr_state_RNISEFS1[0] }
ble_pack RSMRST_PWRGD.curr_state_1_LC_8_12_5 { RSMRST_PWRGD.curr_state_7_1_0_.m6, RSMRST_PWRGD.curr_state[1] }
clb_pack LT_8_12 { RSMRST_PWRGD.curr_state_RNII9BF7_1_LC_8_12_1, RSMRST_PWRGD.curr_state_0_LC_8_12_3, RSMRST_PWRGD.curr_state_RNISEFS1_0_LC_8_12_4, RSMRST_PWRGD.curr_state_1_LC_8_12_5 }
set_location LT_8_12 8 12
ble_pack PCH_PWRGD.count_esr_RNO_0_15_LC_8_13_0 { PCH_PWRGD.count_esr_RNO_0[15] }
ble_pack VPP_VDDQ.count_esr_RNI7CQO_15_LC_8_13_1 { VPP_VDDQ.count_esr_RNI7CQO[15] }
ble_pack VPP_VDDQ.count_esr_RNIRFM64_15_LC_8_13_2 { VPP_VDDQ.count_esr_RNIRFM64[15] }
ble_pack VPP_VDDQ.curr_state_RNIQQ0D7_1_LC_8_13_3 { VPP_VDDQ.curr_state_RNIQQ0D7[1] }
ble_pack VPP_VDDQ.count_esr_RNO_0_15_LC_8_13_4 { VPP_VDDQ.count_esr_RNO_0[15] }
ble_pack RSMRST_PWRGD.count_esr_RNO_0_15_LC_8_13_5 { RSMRST_PWRGD.count_esr_RNO_0[15] }
ble_pack VPP_VDDQ.count_RNIFC141_11_LC_8_13_6 { VPP_VDDQ.count_RNIFC141[11] }
clb_pack LT_8_13 { PCH_PWRGD.count_esr_RNO_0_15_LC_8_13_0, VPP_VDDQ.count_esr_RNI7CQO_15_LC_8_13_1, VPP_VDDQ.count_esr_RNIRFM64_15_LC_8_13_2, VPP_VDDQ.curr_state_RNIQQ0D7_1_LC_8_13_3, VPP_VDDQ.count_esr_RNO_0_15_LC_8_13_4, RSMRST_PWRGD.count_esr_RNO_0_15_LC_8_13_5, VPP_VDDQ.count_RNIFC141_11_LC_8_13_6 }
set_location LT_8_13 8 13
ble_pack VPP_VDDQ.count_0_LC_8_14_0 { VPP_VDDQ.count_RNO[0], VPP_VDDQ.count[0], VPP_VDDQ.un1_count_1_cry_0_c }
ble_pack VPP_VDDQ.count_1_LC_8_14_1 { VPP_VDDQ.count_RNO[1], VPP_VDDQ.count[1], VPP_VDDQ.un1_count_1_cry_1_c }
ble_pack VPP_VDDQ.count_2_LC_8_14_2 { VPP_VDDQ.count_RNO[2], VPP_VDDQ.count[2], VPP_VDDQ.un1_count_1_cry_2_c }
ble_pack VPP_VDDQ.count_3_LC_8_14_3 { VPP_VDDQ.count_RNO[3], VPP_VDDQ.count[3], VPP_VDDQ.un1_count_1_cry_3_c }
ble_pack VPP_VDDQ.count_4_LC_8_14_4 { VPP_VDDQ.count_RNO[4], VPP_VDDQ.count[4], VPP_VDDQ.un1_count_1_cry_4_c }
ble_pack VPP_VDDQ.count_5_LC_8_14_5 { VPP_VDDQ.count_RNO[5], VPP_VDDQ.count[5], VPP_VDDQ.un1_count_1_cry_5_c }
ble_pack VPP_VDDQ.count_6_LC_8_14_6 { VPP_VDDQ.count_RNO[6], VPP_VDDQ.count[6], VPP_VDDQ.un1_count_1_cry_6_c }
ble_pack VPP_VDDQ.count_7_LC_8_14_7 { VPP_VDDQ.count_RNO[7], VPP_VDDQ.count[7], VPP_VDDQ.un1_count_1_cry_7_c }
clb_pack LT_8_14 { VPP_VDDQ.count_0_LC_8_14_0, VPP_VDDQ.count_1_LC_8_14_1, VPP_VDDQ.count_2_LC_8_14_2, VPP_VDDQ.count_3_LC_8_14_3, VPP_VDDQ.count_4_LC_8_14_4, VPP_VDDQ.count_5_LC_8_14_5, VPP_VDDQ.count_6_LC_8_14_6, VPP_VDDQ.count_7_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack VPP_VDDQ.count_8_LC_8_15_0 { VPP_VDDQ.count_RNO[8], VPP_VDDQ.count[8], VPP_VDDQ.un1_count_1_cry_8_c }
ble_pack VPP_VDDQ.count_9_LC_8_15_1 { VPP_VDDQ.count_RNO[9], VPP_VDDQ.count[9], VPP_VDDQ.un1_count_1_cry_9_c }
ble_pack VPP_VDDQ.count_10_LC_8_15_2 { VPP_VDDQ.count_RNO[10], VPP_VDDQ.count[10], VPP_VDDQ.un1_count_1_cry_10_c }
ble_pack VPP_VDDQ.count_11_LC_8_15_3 { VPP_VDDQ.count_RNO[11], VPP_VDDQ.count[11], VPP_VDDQ.un1_count_1_cry_11_c }
ble_pack VPP_VDDQ.count_12_LC_8_15_4 { VPP_VDDQ.count_RNO[12], VPP_VDDQ.count[12], VPP_VDDQ.un1_count_1_cry_12_c }
ble_pack VPP_VDDQ.count_13_LC_8_15_5 { VPP_VDDQ.count_RNO[13], VPP_VDDQ.count[13], VPP_VDDQ.un1_count_1_cry_13_c }
ble_pack VPP_VDDQ.count_14_LC_8_15_6 { VPP_VDDQ.count_RNO[14], VPP_VDDQ.count[14], VPP_VDDQ.un1_count_1_cry_14_c }
ble_pack VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0_LC_8_15_7 { VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_8_15 { VPP_VDDQ.count_8_LC_8_15_0, VPP_VDDQ.count_9_LC_8_15_1, VPP_VDDQ.count_10_LC_8_15_2, VPP_VDDQ.count_11_LC_8_15_3, VPP_VDDQ.count_12_LC_8_15_4, VPP_VDDQ.count_13_LC_8_15_5, VPP_VDDQ.count_14_LC_8_15_6, VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0_LC_8_15_7 }
set_location LT_8_15 8 15
ble_pack VPP_VDDQ.count_esr_15_LC_8_16_0 { VPP_VDDQ.count_esr_RNO[15], VPP_VDDQ.count_esr[15] }
clb_pack LT_8_16 { VPP_VDDQ.count_esr_15_LC_8_16_0 }
set_location LT_8_16 8 16
ble_pack COUNTER.counter_6_LC_9_9_1 { COUNTER.counter_RNO[6], COUNTER.counter[6] }
ble_pack COUNTER.un4_counter_1_c_RNO_LC_9_9_3 { COUNTER.un4_counter_1_c_RNO }
ble_pack COUNTER.counter_1_LC_9_9_5 { COUNTER.counter_RNO[1], COUNTER.counter[1] }
ble_pack COUNTER.counter_5_LC_9_9_7 { COUNTER.counter_RNO[5], COUNTER.counter[5] }
clb_pack LT_9_9 { COUNTER.counter_6_LC_9_9_1, COUNTER.un4_counter_1_c_RNO_LC_9_9_3, COUNTER.counter_1_LC_9_9_5, COUNTER.counter_5_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack PCH_PWRGD.count_0_LC_9_11_0 { PCH_PWRGD.count_RNO[0], PCH_PWRGD.count[0], PCH_PWRGD.un1_count_1_cry_0_c }
ble_pack PCH_PWRGD.count_1_LC_9_11_1 { PCH_PWRGD.count_RNO[1], PCH_PWRGD.count[1], PCH_PWRGD.un1_count_1_cry_1_c }
ble_pack PCH_PWRGD.count_2_LC_9_11_2 { PCH_PWRGD.count_RNO[2], PCH_PWRGD.count[2], PCH_PWRGD.un1_count_1_cry_2_c }
ble_pack PCH_PWRGD.count_3_LC_9_11_3 { PCH_PWRGD.count_RNO[3], PCH_PWRGD.count[3], PCH_PWRGD.un1_count_1_cry_3_c }
ble_pack PCH_PWRGD.count_4_LC_9_11_4 { PCH_PWRGD.count_RNO[4], PCH_PWRGD.count[4], PCH_PWRGD.un1_count_1_cry_4_c }
ble_pack PCH_PWRGD.count_5_LC_9_11_5 { PCH_PWRGD.count_RNO[5], PCH_PWRGD.count[5], PCH_PWRGD.un1_count_1_cry_5_c }
ble_pack PCH_PWRGD.count_6_LC_9_11_6 { PCH_PWRGD.count_RNO[6], PCH_PWRGD.count[6], PCH_PWRGD.un1_count_1_cry_6_c }
ble_pack PCH_PWRGD.count_7_LC_9_11_7 { PCH_PWRGD.count_RNO[7], PCH_PWRGD.count[7], PCH_PWRGD.un1_count_1_cry_7_c }
clb_pack LT_9_11 { PCH_PWRGD.count_0_LC_9_11_0, PCH_PWRGD.count_1_LC_9_11_1, PCH_PWRGD.count_2_LC_9_11_2, PCH_PWRGD.count_3_LC_9_11_3, PCH_PWRGD.count_4_LC_9_11_4, PCH_PWRGD.count_5_LC_9_11_5, PCH_PWRGD.count_6_LC_9_11_6, PCH_PWRGD.count_7_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack PCH_PWRGD.count_8_LC_9_12_0 { PCH_PWRGD.count_RNO[8], PCH_PWRGD.count[8], PCH_PWRGD.un1_count_1_cry_8_c }
ble_pack PCH_PWRGD.count_9_LC_9_12_1 { PCH_PWRGD.count_RNO[9], PCH_PWRGD.count[9], PCH_PWRGD.un1_count_1_cry_9_c }
ble_pack PCH_PWRGD.count_10_LC_9_12_2 { PCH_PWRGD.count_RNO[10], PCH_PWRGD.count[10], PCH_PWRGD.un1_count_1_cry_10_c }
ble_pack PCH_PWRGD.count_11_LC_9_12_3 { PCH_PWRGD.count_RNO[11], PCH_PWRGD.count[11], PCH_PWRGD.un1_count_1_cry_11_c }
ble_pack PCH_PWRGD.count_12_LC_9_12_4 { PCH_PWRGD.count_RNO[12], PCH_PWRGD.count[12], PCH_PWRGD.un1_count_1_cry_12_c }
ble_pack PCH_PWRGD.count_13_LC_9_12_5 { PCH_PWRGD.count_RNO[13], PCH_PWRGD.count[13], PCH_PWRGD.un1_count_1_cry_13_c }
ble_pack PCH_PWRGD.count_14_LC_9_12_6 { PCH_PWRGD.count_RNO[14], PCH_PWRGD.count[14], PCH_PWRGD.un1_count_1_cry_14_c }
ble_pack PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_9_12_7 { PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_9_12 { PCH_PWRGD.count_8_LC_9_12_0, PCH_PWRGD.count_9_LC_9_12_1, PCH_PWRGD.count_10_LC_9_12_2, PCH_PWRGD.count_11_LC_9_12_3, PCH_PWRGD.count_12_LC_9_12_4, PCH_PWRGD.count_13_LC_9_12_5, PCH_PWRGD.count_14_LC_9_12_6, PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack PCH_PWRGD.count_esr_15_LC_9_13_0 { PCH_PWRGD.count_esr_RNO[15], PCH_PWRGD.count_esr[15] }
clb_pack LT_9_13 { PCH_PWRGD.count_esr_15_LC_9_13_0 }
set_location LT_9_13 9 13
ble_pack RSMRST_PWRGD.count_0_LC_9_14_0 { RSMRST_PWRGD.count_RNO[0], RSMRST_PWRGD.count[0], RSMRST_PWRGD.un1_count_1_cry_0_c }
ble_pack RSMRST_PWRGD.count_1_LC_9_14_1 { RSMRST_PWRGD.count_RNO[1], RSMRST_PWRGD.count[1], RSMRST_PWRGD.un1_count_1_cry_1_c }
ble_pack RSMRST_PWRGD.count_2_LC_9_14_2 { RSMRST_PWRGD.count_RNO[2], RSMRST_PWRGD.count[2], RSMRST_PWRGD.un1_count_1_cry_2_c }
ble_pack RSMRST_PWRGD.count_3_LC_9_14_3 { RSMRST_PWRGD.count_RNO[3], RSMRST_PWRGD.count[3], RSMRST_PWRGD.un1_count_1_cry_3_c }
ble_pack RSMRST_PWRGD.count_4_LC_9_14_4 { RSMRST_PWRGD.count_RNO[4], RSMRST_PWRGD.count[4], RSMRST_PWRGD.un1_count_1_cry_4_c }
ble_pack RSMRST_PWRGD.count_5_LC_9_14_5 { RSMRST_PWRGD.count_RNO[5], RSMRST_PWRGD.count[5], RSMRST_PWRGD.un1_count_1_cry_5_c }
ble_pack RSMRST_PWRGD.count_6_LC_9_14_6 { RSMRST_PWRGD.count_RNO[6], RSMRST_PWRGD.count[6], RSMRST_PWRGD.un1_count_1_cry_6_c }
ble_pack RSMRST_PWRGD.count_7_LC_9_14_7 { RSMRST_PWRGD.count_RNO[7], RSMRST_PWRGD.count[7], RSMRST_PWRGD.un1_count_1_cry_7_c }
clb_pack LT_9_14 { RSMRST_PWRGD.count_0_LC_9_14_0, RSMRST_PWRGD.count_1_LC_9_14_1, RSMRST_PWRGD.count_2_LC_9_14_2, RSMRST_PWRGD.count_3_LC_9_14_3, RSMRST_PWRGD.count_4_LC_9_14_4, RSMRST_PWRGD.count_5_LC_9_14_5, RSMRST_PWRGD.count_6_LC_9_14_6, RSMRST_PWRGD.count_7_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack RSMRST_PWRGD.count_8_LC_9_15_0 { RSMRST_PWRGD.count_RNO[8], RSMRST_PWRGD.count[8], RSMRST_PWRGD.un1_count_1_cry_8_c }
ble_pack RSMRST_PWRGD.count_9_LC_9_15_1 { RSMRST_PWRGD.count_RNO[9], RSMRST_PWRGD.count[9], RSMRST_PWRGD.un1_count_1_cry_9_c }
ble_pack RSMRST_PWRGD.count_10_LC_9_15_2 { RSMRST_PWRGD.count_RNO[10], RSMRST_PWRGD.count[10], RSMRST_PWRGD.un1_count_1_cry_10_c }
ble_pack RSMRST_PWRGD.count_11_LC_9_15_3 { RSMRST_PWRGD.count_RNO[11], RSMRST_PWRGD.count[11], RSMRST_PWRGD.un1_count_1_cry_11_c }
ble_pack RSMRST_PWRGD.count_12_LC_9_15_4 { RSMRST_PWRGD.count_RNO[12], RSMRST_PWRGD.count[12], RSMRST_PWRGD.un1_count_1_cry_12_c }
ble_pack RSMRST_PWRGD.count_13_LC_9_15_5 { RSMRST_PWRGD.count_RNO[13], RSMRST_PWRGD.count[13], RSMRST_PWRGD.un1_count_1_cry_13_c }
ble_pack RSMRST_PWRGD.count_14_LC_9_15_6 { RSMRST_PWRGD.count_RNO[14], RSMRST_PWRGD.count[14], RSMRST_PWRGD.un1_count_1_cry_14_c }
ble_pack RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_9_15_7 { RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_9_15 { RSMRST_PWRGD.count_8_LC_9_15_0, RSMRST_PWRGD.count_9_LC_9_15_1, RSMRST_PWRGD.count_10_LC_9_15_2, RSMRST_PWRGD.count_11_LC_9_15_3, RSMRST_PWRGD.count_12_LC_9_15_4, RSMRST_PWRGD.count_13_LC_9_15_5, RSMRST_PWRGD.count_14_LC_9_15_6, RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_9_15_7 }
set_location LT_9_15 9 15
ble_pack RSMRST_PWRGD.count_esr_15_LC_9_16_0 { RSMRST_PWRGD.count_esr_RNO[15], RSMRST_PWRGD.count_esr[15] }
clb_pack LT_9_16 { RSMRST_PWRGD.count_esr_15_LC_9_16_0 }
set_location LT_9_16 9 16
ble_pack COUNTER.counter_3_LC_11_9_0 { COUNTER.counter_RNO[3], COUNTER.counter[3] }
ble_pack COUNTER.un4_counter_0_c_RNO_LC_11_9_1 { COUNTER.un4_counter_0_c_RNO }
ble_pack COUNTER.counter_2_LC_11_9_2 { COUNTER.counter_RNO[2], COUNTER.counter[2] }
ble_pack COUNTER.un4_counter_3_c_RNO_LC_11_9_3 { COUNTER.un4_counter_3_c_RNO }
ble_pack COUNTER.un4_counter_2_c_RNO_LC_11_9_4 { COUNTER.un4_counter_2_c_RNO }
ble_pack COUNTER.counter_4_LC_11_9_5 { COUNTER.counter_RNO[4], COUNTER.counter[4] }
clb_pack LT_11_9 { COUNTER.counter_3_LC_11_9_0, COUNTER.un4_counter_0_c_RNO_LC_11_9_1, COUNTER.counter_2_LC_11_9_2, COUNTER.un4_counter_3_c_RNO_LC_11_9_3, COUNTER.un4_counter_2_c_RNO_LC_11_9_4, COUNTER.counter_4_LC_11_9_5 }
set_location LT_11_9 11 9
ble_pack COUNTER.un4_counter_4_c_RNO_LC_11_10_4 { COUNTER.un4_counter_4_c_RNO }
ble_pack COUNTER.counter_0_LC_11_10_7 { COUNTER.counter_RNO[0], COUNTER.counter[0] }
clb_pack LT_11_10 { COUNTER.un4_counter_4_c_RNO_LC_11_10_4, COUNTER.counter_0_LC_11_10_7 }
set_location LT_11_10 11 10
ble_pack COUNTER.un4_counter_5_c_RNO_LC_11_11_0 { COUNTER.un4_counter_5_c_RNO }
ble_pack PCH_PWRGD.count_RNI7J2B_3_LC_11_11_1 { PCH_PWRGD.count_RNI7J2B[3] }
ble_pack COUNTER.un4_counter_6_c_RNO_LC_11_11_2 { COUNTER.un4_counter_6_c_RNO }
ble_pack PCH_PWRGD.count_RNI0H1S_1_LC_11_11_3 { PCH_PWRGD.count_RNI0H1S[1] }
ble_pack PCH_PWRGD.count_RNILMOE2_2_LC_11_11_4 { PCH_PWRGD.count_RNILMOE2[2] }
ble_pack PCH_PWRGD.count_RNIESHJ_1_LC_11_11_5 { PCH_PWRGD.count_RNIESHJ[1] }
clb_pack LT_11_11 { COUNTER.un4_counter_5_c_RNO_LC_11_11_0, PCH_PWRGD.count_RNI7J2B_3_LC_11_11_1, COUNTER.un4_counter_6_c_RNO_LC_11_11_2, PCH_PWRGD.count_RNI0H1S_1_LC_11_11_3, PCH_PWRGD.count_RNILMOE2_2_LC_11_11_4, PCH_PWRGD.count_RNIESHJ_1_LC_11_11_5 }
set_location LT_11_11 11 11
ble_pack PCH_PWRGD.count_RNIN5IJ_0_LC_11_12_0 { PCH_PWRGD.count_RNIN5IJ[0] }
ble_pack PCH_PWRGD.count_esr_RNIF0S41_15_LC_11_12_1 { PCH_PWRGD.count_esr_RNIF0S41[15] }
ble_pack COUNTER.un4_counter_7_c_RNO_LC_11_12_2 { COUNTER.un4_counter_7_c_RNO }
ble_pack PCH_PWRGD.count_esr_RNIFR521_15_LC_11_12_4 { PCH_PWRGD.count_esr_RNIFR521[15] }
ble_pack PCH_PWRGD.count_esr_RNIRGCK2_15_LC_11_12_5 { PCH_PWRGD.count_esr_RNIRGCK2[15] }
ble_pack ALL_SYS_PWRGD.un8_sys_pwrgd_LC_11_12_7 { ALL_SYS_PWRGD.un8_sys_pwrgd }
clb_pack LT_11_12 { PCH_PWRGD.count_RNIN5IJ_0_LC_11_12_0, PCH_PWRGD.count_esr_RNIF0S41_15_LC_11_12_1, COUNTER.un4_counter_7_c_RNO_LC_11_12_2, PCH_PWRGD.count_esr_RNIFR521_15_LC_11_12_4, PCH_PWRGD.count_esr_RNIRGCK2_15_LC_11_12_5, ALL_SYS_PWRGD.un8_sys_pwrgd_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack PCH_PWRGD.un2_sys_pwrok_LC_11_13_0 { PCH_PWRGD.un2_sys_pwrok }
ble_pack ALL_SYS_PWRGD.curr_state_RNIUU4I2_0_LC_11_13_1 { ALL_SYS_PWRGD.curr_state_RNIUU4I2[0] }
ble_pack PCH_PWRGD.curr_state_RNIHKNI1_0_LC_11_13_3 { PCH_PWRGD.curr_state_RNIHKNI1[0] }
ble_pack VR_READY_VCCIN_RNI1AP41_LC_11_13_7 { VR_READY_VCCIN_RNI1AP41 }
clb_pack LT_11_13 { PCH_PWRGD.un2_sys_pwrok_LC_11_13_0, ALL_SYS_PWRGD.curr_state_RNIUU4I2_0_LC_11_13_1, PCH_PWRGD.curr_state_RNIHKNI1_0_LC_11_13_3, VR_READY_VCCIN_RNI1AP41_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack PCH_PWRGD.curr_state_0_LC_11_14_2 { PCH_PWRGD.curr_state_7_1_0_.m4, PCH_PWRGD.curr_state[0] }
ble_pack ALL_SYS_PWRGD.curr_state_1_LC_11_14_3 { ALL_SYS_PWRGD.curr_state_7_1_0_.m6, ALL_SYS_PWRGD.curr_state[1] }
ble_pack PCH_PWRGD.curr_state_1_LC_11_14_6 { PCH_PWRGD.curr_state_7_1_0_.m6, PCH_PWRGD.curr_state[1] }
clb_pack LT_11_14 { PCH_PWRGD.curr_state_0_LC_11_14_2, ALL_SYS_PWRGD.curr_state_1_LC_11_14_3, PCH_PWRGD.curr_state_1_LC_11_14_6 }
set_location LT_11_14 11 14
ble_pack ALL_SYS_PWRGD.un8_sys_pwrgd_1_LC_12_6_6 { ALL_SYS_PWRGD.un8_sys_pwrgd_1 }
clb_pack LT_12_6 { ALL_SYS_PWRGD.un8_sys_pwrgd_1_LC_12_6_6 }
set_location LT_12_6 12 6
ble_pack COUNTER.counter_1_cry_1_c_LC_12_9_0 { COUNTER.counter_1_cry_1_c }
ble_pack COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_12_9_1 { COUNTER.counter_1_cry_1_THRU_LUT4_0, COUNTER.counter_1_cry_2_c }
ble_pack COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_12_9_2 { COUNTER.counter_1_cry_2_THRU_LUT4_0, COUNTER.counter_1_cry_3_c }
ble_pack COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_12_9_3 { COUNTER.counter_1_cry_3_THRU_LUT4_0, COUNTER.counter_1_cry_4_c }
ble_pack COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_12_9_4 { COUNTER.counter_1_cry_4_THRU_LUT4_0, COUNTER.counter_1_cry_5_c }
ble_pack COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_12_9_5 { COUNTER.counter_1_cry_5_THRU_LUT4_0, COUNTER.counter_1_cry_6_c }
ble_pack COUNTER.counter_7_LC_12_9_6 { COUNTER.counter_RNO[7], COUNTER.counter[7], COUNTER.counter_1_cry_7_c }
ble_pack COUNTER.counter_8_LC_12_9_7 { COUNTER.counter_RNO[8], COUNTER.counter[8], COUNTER.counter_1_cry_8_c }
clb_pack LT_12_9 { COUNTER.counter_1_cry_1_c_LC_12_9_0, COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_12_9_1, COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_12_9_2, COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_12_9_3, COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_12_9_4, COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_12_9_5, COUNTER.counter_7_LC_12_9_6, COUNTER.counter_8_LC_12_9_7 }
set_location LT_12_9 12 9
ble_pack COUNTER.counter_9_LC_12_10_0 { COUNTER.counter_RNO[9], COUNTER.counter[9], COUNTER.counter_1_cry_9_c }
ble_pack COUNTER.counter_10_LC_12_10_1 { COUNTER.counter_RNO[10], COUNTER.counter[10], COUNTER.counter_1_cry_10_c }
ble_pack COUNTER.counter_11_LC_12_10_2 { COUNTER.counter_RNO[11], COUNTER.counter[11], COUNTER.counter_1_cry_11_c }
ble_pack COUNTER.counter_12_LC_12_10_3 { COUNTER.counter_RNO[12], COUNTER.counter[12], COUNTER.counter_1_cry_12_c }
ble_pack COUNTER.counter_13_LC_12_10_4 { COUNTER.counter_RNO[13], COUNTER.counter[13], COUNTER.counter_1_cry_13_c }
ble_pack COUNTER.counter_14_LC_12_10_5 { COUNTER.counter_RNO[14], COUNTER.counter[14], COUNTER.counter_1_cry_14_c }
ble_pack COUNTER.counter_15_LC_12_10_6 { COUNTER.counter_RNO[15], COUNTER.counter[15], COUNTER.counter_1_cry_15_c }
ble_pack COUNTER.counter_16_LC_12_10_7 { COUNTER.counter_RNO[16], COUNTER.counter[16], COUNTER.counter_1_cry_16_c }
clb_pack LT_12_10 { COUNTER.counter_9_LC_12_10_0, COUNTER.counter_10_LC_12_10_1, COUNTER.counter_11_LC_12_10_2, COUNTER.counter_12_LC_12_10_3, COUNTER.counter_13_LC_12_10_4, COUNTER.counter_14_LC_12_10_5, COUNTER.counter_15_LC_12_10_6, COUNTER.counter_16_LC_12_10_7 }
set_location LT_12_10 12 10
ble_pack COUNTER.counter_17_LC_12_11_0 { COUNTER.counter_RNO[17], COUNTER.counter[17], COUNTER.counter_1_cry_17_c }
ble_pack COUNTER.counter_18_LC_12_11_1 { COUNTER.counter_RNO[18], COUNTER.counter[18], COUNTER.counter_1_cry_18_c }
ble_pack COUNTER.counter_19_LC_12_11_2 { COUNTER.counter_RNO[19], COUNTER.counter[19], COUNTER.counter_1_cry_19_c }
ble_pack COUNTER.counter_20_LC_12_11_3 { COUNTER.counter_RNO[20], COUNTER.counter[20], COUNTER.counter_1_cry_20_c }
ble_pack COUNTER.counter_21_LC_12_11_4 { COUNTER.counter_RNO[21], COUNTER.counter[21], COUNTER.counter_1_cry_21_c }
ble_pack COUNTER.counter_22_LC_12_11_5 { COUNTER.counter_RNO[22], COUNTER.counter[22], COUNTER.counter_1_cry_22_c }
ble_pack COUNTER.counter_23_LC_12_11_6 { COUNTER.counter_RNO[23], COUNTER.counter[23], COUNTER.counter_1_cry_23_c }
ble_pack COUNTER.counter_24_LC_12_11_7 { COUNTER.counter_RNO[24], COUNTER.counter[24], COUNTER.counter_1_cry_24_c }
clb_pack LT_12_11 { COUNTER.counter_17_LC_12_11_0, COUNTER.counter_18_LC_12_11_1, COUNTER.counter_19_LC_12_11_2, COUNTER.counter_20_LC_12_11_3, COUNTER.counter_21_LC_12_11_4, COUNTER.counter_22_LC_12_11_5, COUNTER.counter_23_LC_12_11_6, COUNTER.counter_24_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack COUNTER.counter_25_LC_12_12_0 { COUNTER.counter_RNO[25], COUNTER.counter[25], COUNTER.counter_1_cry_25_c }
ble_pack COUNTER.counter_26_LC_12_12_1 { COUNTER.counter_RNO[26], COUNTER.counter[26], COUNTER.counter_1_cry_26_c }
ble_pack COUNTER.counter_27_LC_12_12_2 { COUNTER.counter_RNO[27], COUNTER.counter[27], COUNTER.counter_1_cry_27_c }
ble_pack COUNTER.counter_28_LC_12_12_3 { COUNTER.counter_RNO[28], COUNTER.counter[28], COUNTER.counter_1_cry_28_c }
ble_pack COUNTER.counter_29_LC_12_12_4 { COUNTER.counter_RNO[29], COUNTER.counter[29], COUNTER.counter_1_cry_29_c }
ble_pack COUNTER.counter_30_LC_12_12_5 { COUNTER.counter_RNO[30], COUNTER.counter[30], COUNTER.counter_1_cry_30_c }
ble_pack COUNTER.counter_31_LC_12_12_6 { COUNTER.counter_RNO[31], COUNTER.counter[31] }
clb_pack LT_12_12 { COUNTER.counter_25_LC_12_12_0, COUNTER.counter_26_LC_12_12_1, COUNTER.counter_27_LC_12_12_2, COUNTER.counter_28_LC_12_12_3, COUNTER.counter_29_LC_12_12_4, COUNTER.counter_30_LC_12_12_5, COUNTER.counter_31_LC_12_12_6 }
set_location LT_12_12 12 12
ble_pack ALL_SYS_PWRGD.ALL_SYS_PWRGD_LC_12_13_0 { ALL_SYS_PWRGD.ALL_SYS_PWRGD_RNO, ALL_SYS_PWRGD.ALL_SYS_PWRGD }
ble_pack PCH_PWRGD.pch_pwrok_LC_12_13_6 { PCH_PWRGD.pch_pwrok_RNO, PCH_PWRGD.pch_pwrok }
clb_pack LT_12_13 { ALL_SYS_PWRGD.ALL_SYS_PWRGD_LC_12_13_0, PCH_PWRGD.pch_pwrok_LC_12_13_6 }
set_location LT_12_13 12 13
ble_pack ALL_SYS_PWRGD.curr_state_0_LC_12_14_5 { ALL_SYS_PWRGD.curr_state_7_1_0_.m4, ALL_SYS_PWRGD.curr_state[0] }
clb_pack LT_12_14 { ALL_SYS_PWRGD.curr_state_0_LC_12_14_5 }
set_location LT_12_14 12 14
set_io VR_READY_VCCINAUX B21
set_io V33A_ENn A5
set_io V1P8A_EN A1
set_io VDDQ_EN A48
set_io VCCST_OVERRIDE_3V3 B10
set_io V5S_OK B20
set_io SLP_S3n A38
set_io SLP_S0n A46
set_io V5S_ENn B3
set_io V1P8A_OK B2
set_io PWRBTNn A39
set_io PWRBTN_LED B36
set_io GPIO_FPGA_SoC_2 B14
set_io VCCIN_VR_PROCHOT_FPGA A31
set_io SLP_SUSn A40
set_io CPU_C10_GATE_N A13
set_io VCCST_EN A4
set_io V33DSW_OK A2
set_io TPM_GPIO B30
set_io SUSWARN_N B9
set_io PLTRSTn B11
set_io GPIO_FPGA_SoC_4 A25
set_io VR_READY_VCCIN B5
set_io V5A_OK B8
set_io RSMRSTn B35
set_io FPGA_OSC B12
set_io VCCST_PWRGD A14
set_io SYS_PWROK B27
set_io SPI_FP_IO2 A9
set_io SATAXPCIE1_FPGA B31
set_io GPIO_FPGA_EXP_1 A44
set_io VCCINAUX_VR_PROCHOT_FPGA B24
set_io VCCINAUX_VR_PE B22
set_io HDA_SDO_ATP B7
set_io GPIO_FPGA_EXP_2 A45
set_io VPP_EN A33
set_io VDDQ_OK B26
set_io SUSACK_N A11
set_io SLP_S4n B34
set_io VCCST_CPU_OK B19
set_io VCCINAUX_EN A26
set_io V33S_OK A34
set_io V33S_ENn A3
set_io GPIO_FPGA_SoC_1 A19
set_io DSW_PWROK B4
set_io V5A_EN A10
set_io GPIO_FPGA_SoC_3 B13
set_io VR_PROCHOT_FPGA_OUT_N A32
set_io VPP_OK B1
set_io VCCIN_VR_PE A27
set_io VCCIN_EN B29
set_io SOC_SPKR A47
set_io SLP_S5n A41
set_io V12_MAIN_MON A43
set_io SPI_FP_IO3 A8
set_io SATAXPCIE0_FPGA B23
set_io V33A_OK A35
set_io PCH_PWROK A12
set_io FPGA_SLP_WLAN_N A16
