set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_10_0_ 8 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_9_0_ 12 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_10_0_ 12 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_11_0_ 12 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_12_0_ 12 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_14_0_ 8 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_15_0_ 8 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_16_0_ 8 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_14_0_ 9 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_15_0_ 9 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_16_0_ 9 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_13_0_ 9 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_11_0_ 7 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_12_0_ 7 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_13_0_ 7 13 0 #ICE_CARRY_IN_MUX
set_location VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 8 15 7 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 9 15 7 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 9 12 7 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 7 12 7 #SB_CARRY
set_location CONSTANT_ONE_LUT4 5 14 0 #SB_LUT4
set_location COUNTER_un4_counter_7_THRU_LUT4_0 8 10 0 #SB_LUT4
set_location COUNTER.counter_1_cry_5_THRU_LUT4_0 12 9 5 #SB_LUT4
set_location COUNTER.counter_1_cry_4_THRU_LUT4_0 12 9 4 #SB_LUT4
set_location COUNTER.counter_1_cry_3_THRU_LUT4_0 12 9 3 #SB_LUT4
set_location COUNTER.counter_1_cry_2_THRU_LUT4_0 12 9 2 #SB_LUT4
set_location COUNTER.counter_1_cry_1_THRU_LUT4_0 12 9 1 #SB_LUT4
set_location VPP_VDDQ.count[4] 8 14 4 #SB_DFFSR
set_location VPP_VDDQ.delayed_vddq_pwrgd 8 10 7 #SB_DFF
set_location COUNTER.counter_RNO[6] 9 9 1 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[11] 7 12 3 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNIRFM64[15] 8 13 2 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[6] 9 14 6 #SB_LUT4
set_location COUNTER.un4_counter_4_c 8 9 4 #SB_CARRY
set_location COUNTER.counter[2] 11 9 2 #SB_DFF
set_location COUNTER.counter_1_cry_4_c 12 9 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[6] 7 11 6 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_11_c 8 15 3 #SB_CARRY
set_location COUNTER.counter_RNO[19] 12 11 2 #SB_LUT4
set_location ALL_SYS_PWRGD.ALL_SYS_PWRGD 12 13 0 #SB_DFFE
set_location RSMRST_PWRGD.count[3] 9 14 3 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_13_c 9 12 5 #SB_CARRY
set_location COUNTER.un4_counter_5_c 8 9 5 #SB_CARRY
set_location COUNTER.counter_RNO[28] 12 12 3 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state_RNIUU4I2[0] 11 13 1 #SB_LUT4
set_location PCH_PWRGD.count_esr_RNIRGCK2[15] 11 12 5 #SB_LUT4
set_location PCH_PWRGD.count_RNO[11] 9 12 3 #SB_LUT4
set_location PCH_PWRGD.count[14] 9 12 6 #SB_DFFSR
set_location COUNTER.tmp_RNIRH3P 8 11 7 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_RNIR5E01[0] 8 10 1 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_14_c 9 12 6 #SB_CARRY
set_location COUNTER.un4_counter_2_c 8 9 2 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNIDNTT1[0] 6 12 7 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[8] 9 15 0 #SB_LUT4
set_location COUNTER.counter[8] 12 9 7 #SB_DFF
set_location COUNTER.counter_1_cry_10_c 12 10 1 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[8] 7 12 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[9] 8 15 1 #SB_LUT4
set_location COUNTER.counter_RNO[14] 12 10 5 #SB_LUT4
set_location COUNTER.counter[16] 12 10 7 #SB_DFF
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m4 12 14 5 #SB_LUT4
set_location VPP_VDDQ.count_RNO[13] 8 15 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_7_c 9 14 7 #SB_CARRY
set_location VPP_VDDQ.count[11] 8 15 3 #SB_DFFSR
set_location VPP_VDDQ.count[1] 8 14 1 #SB_DFFSR
set_location RSMRST_PWRGD.count[9] 9 15 1 #SB_DFFSR
set_location ALL_SYS_PWRGD.un1_count_1_cry_5_c 7 11 5 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_8_c 8 15 0 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO 8 10 7 #SB_LUT4
set_location VPP_VDDQ.curr_state_RNID2IU[0] 8 10 5 #SB_LUT4
set_location COUNTER.un4_counter_6_c_RNO 11 11 2 #SB_LUT4
set_location COUNTER.counter_RNO[5] 9 9 7 #SB_LUT4
set_location RSMRST_PWRGD.count[12] 9 15 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_24_c 12 11 7 #SB_CARRY
set_location COUNTER.counter[19] 12 11 2 #SB_DFF
set_location ALL_SYS_PWRGD.curr_state[1] 11 14 3 #SB_DFFE
set_location COUNTER.counter[30] 12 12 5 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_6_c 7 11 6 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_6_c 8 14 6 #SB_CARRY
set_location RSMRST_PWRGD.count[4] 9 14 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_2_c 12 9 1 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_14_c 9 15 6 #SB_CARRY
set_location PCH_PWRGD.count_RNO[4] 9 11 4 #SB_LUT4
set_location PCH_PWRGD.count[13] 9 12 5 #SB_DFFSR
set_location COUNTER.counter_1_cry_5_c 12 9 4 #SB_CARRY
set_location RSMRST_PWRGD.un6_rsmrst_pwrok 6 12 2 #SB_LUT4
set_location PCH_PWRGD.count[8] 9 12 0 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_10_c 8 15 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[6] 8 14 6 #SB_LUT4
set_location COUNTER.counter[13] 12 10 4 #SB_DFF
set_location ALL_SYS_PWRGD.count[11] 7 12 3 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[12] 9 15 4 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_12_c 9 12 4 #SB_CARRY
set_location ALL_SYS_PWRGD.curr_state_RNI72Q21[0] 8 11 0 #SB_LUT4
set_location VPP_VDDQ.count[2] 8 14 2 #SB_DFFSR
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4 8 12 3 #SB_LUT4
set_location COUNTER.counter_RNO[21] 12 11 4 #SB_LUT4
set_location ALL_SYS_PWRGD.count[0] 7 11 0 #SB_DFFSR
set_location PCH_PWRGD.pch_pwrok 12 13 6 #SB_DFFE
set_location COUNTER.counter_RNO[8] 12 9 7 #SB_LUT4
set_location COUNTER.counter[20] 12 11 3 #SB_DFF
set_location COUNTER.counter_1_cry_23_c 12 11 6 #SB_CARRY
set_location ALL_SYS_PWRGD.count_esr_RNO[15] 7 13 0 #SB_LUT4
set_location PCH_PWRGD.curr_state_RNIBS171[0] 8 11 3 #SB_LUT4
set_location PCH_PWRGD.count[2] 9 11 2 #SB_DFFSR
set_location COUNTER.counter_1_cry_12_c 12 10 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count_esr_RNIV28F[15] 7 10 3 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_1_c 8 14 1 #SB_CARRY
set_location COUNTER.counter_1_cry_22_c 12 11 5 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_9_c 8 15 1 #SB_CARRY
set_location PCH_PWRGD.count_RNO[1] 9 11 1 #SB_LUT4
set_location COUNTER.counter_RNO[2] 11 9 2 #SB_LUT4
set_location COUNTER.counter_1_cry_25_c 12 12 0 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_8_c 7 12 0 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNIV07U[10] 7 10 7 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_0_c 8 14 0 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNO[1] 6 11 2 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNO[15] 8 16 0 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[2] 9 14 2 #SB_LUT4
set_location COUNTER.counter[6] 9 9 1 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[2] 7 11 2 #SB_LUT4
set_location VPP_VDDQ.count_RNO[3] 8 14 3 #SB_LUT4
set_location RSMRST_PWRGD.RSMRSTn 6 11 3 #SB_DFFE
set_location PCH_PWRGD.curr_state[0] 11 14 2 #SB_DFFE
set_location COUNTER.counter[10] 12 10 1 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_7_c 7 11 7 #SB_CARRY
set_location ALL_SYS_PWRGD.count[14] 7 12 6 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_7_c 8 14 7 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_5_c 9 14 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[11] 9 15 3 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_12_c 7 12 4 #SB_CARRY
set_location RSMRST_PWRGD.curr_state[1] 8 12 5 #SB_DFFE
set_location PCH_PWRGD.curr_state_7_1_0_.m6 11 14 6 #SB_LUT4
set_location COUNTER.counter_RNO[24] 12 11 7 #SB_LUT4
set_location COUNTER.counter_1_cry_27_c 12 12 2 #SB_CARRY
set_location ALL_SYS_PWRGD.count[5] 7 11 5 #SB_DFFSR
set_location VPP_VDDQ.count_RNO[8] 8 15 0 #SB_LUT4
set_location VPP_VDDQ.count_RNIFC141[11] 8 13 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_0_c 9 11 0 #SB_CARRY
set_location PCH_PWRGD.count_RNILMOE2[2] 11 11 4 #SB_LUT4
set_location COUNTER.counter_RNO[17] 12 11 0 #SB_LUT4
set_location COUNTER.counter[27] 12 12 2 #SB_DFF
set_location COUNTER.counter[15] 12 10 6 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNI027U[11] 7 10 5 #SB_LUT4
set_location VPP_VDDQ.count_RNO[10] 8 15 2 #SB_LUT4
set_location SLP_S3n_RNINQRN_0 1 12 5 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[14] 9 15 6 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_5_c 8 14 5 #SB_CARRY
set_location VPP_VDDQ.count[12] 8 15 4 #SB_DFFSR
set_location VPP_VDDQ.count[0] 8 14 0 #SB_DFFSR
set_location RSMRST_PWRGD.un1_count_1_cry_1_c 9 14 1 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m6 8 12 5 #SB_LUT4
set_location RSMRST_PWRGD.count[8] 9 15 0 #SB_DFFSR
set_location PCH_PWRGD.count_RNO[9] 9 12 1 #SB_LUT4
set_location PCH_PWRGD.count[7] 9 11 7 #SB_DFFSR
set_location COUNTER.counter_1_cry_26_c 12 12 1 #SB_CARRY
set_location COUNTER.counter_1_cry_16_c 12 10 7 #SB_CARRY
set_location COUNTER.counter_RNO[10] 12 10 1 #SB_LUT4
set_location COUNTER.counter[22] 12 11 5 #SB_DFF
set_location RSMRST_PWRGD.count[13] 9 15 5 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_2_c 9 11 2 #SB_CARRY
set_location COUNTER.un4_counter_5_c_RNO 11 11 0 #SB_LUT4
set_location VPP_VDDQ.count[5] 8 14 5 #SB_DFFSR
set_location RSMRST_PWRGD.un1_count_1_cry_13_c 9 15 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNIR8OP4[10] 7 14 0 #SB_LUT4
set_location PCH_PWRGD.count_esr_RNO[15] 9 13 0 #SB_LUT4
set_location PCH_PWRGD.count_RNO[2] 9 11 2 #SB_LUT4
set_location COUNTER.counter[18] 12 11 1 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_4_c 7 11 4 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_11_c 7 12 3 #SB_CARRY
set_location RSMRST_PWRGD.count_esr_RNIE05H[15] 7 15 2 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_5_c 9 11 5 #SB_CARRY
set_location COUNTER.counter_RNO[1] 9 9 5 #SB_LUT4
set_location COUNTER.counter[29] 12 12 4 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[10] 7 12 2 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[7] 9 14 7 #SB_LUT4
set_location RSMRST_PWRGD.count[7] 9 14 7 #SB_DFFSR
set_location COUNTER.un4_counter_7_c_RNO 11 12 2 #SB_LUT4
set_location COUNTER.un4_counter_2_c_RNO 11 9 4 #SB_LUT4
set_location COUNTER.counter[1] 9 9 5 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_3_c 7 11 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[7] 7 11 7 #SB_LUT4
set_location VPP_VDDQ.count_RNO[0] 8 14 0 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_4_c 9 11 4 #SB_CARRY
set_location PCH_PWRGD.count_esr_RNO_0[15] 8 13 0 #SB_LUT4
set_location PCH_PWRGD.count_RNO[7] 9 11 7 #SB_LUT4
set_location PCH_PWRGD.count[10] 9 12 2 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_10_c 9 12 2 #SB_CARRY
set_location PCH_PWRGD.count_RNIN5IJ[0] 11 12 0 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNIT0U61[4] 7 10 6 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNIR6KI3[10] 7 10 0 #SB_LUT4
set_location VPP_VDDQ.count[8] 8 15 0 #SB_DFFSR
set_location RSMRST_PWRGD.count_esr_RNO_0[15] 8 13 5 #SB_LUT4
set_location RSMRST_PWRGD.count[0] 9 14 0 #SB_DFFSR
set_location PCH_PWRGD.count_esr[15] 9 13 0 #SB_DFFESR
set_location COUNTER.counter_RNO[27] 12 12 2 #SB_LUT4
set_location COUNTER.counter[4] 11 9 5 #SB_DFF
set_location ALL_SYS_PWRGD.count[6] 7 11 6 #SB_DFFSR
set_location VPP_VDDQ.curr_state[0] 6 11 6 #SB_DFFE
set_location VPP_VDDQ.count_RNO[5] 8 14 5 #SB_LUT4
set_location PCH_PWRGD.count_RNO[10] 9 12 2 #SB_LUT4
set_location COUNTER.un4_counter_1_c_RNO 9 9 3 #SB_LUT4
set_location COUNTER.counter[12] 12 10 3 #SB_DFF
set_location ALL_SYS_PWRGD.count[12] 7 12 4 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[13] 9 15 5 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_6_c 9 11 6 #SB_CARRY
set_location COUNTER.un4_counter_7_c 8 9 7 #SB_CARRY
set_location VPP_VDDQ.count_esr_RNI7CQO[15] 8 13 1 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[9] 9 15 1 #SB_LUT4
set_location PCH_PWRGD.curr_state_7_1_0_.m4 11 14 2 #SB_LUT4
set_location PCH_PWRGD.count_esr_RNIF0S41[15] 11 12 1 #SB_LUT4
set_location PCH_PWRGD.count[4] 9 11 4 #SB_DFFSR
set_location COUNTER.counter_RNO[22] 12 11 5 #SB_LUT4
set_location COUNTER.counter_1_cry_9_c 12 10 0 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[9] 7 12 1 #SB_LUT4
set_location ALL_SYS_PWRGD.count[3] 7 11 3 #SB_DFFSR
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 8 10 6 #SB_LUT4
set_location COUNTER.counter_RNO[9] 12 10 0 #SB_LUT4
set_location COUNTER.counter_RNO[15] 12 10 6 #SB_LUT4
set_location COUNTER.counter[21] 12 11 4 #SB_DFF
set_location COUNTER.counter_1_cry_20_c 12 11 3 #SB_CARRY
set_location COUNTER.counter[17] 12 11 0 #SB_DFF
set_location VPP_VDDQ.count_RNO[12] 8 15 4 #SB_LUT4
set_location COUNTER.counter_1_cry_18_c 12 11 1 #SB_CARRY
set_location VPP_VDDQ.count[6] 8 14 6 #SB_DFFSR
set_location VPP_VDDQ.count[10] 8 15 2 #SB_DFFSR
set_location PCH_PWRGD.count[1] 9 11 1 #SB_DFFSR
set_location COUNTER.counter_RNO[4] 11 9 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_6_c 9 14 6 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[4] 9 14 4 #SB_LUT4
set_location RSMRST_PWRGD.count[11] 9 15 3 #SB_DFFSR
set_location COUNTER.counter_1_cry_3_c 12 9 2 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[4] 7 11 4 #SB_LUT4
set_location VPP_VDDQ.count_RNIVJP51[3] 6 14 1 #SB_LUT4
set_location PCH_PWRGD.count_RNO[0] 9 11 0 #SB_LUT4
set_location COUNTER.counter_RNO[30] 12 12 5 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state[0] 12 14 5 #SB_DFFE
set_location ALL_SYS_PWRGD.count[9] 7 12 1 #SB_DFFSR
set_location RSMRST_PWRGD.count_esr[15] 9 16 0 #SB_DFFESR
set_location PCH_PWRGD.un1_count_1_cry_3_c 9 11 3 #SB_CARRY
set_location COUNTER.counter_RNO[3] 11 9 0 #SB_LUT4
set_location COUNTER.counter[31] 12 12 6 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[12] 7 12 4 #SB_LUT4
set_location VPP_VDDQ.un1_vddq_pwrgd 6 12 4 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_12_c 9 15 4 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[1] 9 14 1 #SB_LUT4
set_location RSMRST_PWRGD.count[5] 9 14 5 #SB_DFFSR
set_location PCH_PWRGD.count_RNI0H1S[1] 11 11 3 #SB_LUT4
set_location COUNTER.un4_counter_3_c 8 9 3 #SB_CARRY
set_location COUNTER.counter[7] 12 9 6 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_10_c 7 12 2 #SB_CARRY
set_location ALL_SYS_PWRGD.count_esr_RNO_0[15] 8 11 2 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[1] 7 11 1 #SB_LUT4
set_location VPP_VDDQ.count_RNO[2] 8 14 2 #SB_LUT4
set_location PCH_PWRGD.curr_state[1] 11 14 6 #SB_DFFE
set_location PCH_PWRGD.count_RNO[5] 9 11 5 #SB_LUT4
set_location PCH_PWRGD.count_RNO[13] 9 12 5 #SB_LUT4
set_location PCH_PWRGD.count[12] 9 12 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_11_c 12 10 2 #SB_CARRY
set_location ALL_SYS_PWRGD.un8_sys_pwrgd_1 12 6 6 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNO_0[15] 8 13 4 #SB_LUT4
set_location PCH_PWRGD.count[9] 9 12 1 #SB_DFFSR
set_location COUNTER.counter_RNO[25] 12 12 0 #SB_LUT4
set_location ALL_SYS_PWRGD.count[4] 7 11 4 #SB_DFFSR
set_location VPP_VDDQ.count_RNO[7] 8 14 7 #SB_LUT4
set_location COUNTER.un4_counter_1_c 8 9 1 #SB_CARRY
set_location COUNTER.un4_counter_0_c_RNO 11 9 1 #SB_LUT4
set_location COUNTER.counter_RNO[16] 12 10 7 #SB_LUT4
set_location COUNTER.counter[24] 12 11 7 #SB_DFF
set_location COUNTER.counter[14] 12 10 5 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_14_c 7 12 6 #SB_CARRY
set_location ALL_SYS_PWRGD.count[10] 7 12 2 #SB_DFFSR
set_location VPP_VDDQ.count_RNO[11] 8 15 3 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_2_c 9 14 2 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_RNII9BF7[1] 8 12 1 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_8_c 9 12 0 #SB_CARRY
set_location PCH_PWRGD.curr_state_RNIHKNI1[0] 11 13 3 #SB_LUT4
set_location COUNTER.tmp 8 10 2 #SB_DFF
set_location VPP_VDDQ.curr_state_RNIQQ0D7[1] 8 13 3 #SB_LUT4
set_location VPP_VDDQ.count[3] 8 14 3 #SB_DFFSR
set_location VPP_VDDQ.count[13] 8 15 5 #SB_DFFSR
set_location RSMRST_PWRGD.un1_count_1_cry_11_c 9 15 3 #SB_CARRY
set_location PCH_PWRGD.count_RNO[8] 9 12 0 #SB_LUT4
set_location PCH_PWRGD.count[6] 9 11 6 #SB_DFFSR
set_location COUNTER.counter_RNO[20] 12 11 3 #SB_LUT4
set_location ALL_SYS_PWRGD.count[1] 7 11 1 #SB_DFFSR
set_location COUNTER.un4_counter_6_c 8 9 6 #SB_CARRY
set_location COUNTER.counter_RNO[13] 12 10 4 #SB_LUT4
set_location COUNTER.counter[23] 12 11 6 #SB_DFF
set_location COUNTER.counter_1_cry_7_c 12 9 6 #SB_CARRY
set_location RSMRST_PWRGD.count[14] 9 15 6 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_13_c 8 15 5 #SB_CARRY
set_location PCH_PWRGD.count[3] 9 11 3 #SB_DFFSR
set_location ALL_SYS_PWRGD.un1_count_1_cry_9_c 7 12 1 #SB_CARRY
set_location VR_READY_VCCIN_RNI1AP41 11 13 7 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_8_c 9 15 0 #SB_CARRY
set_location RSMRST_PWRGD.count[6] 9 14 6 #SB_DFFSR
set_location COUNTER.counter_1_cry_15_c 12 10 6 #SB_CARRY
set_location PCH_PWRGD.count_RNO[6] 9 11 6 #SB_LUT4
set_location PCH_PWRGD.count[11] 9 12 3 #SB_DFFSR
set_location ALL_SYS_PWRGD.un8_sys_pwrgd 11 12 7 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_0_c 7 11 0 #SB_CARRY
set_location PCH_PWRGD.count_RNIN5IJ_0[0] 8 11 6 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[14] 7 12 6 #SB_LUT4
set_location VPP_VDDQ.curr_state_RNO[0] 6 11 6 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[3] 9 14 3 #SB_LUT4
set_location COUNTER.counter[5] 9 9 7 #SB_DFF
set_location COUNTER.counter_1_cry_30_c 12 12 5 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[3] 7 11 3 #SB_LUT4
set_location VPP_VDDQ.curr_state_RNICR092[0] 6 12 5 #SB_LUT4
set_location VPP_VDDQ.curr_state[1] 6 11 2 #SB_DFFE
set_location VPP_VDDQ.count_RNO[4] 8 14 4 #SB_LUT4
set_location COUNTER.counter[11] 12 10 2 #SB_DFF
set_location ALL_SYS_PWRGD.count[13] 7 12 5 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_2_c 8 14 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[14] 8 15 6 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[10] 9 15 2 #SB_LUT4
set_location RSMRST_PWRGD.curr_state[0] 8 12 3 #SB_DFFE
set_location PCH_PWRGD.pch_pwrok_RNO 12 13 6 #SB_LUT4
set_location COUNTER.counter_RNO[23] 12 11 6 #SB_LUT4
set_location ALL_SYS_PWRGD.count_esr[15] 7 13 0 #SB_DFFESR
set_location ALL_SYS_PWRGD.count[2] 7 11 2 #SB_DFFSR
set_location SLP_S3n_RNINQRN 2 12 6 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_10_c 9 15 2 #SB_CARRY
set_location PCH_PWRGD.count_RNO[14] 9 12 6 #SB_LUT4
set_location PCH_PWRGD.count_RNIO26E5[0] 8 11 4 #SB_LUT4
set_location COUNTER.counter[26] 12 12 1 #SB_DFF
set_location VPP_VDDQ.count_esr[15] 8 16 0 #SB_DFFESR
set_location PCH_PWRGD.un2_sys_pwrok 11 13 0 #SB_LUT4
set_location COUNTER.un4_counter_4_c_RNO 11 10 4 #SB_LUT4
set_location COUNTER.counter_1_cry_1_c 12 9 0 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_13_c 7 12 5 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_RNISEFS1[0] 8 12 4 #SB_LUT4
set_location PCH_PWRGD.count_RNIESHJ[1] 11 11 5 #SB_LUT4
set_location PCH_PWRGD.count[0] 9 11 0 #SB_DFFSR
set_location COUNTER.un4_counter_0_c 8 9 0 #SB_CARRY
set_location VPP_VDDQ.un1_curr_state13_1 6 12 6 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_14_c 8 15 6 #SB_CARRY
set_location COUNTER.counter_RNO[11] 12 10 2 #SB_LUT4
set_location COUNTER.counter_1_cry_8_c 12 9 7 #SB_CARRY
set_location VPP_VDDQ.count_RNI63141[10] 8 11 5 #SB_LUT4
set_location VPP_VDDQ.count[14] 8 15 6 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNIAEU91[12] 7 14 7 #SB_LUT4
set_location PCH_PWRGD.count_RNO[3] 9 11 3 #SB_LUT4
set_location ALL_SYS_PWRGD.count[8] 7 12 0 #SB_DFFSR
set_location COUNTER.counter_RNO[0] 11 10 7 #SB_LUT4
set_location COUNTER.counter[28] 12 12 3 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[13] 7 12 5 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_12_c 8 15 4 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_4_c 9 14 4 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[0] 9 14 0 #SB_LUT4
set_location COUNTER.un4_counter_3_c_RNO 11 9 3 #SB_LUT4
set_location COUNTER.counter_1_cry_13_c 12 10 4 #SB_CARRY
set_location COUNTER.counter[0] 11 10 7 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[0] 7 11 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[1] 8 14 1 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_3_c 9 14 3 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_7_c 9 11 7 #SB_CARRY
set_location COUNTER.counter_1_cry_14_c 12 10 5 #SB_CARRY
set_location VPP_VDDQ.count[9] 8 15 1 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location RSMRST_PWRGD.count[1] 9 14 1 #SB_DFFSR
set_location COUNTER.counter_RNO[26] 12 12 1 #SB_LUT4
set_location COUNTER.counter_1_cry_29_c 12 12 4 #SB_CARRY
set_location COUNTER.counter_1_cry_21_c 12 11 4 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_1_c 7 11 1 #SB_CARRY
set_location ALL_SYS_PWRGD.count[7] 7 11 7 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_4_c 8 14 4 #SB_CARRY
set_location PCH_PWRGD.count_RNI7J2B[3] 11 11 1 #SB_LUT4
set_location COUNTER.counter[25] 12 12 0 #SB_DFF
set_location COUNTER.counter_1_cry_17_c 12 11 0 #SB_CARRY
set_location COUNTER.tmp_RNO 8 10 2 #SB_LUT4
set_location COUNTER.counter_1_cry_28_c 12 12 3 #SB_CARRY
set_location PCH_PWRGD.count[5] 9 11 5 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_3_c 8 14 3 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 8 10 3 #SB_LUT4
set_location COUNTER.counter_RNO[12] 12 10 3 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m6 11 14 3 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_9_c 9 15 1 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_2_c 7 11 2 #SB_CARRY
set_location VPP_VDDQ.count[7] 8 14 7 #SB_DFFSR
set_location RSMRST_PWRGD.count_esr_RNO[15] 9 16 0 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state_RNIKNST6[1] 8 11 1 #SB_LUT4
set_location ALL_SYS_PWRGD.ALL_SYS_PWRGD_RNO 12 13 0 #SB_LUT4
set_location VPP_VDDQ.un1_vddq_en 2 14 6 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_0_c 9 14 0 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_11_c 9 12 3 #SB_CARRY
set_location COUNTER.counter_RNO[7] 12 9 6 #SB_LUT4
set_location COUNTER.counter_1_cry_6_c 12 9 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[5] 9 14 5 #SB_LUT4
set_location RSMRST_PWRGD.count[10] 9 15 2 #SB_DFFSR
set_location PCH_PWRGD.count_esr_RNIFR521[15] 11 12 4 #SB_LUT4
set_location COUNTER.counter[3] 11 9 0 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[5] 7 11 5 #SB_LUT4
set_location COUNTER.counter_RNO[31] 12 12 6 #SB_LUT4
set_location COUNTER.counter_RNO[18] 12 11 1 #SB_LUT4
set_location RSMRST_PWRGD.count[2] 9 14 2 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_1_c 9 11 1 #SB_CARRY
set_location COUNTER.counter_RNO[29] 12 12 4 #SB_LUT4
set_location RSMRST_PWRGD.count_RNIF1MK1[3] 7 15 4 #SB_LUT4
set_location RSMRST_PWRGD.RSMRSTn_RNO 6 11 3 #SB_LUT4
set_location PCH_PWRGD.count_RNO[12] 9 12 4 #SB_LUT4
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ 6 13 5 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_9_c 9 12 1 #SB_CARRY
set_location RSMRST_PWRGD.count_RNIKOU91[10] 7 14 5 #SB_LUT4
set_location COUNTER.counter[9] 12 10 0 #SB_DFF
set_location COUNTER.counter_1_cry_19_c 12 11 2 #SB_CARRY
set_io VR_READY_VCCINAUX B21
set_io V33A_ENn A5
set_io V1P8A_EN A1
set_io VDDQ_EN A48
set_io VCCST_OVERRIDE_3V3 B10
set_io V5S_OK B20
set_io SLP_S3n A38
set_io SLP_S0n A46
set_io V5S_ENn B3
set_io V1P8A_OK B2
set_io PWRBTNn A39
set_io PWRBTN_LED B36
set_io GPIO_FPGA_SoC_2 B14
set_io VCCIN_VR_PROCHOT_FPGA A31
set_io SLP_SUSn A40
set_io CPU_C10_GATE_N A13
set_io VCCST_EN A4
set_io V33DSW_OK A2
set_io TPM_GPIO B30
set_io SUSWARN_N B9
set_io PLTRSTn B11
set_io GPIO_FPGA_SoC_4 A25
set_io VR_READY_VCCIN B5
set_io V5A_OK B8
set_io RSMRSTn B35
set_io FPGA_OSC B12
set_io VCCST_PWRGD A14
set_io SYS_PWROK B27
set_io SPI_FP_IO2 A9
set_io SATAXPCIE1_FPGA B31
set_io GPIO_FPGA_EXP_1 A44
set_io VCCINAUX_VR_PROCHOT_FPGA B24
set_io VCCINAUX_VR_PE B22
set_io HDA_SDO_ATP B7
set_io GPIO_FPGA_EXP_2 A45
set_io VPP_EN A33
set_io VDDQ_OK B26
set_io SUSACK_N A11
set_io SLP_S4n B34
set_io VCCST_CPU_OK B19
set_io VCCINAUX_EN A26
set_io V33S_OK A34
set_io V33S_ENn A3
set_io GPIO_FPGA_SoC_1 A19
set_io DSW_PWROK B4
set_io V5A_EN A10
set_io GPIO_FPGA_SoC_3 B13
set_io VR_PROCHOT_FPGA_OUT_N A32
set_io VPP_OK B1
set_io VCCIN_VR_PE A27
set_io VCCIN_EN B29
set_io SOC_SPKR A47
set_io SLP_S5n A41
set_io V12_MAIN_MON A43
set_io SPI_FP_IO3 A8
set_io SATAXPCIE0_FPGA B23
set_io V33A_OK A35
set_io PCH_PWROK A12
set_io FPGA_SLP_WLAN_N A16
