set_location IN_MUX_bfv_7_7_0_ 7 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_8_0_ 7 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_9_0_ 7 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_5_0_ 1 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_5_0_ 2 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_7_0_ 4 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_5_0_ 4 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_6_0_ 4 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_12_0_ 1 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_12_0_ 2 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_11_0_ 1 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_9_0_ 1 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_14_0_ 5 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_15_0_ 5 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_16_0_ 5 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_5_0_ 11 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_6_0_ 11 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_1_0_ 9 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_2_0_ 9 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_3_0_ 9 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_4_0_ 9 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_14_0_ 8 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_15_0_ 8 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_16_0_ 8 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_11_0_ 8 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_12_0_ 8 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_13_0_ 2 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_14_0_ 2 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_5_0_ 6 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_6_0_ 6 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_7_0_ 6 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_9_0_ 5 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_10_0_ 5 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_9_0_ 9 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_10_0_ 9 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_2_0_ 2 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_3_0_ 2 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_4_0_ 2 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_1_0_ 6 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_2_0_ 6 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_3_0_ 6 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_5_0_ 8 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_6_0_ 8 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_7_0_ 8 7 0 #ICE_CARRY_IN_MUX
set_location POWERLED.un1_count_1_cry_14_c_THRU_CRY_1 5 15 7 #SB_CARRY
set_location POWERLED.un1_count_1_cry_14_c_THRU_CRY_0 5 15 6 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 8 15 7 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 8 12 7 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_14_c_THRU_CRY_0 9 10 7 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 2 3 7 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 8 6 7 #SB_CARRY
set_location CONSTANT_ONE_LUT4 6 14 5 #SB_LUT4
set_location POWERLED.mult1_un54_sum_cry_7_THRU_LUT4_0 4 5 6 #SB_LUT4
set_location POWERLED.mult1_un54_sum_cry_6_THRU_LUT4_0 4 5 5 #SB_LUT4
set_location POWERLED.CO2_THRU_LUT4_0 6 7 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_15_THRU_LUT4_0 2 15 0 #SB_LUT4
set_location POWERLED.dutycycle_cry_c_0_THRU_CRY_0 7 7 0 #SB_CARRY
set_location COUNTER.un4_counter_7_THRU_LUT4_0 11 6 0 #SB_LUT4
set_location COUNTER.counter_1_cry_5_THRU_LUT4_0 9 1 5 #SB_LUT4
set_location COUNTER.counter_1_cry_4_THRU_LUT4_0 9 1 4 #SB_LUT4
set_location COUNTER.counter_1_cry_3_THRU_LUT4_0 9 1 3 #SB_LUT4
set_location COUNTER.counter_1_cry_2_THRU_LUT4_0 9 1 2 #SB_LUT4
set_location COUNTER.counter_1_cry_1_THRU_LUT4_0 9 1 1 #SB_LUT4
set_location POWERLED.pwm_out_THRU_LUT4_0 1 14 6 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state_7_1_0__m4_0_0_a6_ALL_SYS_PWRGD.ALL_SYS_PWRGD_REP_LUT4_0 11 7 7 #SB_LUT4
set_location POWERLED.count_off_RNO[6] 5 9 6 #SB_LUT4
set_location COUNTER.un4_counter_0_c 11 5 0 #SB_CARRY
set_location COUNTER.counter_RNO[11] 9 2 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_3_c 2 5 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_i 2 8 5 #SB_LUT4
set_location POWERLED.count_RNO[7] 5 14 6 #SB_LUT4
set_location VPP_VDDQ.count_RNI63141[10] 9 15 5 #SB_LUT4
set_location VPP_VDDQ.count[14] 8 15 6 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_sbtinv[8] 2 7 7 #SB_LUT4
set_location POWERLED.dutycycle[4] 7 7 5 #SB_DFFE
set_location COUNTER.counter_RNO[0] 9 5 1 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a6_0 11 14 2 #SB_LUT4
set_location POWERLED.func_state_RNIG4MR5[1] 6 10 5 #SB_LUT4
set_location COUNTER.counter_1_cry_13_c 9 2 4 #SB_CARRY
set_location VPP_VDDQ.count_RNO[1] 8 14 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_i 2 8 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_6_s 1 8 4 #SB_LUT4
set_location RSMRST_PWRGD.count[1] 8 11 1 #SB_DFFSR
set_location COUNTER.counter_1_cry_29_c 9 4 4 #SB_CARRY
set_location COUNTER.counter_1_cry_21_c 9 3 4 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_1_c 8 5 1 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_10_c_RNIA3U72 6 6 3 #SB_LUT4
set_location POWERLED.dutycycle_RNO[2] 7 6 3 #SB_LUT4
set_location COUNTER.tmp_RNO 9 7 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_i[8] 2 8 1 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_2_c 5 9 2 #SB_CARRY
set_location POWERLED.count_clk_RNO[14] 9 10 6 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_9_c 8 12 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_4_c 1 11 2 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_2_c 8 5 2 #SB_CARRY
set_location HDA_STRAP.count[2] 6 1 2 #SB_DFFE
set_location RSMRST_PWRGD.count_RNO[5] 8 11 5 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_4_c 5 9 4 #SB_CARRY
set_location POWERLED.dutycycle_cry_c_RNIV95M9[4] 7 7 6 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_11_c 5 10 3 #SB_CARRY
set_location POWERLED.dutycycle_fast_RNIBPSK[6] 6 8 4 #SB_LUT4
set_location POWERLED.count_clk[14] 9 10 6 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_9_c 2 3 1 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_2_c_RNISCL92 6 5 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_14_0_c_RNIS9ES1 6 6 7 #SB_LUT4
set_location POWERLED.func_state_RNO_3[1] 6 12 2 #SB_LUT4
set_location VPP_VDDQ.count_RNIFC141[11] 9 15 6 #SB_LUT4
set_location COUNTER.counter_RNO[17] 9 3 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[10] 8 15 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_axb_7 2 12 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_sbtinv[8] 1 10 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_i 4 9 6 #SB_LUT4
set_location POWERLED.un1_count_2_cry_4_c_inv 2 13 4 #SB_LUT4
set_location POWERLED.un1_count_1_cry_9_c 5 15 0 #SB_CARRY
set_location POWERLED.count_RNO[1] 4 13 2 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_5_c 8 14 5 #SB_CARRY
set_location VPP_VDDQ.count[12] 8 15 4 #SB_DFFSR
set_location VPP_VDDQ.count[0] 8 14 0 #SB_DFFSR
set_location HDA_STRAP.count[7] 6 1 7 #SB_DFFE
set_location COUNTER.counter_1_cry_26_c 9 4 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_axb_8 1 7 5 #SB_LUT4
set_location POWERLED.func_state_RNIV4PD6[1] 4 10 1 #SB_LUT4
set_location COUNTER.counter[22] 9 3 5 #SB_DFF
set_location RSMRST_PWRGD.count[13] 8 12 5 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_1_c_inv 1 13 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_7_c 1 8 5 #SB_CARRY
set_location POWERLED.un1_count_2_cry_1_c_inv 2 13 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_0_c 2 13 0 #SB_CARRY
set_location POWERLED.un1_count_1_cry_7_c 5 14 6 #SB_CARRY
set_location POWERLED.func_state_RNO_2[0] 6 11 1 #SB_LUT4
set_location POWERLED.dutycycle_RNI8M7Q[2] 7 5 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_3_s 1 5 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_sbtinv[8] 4 7 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_5_s 2 12 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_sbtinv[8] 1 8 7 #SB_LUT4
set_location COUNTER.counter[18] 9 3 1 #SB_DFF
set_location POWERLED.pwm_out_RNO_0 4 14 2 #SB_LUT4
set_location POWERLED.count[5] 5 14 4 #SB_DFFSR
set_location RSMRST_PWRGD.count[7] 8 11 7 #SB_DFFSR
set_location POWERLED.un1_dutycycle_1_cry_3_c 6 5 3 #SB_CARRY
set_location POWERLED.dutycycle_RNI2V0P[10] 6 8 5 #SB_LUT4
set_location POWERLED.count_off_RNI4D6S[10] 5 11 1 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_3_c 8 5 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_i[8] 2 10 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_0_c_inv 2 13 0 #SB_LUT4
set_location POWERLED.count_clk_RNO[9] 9 10 1 #SB_LUT4
set_location PCH_PWRGD.count_RNO[7] 2 2 7 #SB_LUT4
set_location HDA_STRAP.curr_state_RNO[2] 5 2 1 #SB_LUT4
set_location POWERLED.count_clk[11] 9 10 3 #SB_DFFSR
set_location PCH_PWRGD.count_RNIN5IJ[0] 1 3 1 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNIR6KI3[10] 9 6 5 #SB_LUT4
set_location RSMRST_PWRGD.count_esr_RNO_0[15] 9 13 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_sbtinv[8] 2 12 7 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_8_c 5 10 0 #SB_CARRY
set_location POWERLED.un1_count_2_cry_9_c_inv 2 14 1 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[1] 7 7 2 #SB_CARRY
set_location POWERLED.dutycycle_RNO[10] 7 8 3 #SB_LUT4
set_location POWERLED.count_clk_RNI446AD[7] 7 11 7 #SB_LUT4
set_location COUNTER.counter[4] 9 5 4 #SB_DFF
set_location VPP_VDDQ.curr_state[0] 6 15 5 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_2_c 2 7 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_5_c 4 7 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un40_sum_i_l_ofx[5] 5 7 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_1_c 1 13 1 #SB_CARRY
set_location POWERLED.un1_count_1_cry_4_c 5 14 3 #SB_CARRY
set_location POWERLED.count_off_RNO[8] 5 10 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_2_c 2 9 0 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_8_c 6 6 0 #SB_CARRY
set_location POWERLED.un1_count_1_cry_14_c 5 15 5 #SB_CARRY
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m6_0_0 11 7 5 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNI7CQO[15] 9 15 3 #SB_LUT4
set_location POWERLED.count_clk_RNIP6BO1[4] 8 9 5 #SB_LUT4
set_location PCH_PWRGD.curr_state_7_1_0_.m4 1 4 1 #SB_LUT4
set_location HDA_STRAP.count[4] 6 1 4 #SB_DFFE
set_location COUNTER.counter_RNO[22] 9 3 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_6_s 2 5 4 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_13_c_RNI6CII1_0 5 5 3 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[12] 7 8 5 #SB_CARRY
set_location COUNTER.counter_RNO[9] 9 2 0 #SB_LUT4
set_location COUNTER.counter[21] 9 3 4 #SB_DFF
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_4_c 4 5 2 #SB_CARRY
set_location POWERLED.un1_count_2_cry_8_c_inv 2 14 0 #SB_LUT4
set_location POWERLED.un1_count_2_cry_15_c_inv 2 14 7 #SB_LUT4
set_location POWERLED.dutycycle_RNIO2TE[9] 7 5 4 #SB_LUT4
set_location PCH_PWRGD.count[1] 2 2 1 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_i[8] 2 8 3 #SB_LUT4
set_location POWERLED.un1_count_2_cry_10_c 2 14 2 #SB_CARRY
set_location POWERLED.dutycycle[13] 7 8 6 #SB_DFFE
set_location POWERLED.count[6] 5 14 5 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_4_s 2 6 2 #SB_LUT4
set_location POWERLED.count_off_RNIIKVR3[10] 5 11 3 #SB_LUT4
set_location HDA_STRAP.count_RNI63EA1[17] 7 2 4 #SB_LUT4
set_location POWERLED.un1_count_2_cry_15_c 2 14 7 #SB_CARRY
set_location POWERLED.count_clk_esr_RNO[15] 9 11 0 #SB_LUT4
set_location PCH_PWRGD.count_RNO[0] 2 2 0 #SB_LUT4
set_location ALL_SYS_PWRGD.count[9] 8 6 1 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_4_s 2 12 2 #SB_LUT4
set_location POWERLED.func_state_RNIIA93A[0] 6 11 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_3_c 2 2 3 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[2] 7 7 3 #SB_CARRY
set_location POWERLED.dutycycle_RNO[15] 7 9 0 #SB_LUT4
set_location COUNTER.un4_counter_3_c 11 5 3 #SB_CARRY
set_location COUNTER.counter[7] 9 1 6 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[1] 8 5 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_4_c 4 6 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_5_s 1 12 4 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_1_c_RNIOG672 6 5 2 #SB_LUT4
set_location POWERLED.count_clk_1_sqmuxa_5_0_a2 6 12 0 #SB_LUT4
set_location PCH_PWRGD.curr_state[1] 1 4 7 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_sbtinv[8] 1 7 7 #SB_LUT4
set_location POWERLED.count_clk_RNIJ13KB[7] 6 10 6 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_16_0_c 6 7 0 #SB_CARRY
set_location COUNTER.counter_RNO[25] 9 4 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_2_c 1 5 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_5_c 1 8 3 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_15_0_c 6 6 7 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_10_c 9 10 2 #SB_CARRY
set_location POWERLED.dutycycle[9] 7 8 2 #SB_DFFE
set_location COUNTER.counter[24] 9 3 7 #SB_DFF
set_location RSMRST_PWRGD.un1_count_1_cry_2_c 8 11 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_i 4 6 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_3_c 1 12 2 #SB_CARRY
set_location POWERLED.un1_count_1_cry_13_c 5 15 4 #SB_CARRY
set_location COUNTER.tmp 9 7 4 #SB_DFF
set_location RSMRST_PWRGD.un1_count_1_cry_11_c 8 12 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_s_8 1 11 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_5_s 2 9 3 #SB_LUT4
set_location POWERLED.count_clk_RNIPG2D1[2] 8 9 2 #SB_LUT4
set_location PCH_PWRGD.count[6] 2 2 6 #SB_DFFSR
set_location HDA_STRAP.un1_count_1_cry_2_c 6 1 2 #SB_CARRY
set_location POWERLED.func_state_RNIS9OC3[1] 7 10 1 #SB_LUT4
set_location POWERLED.dutycycle[14] 7 8 7 #SB_DFFE
set_location POWERLED.count[3] 5 14 2 #SB_DFFSR
set_location HDA_STRAP.count[16] 7 3 1 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_s_8 1 9 6 #SB_LUT4
set_location POWERLED.func_state_RNI0AN05_0[0] 6 11 0 #SB_LUT4
set_location POWERLED.count_off[9] 5 10 1 #SB_DFFE
set_location HDA_STRAP.count_RNO[8] 7 3 6 #SB_LUT4
set_location POWERLED.dutycycle_cry_c_RNI1C5M9[5] 7 7 7 #SB_LUT4
set_location POWERLED.count_clk_RNO[3] 9 9 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_4_s 4 7 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_3_c 4 5 1 #SB_CARRY
set_location POWERLED.func_state_RNO_1[1] 6 12 3 #SB_LUT4
set_location POWERLED.dutycycle_fast_RNO[5] 5 6 7 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNIRFM64[15] 9 15 7 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_7_c 6 1 7 #SB_CARRY
set_location COUNTER.un4_counter_4_c 11 5 4 #SB_CARRY
set_location COUNTER.counter[2] 9 5 6 #SB_DFF
set_location COUNTER.counter_1_cry_4_c 9 1 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[6] 8 5 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_2_c 2 11 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_5_s 1 7 3 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_7_c 5 9 7 #SB_CARRY
set_location POWERLED.count_clk[4] 9 9 4 #SB_DFFSR
set_location HDA_STRAP.count_RNO[15] 6 2 7 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_11_c 8 15 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_7_c 2 5 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_5_s 2 6 3 #SB_LUT4
set_location POWERLED.un1_count_clk_1_cry_5_c 9 9 5 #SB_CARRY
set_location POWERLED.dutycycle_fast_RNILMLM[6] 5 8 7 #SB_LUT4
set_location COUNTER.counter_RNO[19] 9 3 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_i[8] 2 10 7 #SB_LUT4
set_location POWERLED.dutycycle_RNITEUV5[5] 6 11 4 #SB_LUT4
set_location COUNTER.counter_RNO[28] 9 4 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_3_c 4 6 1 #SB_CARRY
set_location POWERLED.dutycycle_fast_RNI8MSK[5] 6 7 2 #SB_LUT4
set_location POWERLED.dutycycle_RNIH6QT[15] 8 8 5 #SB_LUT4
set_location POWERLED.dutycycle_RNIEJ021[4] 5 5 5 #SB_LUT4
set_location POWERLED.count[10] 5 15 1 #SB_DFFSR
set_location PCH_PWRGD.count_esr_RNIRGCK2[15] 1 3 2 #SB_LUT4
set_location PCH_PWRGD.count_RNO[11] 2 3 3 #SB_LUT4
set_location PCH_PWRGD.count[14] 2 3 6 #SB_DFFSR
set_location POWERLED.un1_count_2_cry_5_c_inv 2 13 5 #SB_LUT4
set_location POWERLED.dutycycle_RNI31MG_0[12] 7 5 2 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_14_c 2 3 6 #SB_CARRY
set_location COUNTER.un4_counter_2_c 11 5 2 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNIDNTT1[0] 7 14 1 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[8] 8 12 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_3_c 2 12 1 #SB_CARRY
set_location VPP_VDDQ.count_RNO[9] 8 15 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_2_s 1 12 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_i[8] 2 8 6 #SB_LUT4
set_location HDA_STRAP.count[15] 6 2 7 #SB_DFFE
set_location COUNTER.counter[16] 9 2 7 #SB_DFF
set_location POWERLED.count_off[6] 5 9 6 #SB_DFFE
set_location HDA_STRAP.count_RNO[5] 6 1 5 #SB_LUT4
set_location RSMRST_PWRGD.count[9] 8 12 1 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_5_c 1 5 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_6_s 2 12 4 #SB_LUT4
set_location POWERLED.count_clk_RNO[6] 9 9 6 #SB_LUT4
set_location POWERLED.count_RNICO6R[2] 4 14 6 #SB_LUT4
set_location POWERLED.VCCST_EN_i_i_0_a2 7 13 0 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_5_c 8 5 5 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_8_c 8 15 0 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO 7 14 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_7_c 1 6 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_sbtinv[8] 2 11 7 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[8] 7 8 1 #SB_CARRY
set_location HDA_STRAP.count_RNIB5IA5[0] 7 2 5 #SB_LUT4
set_location POWERLED.count_off_RNO[3] 5 9 3 #SB_LUT4
set_location POWERLED.count_clk[7] 9 9 7 #SB_DFFSR
set_location HDA_STRAP.count_RNO[10] 7 3 0 #SB_LUT4
set_location HDA_STRAP.HDA_SDO_FPGA_RNO 5 2 7 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state[1] 11 7 5 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_7_c 4 5 5 #SB_CARRY
set_location POWERLED.count_off_RNO[11] 5 10 3 #SB_LUT4
set_location POWERLED.count_clk_RNILEIU2[1] 8 10 7 #SB_LUT4
set_location COUNTER.counter[30] 9 4 5 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_6_c 8 5 6 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_6_c 8 14 6 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_3_s 4 7 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_6_s 1 11 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_4_c 2 9 2 #SB_CARRY
set_location POWERLED.func_state_RNO_0[0] 6 12 7 #SB_LUT4
set_location POWERLED.dutycycle_RNIFHLJ[0] 5 6 0 #SB_LUT4
set_location POWERLED.dutycycle_RNI75MG[15] 6 8 0 #SB_LUT4
set_location POWERLED.dutycycle[3] 7 7 4 #SB_DFFE
set_location POWERLED.count[13] 5 15 4 #SB_DFFSR
set_location PCH_PWRGD.count[13] 2 3 5 #SB_DFFSR
set_location POWERLED.un1_count_off_1_cry_0_c 5 9 0 #SB_CARRY
set_location POWERLED.count_RNO[12] 5 15 3 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_0_c 6 1 0 #SB_CARRY
set_location COUNTER.counter_1_cry_5_c 9 1 4 #SB_CARRY
set_location RSMRST_PWRGD.un6_rsmrst_pwrok 9 7 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_3_c 2 11 1 #SB_CARRY
set_location POWERLED.count_clk_esr_RNO_0[15] 8 10 4 #SB_LUT4
set_location PCH_PWRGD.count[8] 2 3 0 #SB_DFFSR
set_location HDA_STRAP.count_RNO_0[10] 6 2 2 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_10_c 8 15 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[6] 8 14 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_5_c 1 11 3 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_4_c 9 9 4 #SB_CARRY
set_location POWERLED.count[9] 5 15 0 #SB_DFFSR
set_location HDA_STRAP.count[10] 7 3 0 #SB_DFFE
set_location COUNTER.counter[13] 9 2 4 #SB_DFF
set_location ALL_SYS_PWRGD.count[11] 8 6 3 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[12] 8 12 4 #SB_LUT4
set_location POWERLED.un1_count_2_cry_12_c_inv 2 14 4 #SB_LUT4
set_location POWERLED.count_off[3] 5 9 3 #SB_DFFE
set_location HDA_STRAP.count_RNO[6] 8 2 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_7_c 2 9 5 #SB_CARRY
set_location POWERLED.count_clk_RNO[5] 9 9 5 #SB_LUT4
set_location ALL_SYS_PWRGD.count[0] 8 5 0 #SB_DFFSR
set_location VPP_VDDQ.curr_state_RNINMKE1[1] 7 14 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_2_c 2 6 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_4_s 2 7 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_3_s 1 8 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_14_c_inv 2 14 6 #SB_LUT4
set_location POWERLED.count_off_RNO[4] 5 9 4 #SB_LUT4
set_location POWERLED.count_off[12] 5 10 4 #SB_DFFE
set_location POWERLED.count_clk[2] 9 9 2 #SB_DFFSR
set_location HDA_STRAP.count_RNO[13] 6 2 5 #SB_LUT4
set_location POWERLED.count_off_RNO[14] 5 10 6 #SB_LUT4
set_location POWERLED.count_clk_RNO[11] 9 10 3 #SB_LUT4
set_location ALL_SYS_PWRGD.count_esr_RNIV28F[15] 9 6 4 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_1_c 8 14 1 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0_7 9 12 5 #SB_LUT4
set_location POWERLED.count_RNO[9] 5 15 0 #SB_LUT4
set_location COUNTER.counter_1_cry_22_c 9 3 5 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_9_c 8 15 1 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_12_c 6 6 4 #SB_CARRY
set_location POWERLED.dutycycle[6] 5 8 3 #SB_DFFE
set_location POWERLED.un1_count_1_cry_3_c 5 14 2 #SB_CARRY
set_location POWERLED.func_state_RNO[1] 5 12 1 #SB_LUT4
set_location POWERLED.dutycycle_RNIUUB41[6] 6 8 2 #SB_LUT4
set_location POWERLED.count_RNO[11] 5 15 2 #SB_LUT4
set_location COUNTER.counter_RNO[2] 9 5 6 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNO[15] 8 16 0 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[2] 8 11 2 #SB_LUT4
set_location POWERLED.dutycycle_RNO_0[0] 7 7 1 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_13_c 6 2 5 #SB_CARRY
set_location VPP_VDDQ.count_RNO[3] 8 14 3 #SB_LUT4
set_location RSMRST_PWRGD.RSMRSTn 11 14 2 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_6_c 4 5 4 #SB_CARRY
set_location COUNTER.counter[10] 9 2 1 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_7_c 8 5 7 #SB_CARRY
set_location ALL_SYS_PWRGD.count[14] 8 6 6 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_7_c 8 14 7 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[11] 8 12 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_s_8 1 6 6 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_11_c_RNI23HB2 6 6 4 #SB_LUT4
set_location POWERLED.dutycycle_fast[5] 5 6 7 #SB_DFFE
set_location POWERLED.count_off[0] 5 9 0 #SB_DFFE
set_location HDA_STRAP.count_RNO[3] 6 1 3 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_12_c 8 6 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_6_s 1 6 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_6_s 1 9 4 #SB_LUT4
set_location COUNTER.counter_1_cry_27_c 9 4 2 #SB_CARRY
set_location ALL_SYS_PWRGD.count[5] 8 5 5 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_4_s 2 11 2 #SB_LUT4
set_location POWERLED.dutycycle_RNO[0] 5 6 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_5_c 1 13 5 #SB_CARRY
set_location POWERLED.count_clk_RNIS0FM9[7] 6 10 3 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_1_c 8 11 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_i 5 5 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_2_c 1 11 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_5_s 1 10 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_9_c 6 6 1 #SB_CARRY
set_location POWERLED.un1_count_1_cry_10_c 5 15 1 #SB_CARRY
set_location POWERLED.count_off[11] 5 10 3 #SB_DFFE
set_location POWERLED.dutycycle_RNI73C11[15] 6 9 7 #SB_LUT4
set_location POWERLED.count_clk_RNO[12] 9 10 4 #SB_LUT4
set_location COUNTER.counter_RNO[10] 9 2 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_6_s 2 7 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_6_c 2 9 4 #SB_CARRY
set_location POWERLED.pwm_out 1 14 6 #SB_DFFE
set_location POWERLED.count_RNO[6] 5 14 5 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_2_c 2 2 2 #SB_CARRY
set_location VPP_VDDQ.count[5] 8 14 5 #SB_DFFSR
set_location POWERLED.dutycycle[5] 5 8 1 #SB_DFFE
set_location POWERLED.count_clk_esr[15] 9 11 0 #SB_DFFESR
set_location PCH_PWRGD.count_esr_RNO[15] 2 4 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_3_c 2 6 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_5_c 4 6 3 #SB_CARRY
set_location POWERLED.count_RNO[14] 5 15 5 #SB_LUT4
set_location COUNTER.counter_RNO[1] 8 1 4 #SB_LUT4
set_location COUNTER.counter[29] 9 4 4 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[10] 8 6 2 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[7] 8 11 7 #SB_LUT4
set_location POWERLED.un1_count_2_cry_14_c 2 14 6 #SB_CARRY
set_location COUNTER.un4_counter_7_c_RNO 9 5 3 #SB_LUT4
set_location VPP_VDDQ.count_RNO[0] 8 14 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_s_8 2 5 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_4_c 2 2 4 #SB_CARRY
set_location PCH_PWRGD.count_esr_RNO_0[15] 1 3 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_i[8] 4 11 6 #SB_LUT4
set_location POWERLED.func_state[0] 6 13 5 #SB_DFFE
set_location POWERLED.dutycycle_fast[6] 5 8 4 #SB_DFFE
set_location POWERLED.dutycycle_RNI51C11[10] 8 8 2 #SB_LUT4
set_location RSMRST_PWRGD.count[0] 8 11 0 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_4_c 1 12 3 #SB_CARRY
set_location POWERLED.un1_count_2_cry_3_c 2 13 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count[6] 8 5 6 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_axb_8 2 9 5 #SB_LUT4
set_location POWERLED.func_state_RNIROMF7[0] 8 9 1 #SB_LUT4
set_location POWERLED.dutycycle_RNO[3] 7 7 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_sbtinv[8] 2 5 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_4_s 1 8 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_3_c 1 7 1 #SB_CARRY
set_location COUNTER.un4_counter_7_c 11 5 7 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i 11 13 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_6_s 1 5 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_sbtinv[8] 1 11 7 #SB_LUT4
set_location POWERLED.count_off[14] 5 10 6 #SB_DFFE
set_location POWERLED.count_clk[8] 9 10 0 #SB_DFFSR
set_location ALL_SYS_PWRGD.count_RNO[9] 8 6 1 #SB_LUT4
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 7 14 0 #SB_LUT4
set_location VPP_VDDQ.curr_state_7_0_a3_0_a2_0_a2[0] 7 14 2 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_3_c_RNI6OM92 6 5 4 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_15_0_c_RNINAJ71 6 7 0 #SB_LUT4
set_location COUNTER.counter_RNO[15] 9 2 6 #SB_LUT4
set_location COUNTER.counter_1_cry_20_c 9 3 3 #SB_CARRY
set_location VPP_VDDQ.count_RNO[12] 8 15 4 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_4_c_RNIHDV12 6 5 5 #SB_LUT4
set_location POWERLED.func_state_RNIUIEUK[1] 7 11 4 #SB_LUT4
set_location POWERLED.count_RNO[3] 5 14 2 #SB_LUT4
set_location POWERLED.count_RNIOVT24[11] 4 15 4 #SB_LUT4
set_location VPP_VDDQ.count[6] 8 14 6 #SB_DFFSR
set_location VPP_VDDQ.count[10] 8 15 2 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_i[8] 2 8 0 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_7_c_RNIMH3U2 6 6 0 #SB_LUT4
set_location HDA_STRAP.count[1] 6 1 1 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_4_c 1 13 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_s_8 1 7 6 #SB_LUT4
set_location COUNTER.counter_RNO[4] 9 5 4 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_6_c 8 11 6 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[4] 8 11 4 #SB_LUT4
set_location RSMRST_PWRGD.count[11] 8 12 3 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_s_8 1 10 6 #SB_LUT4
set_location COUNTER.counter_1_cry_3_c 9 1 2 #SB_CARRY
set_location POWERLED.un1_count_1_cry_1_c 5 14 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_6_s 4 7 4 #SB_LUT4
set_location POWERLED.pwm_out_RNO_2 4 14 1 #SB_LUT4
set_location POWERLED.dutycycle_RNI712I1[15] 6 8 6 #SB_LUT4
set_location RSMRST_PWRGD.count[5] 8 11 5 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_4_s 1 9 2 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_10_c 8 6 2 #SB_CARRY
set_location ALL_SYS_PWRGD.count_esr_RNO_0[15] 9 7 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_5_s 2 5 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un40_sum_axbxc3 5 7 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_3_s 1 11 1 #SB_LUT4
set_location POWERLED.dutycycle_RNO[6] 5 8 3 #SB_LUT4
set_location PCH_PWRGD.count_RNO[5] 2 2 5 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_8_c 6 2 0 #SB_CARRY
set_location HDA_STRAP.curr_state_RNO[0] 4 3 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_i[8] 1 12 7 #SB_LUT4
set_location POWERLED.un1_count_2_cry_3_c_inv 2 13 3 #SB_LUT4
set_location POWERLED.count_clk[13] 9 10 5 #SB_DFFSR
set_location POWERLED.un1_count_off_1_cry_13_c 5 10 5 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[7] 7 8 0 #SB_CARRY
set_location POWERLED.dutycycle_RNO[12] 7 8 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_6_c 2 11 4 #SB_CARRY
set_location POWERLED.dutycycle_RNI84C11[14] 6 7 6 #SB_LUT4
set_location COUNTER.un4_counter_0_c_RNO 9 5 5 #SB_LUT4
set_location COUNTER.counter_RNO[16] 9 2 7 #SB_LUT4
set_location VPP_VDDQ.count_RNO[11] 8 15 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_6_c 6 5 6 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_9_c 9 10 1 #SB_CARRY
set_location POWERLED.count_clk_RNI01TCL[7] 7 10 5 #SB_LUT4
set_location POWERLED.count_RNO[0] 4 13 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_8_c 2 3 0 #SB_CARRY
set_location VPP_VDDQ.count[3] 8 14 3 #SB_DFFSR
set_location VPP_VDDQ.count[13] 8 15 5 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_3_s 2 5 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_4_c 1 7 2 #SB_CARRY
set_location POWERLED.count_clk_RNITU0DB[1] 7 10 3 #SB_LUT4
set_location HDA_STRAP.count[6] 8 2 1 #SB_DFFE
set_location COUNTER.counter_RNO[20] 9 3 3 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[10] 7 8 3 #SB_CARRY
set_location COUNTER.un4_counter_6_c 11 5 6 #SB_CARRY
set_location COUNTER.counter[23] 9 3 6 #SB_DFF
set_location RSMRST_PWRGD.count[14] 8 12 6 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_7_c 2 12 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_4_c 1 10 2 #SB_CARRY
set_location POWERLED.un1_count_1_cry_8_c 5 14 7 #SB_CARRY
set_location HDA_STRAP.curr_state[0] 4 3 7 #SB_DFFE
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m4_0_0_a2 12 7 4 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_13_c 8 15 5 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_7_c 9 9 7 #SB_CARRY
set_location PCH_PWRGD.count[3] 2 2 3 #SB_DFFSR
set_location RSMRST_PWRGD.curr_state_7_1_0_.m6_i_i_a6 11 13 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_7_c 2 7 5 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_14_0_c 6 6 6 #SB_CARRY
set_location POWERLED.dutycycle[11] 7 8 4 #SB_DFFE
set_location POWERLED.count[4] 5 14 3 #SB_DFFSR
set_location ALL_SYS_PWRGD.un1_count_1_cry_9_c 8 6 1 #SB_CARRY
set_location RSMRST_PWRGD.count[6] 8 11 6 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_6_c 1 8 4 #SB_CARRY
set_location POWERLED.un1_count_1_cry_6_c 5 14 5 #SB_CARRY
set_location POWERLED.count_clk_esr_RNIVU6L[15] 8 10 5 #SB_LUT4
set_location COUNTER.counter_1_cry_15_c 9 2 6 #SB_CARRY
set_location PCH_PWRGD.count_RNO[6] 2 2 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_6_c 1 12 5 #SB_CARRY
set_location POWERLED.count_clk_RNI3G101[5] 8 10 6 #SB_LUT4
set_location POWERLED.count_clk[10] 9 10 2 #SB_DFFSR
set_location VPP_VDDQ.curr_state_RNO[0] 6 15 5 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[0] 7 7 1 #SB_CARRY
set_location COUNTER.counter[5] 8 1 3 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[3] 8 5 3 #SB_LUT4
set_location VPP_VDDQ.curr_state[1] 6 15 3 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_5_s 1 6 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_i 5 7 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un40_sum_i_l_ofx[4] 5 7 0 #SB_LUT4
set_location POWERLED.func_state_RNIH2SJ1[1] 7 11 5 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_2_c 8 14 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[14] 8 15 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_5_s 1 9 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_14_0_c_RNIS9ES1_0 5 7 3 #SB_LUT4
set_location POWERLED.un1_count_2_cry_10_c_inv 2 14 2 #SB_LUT4
set_location RSMRST_PWRGD.curr_state[0] 11 13 7 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_4_s 1 11 2 #SB_LUT4
set_location PCH_PWRGD.pch_pwrok_RNO 1 4 5 #SB_LUT4
set_location COUNTER.counter_RNO[23] 9 3 6 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[13] 7 8 6 #SB_CARRY
set_location PCH_PWRGD.count_RNO[14] 2 3 6 #SB_LUT4
set_location COUNTER.counter[26] 9 4 1 #SB_DFF
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_6_s 1 7 4 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_12_c 5 10 4 #SB_CARRY
set_location COUNTER.counter_1_cry_1_c 9 1 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_4_c 2 5 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_6_s 2 6 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_7_c 2 11 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_3_c 1 9 1 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_0_c 9 9 0 #SB_CARRY
set_location POWERLED.count_clk_RNIOH1J11[7] 7 10 6 #SB_LUT4
set_location PCH_PWRGD.count_RNIESHJ[1] 1 2 0 #SB_LUT4
set_location PCH_PWRGD.count[0] 2 2 0 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_14_c 8 15 6 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_1_c 6 5 1 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_8_c 9 10 0 #SB_CARRY
set_location POWERLED.dutycycle[12] 7 8 5 #SB_DFFE
set_location POWERLED.count_clk_RNI7LE01[7] 7 11 2 #SB_LUT4
set_location POWERLED.count[1] 4 13 2 #SB_DFFSR
set_location HDA_STRAP.curr_state_RNI1S0J[0] 4 2 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_3_s 2 7 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_i 1 14 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_s_8 2 7 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_5_s 2 7 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_3_c 1 10 1 #SB_CARRY
set_location POWERLED.un1_count_2_cry_7_c_inv 2 13 7 #SB_LUT4
set_location PCH_PWRGD.count_RNO[3] 2 2 3 #SB_LUT4
set_location ALL_SYS_PWRGD.count[8] 8 6 0 #SB_DFFSR
set_location POWERLED.dutycycle_RNI6NI81[5] 5 8 2 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_12_c 8 15 4 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_6_c 9 9 6 #SB_CARRY
set_location POWERLED.dutycycle_RNO[14] 7 8 7 #SB_LUT4
set_location COUNTER.un4_counter_3_c_RNO 11 2 1 #SB_LUT4
set_location COUNTER.counter[0] 9 5 1 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[0] 8 5 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_6_s 4 6 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_1_c 1 12 0 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_11_c 9 10 3 #SB_CARRY
set_location POWERLED.curr_state_RNI75RB5[0] 4 15 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_3_c 8 11 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_axb_8 1 5 5 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_7_c 2 2 7 #SB_CARRY
set_location COUNTER.counter_1_cry_14_c 9 2 5 #SB_CARRY
set_location VPP_VDDQ.count[9] 8 15 1 #SB_DFFSR
set_location COUNTER.counter_RNO[26] 9 4 1 #SB_LUT4
set_location HDA_STRAP.curr_state_RNO_0[2] 7 2 6 #SB_LUT4
set_location COUNTER.counter[25] 9 4 0 #SB_DFF
set_location COUNTER.counter_1_cry_17_c 9 3 0 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNIGR9S7[0] 7 15 1 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_12_c_RNI49HI1 6 6 5 #SB_LUT4
set_location COUNTER.counter_1_cry_28_c 9 4 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_4_s 1 6 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_2_c 4 5 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_axb_8 2 11 5 #SB_LUT4
set_location PCH_PWRGD.count[5] 2 2 5 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_3_c 8 14 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_3_c 1 5 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_axb_8 4 7 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_5_c 2 12 3 #SB_CARRY
set_location POWERLED.count[2] 5 14 1 #SB_DFFSR
set_location HDA_STRAP.count_RNID0921[4] 7 2 3 #SB_LUT4
set_location HDA_STRAP.count[17] 7 3 2 #SB_DFFE
set_location POWERLED.un1_count_off_1_cry_5_c 5 9 5 #SB_CARRY
set_location POWERLED.count_off[8] 5 10 0 #SB_DFFE
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0_10 9 12 7 #SB_LUT4
set_location RSMRST_PWRGD.count_esr_RNO[15] 8 13 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_sbtinv[8] 4 6 7 #SB_LUT4
set_location POWERLED.dutycycle_RNI53MG[14] 6 7 4 #SB_LUT4
set_location POWERLED.count_clk_RNO[0] 9 9 0 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_0_c 8 11 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_i 5 5 2 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_5_c 6 5 5 #SB_CARRY
set_location POWERLED.dutycycle_RNO[8] 7 8 1 #SB_LUT4
set_location COUNTER.counter_1_cry_6_c 9 1 5 #SB_CARRY
set_location PCH_PWRGD.count_esr_RNIFR521[15] 1 3 7 #SB_LUT4
set_location COUNTER.counter[3] 9 5 7 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[5] 8 5 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_sbtinv[8] 1 5 7 #SB_LUT4
set_location POWERLED.curr_state[0] 1 15 6 #SB_DFFE
set_location POWERLED.count_off_RNO[1] 5 9 1 #SB_LUT4
set_location POWERLED.count_clk[5] 9 9 5 #SB_DFFSR
set_location HDA_STRAP.count_RNO[16] 7 3 1 #SB_LUT4
set_location COUNTER.counter_RNO[31] 9 4 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_5_c 2 11 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_7_c 1 10 5 #SB_CARRY
set_location POWERLED.count_clk_RNIA8VP[7] 7 11 0 #SB_LUT4
set_location COUNTER.counter_RNO[18] 9 3 1 #SB_LUT4
set_location COUNTER.counter_RNO[29] 9 4 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_7_c 2 6 5 #SB_CARRY
set_location POWERLED.un1_count_off_1_cry_6_c 5 9 6 #SB_CARRY
set_location POWERLED.count_esr[15] 5 16 0 #SB_DFFESR
set_location POWERLED.count[11] 5 15 2 #SB_DFFSR
set_location PCH_PWRGD.count_RNO[12] 2 3 4 #SB_LUT4
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ 7 13 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_6_c 2 5 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_i 2 10 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_i[8] 2 10 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[8] 8 15 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_i[8] 2 8 4 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_0_c 2 2 0 #SB_CARRY
set_location HDA_STRAP.count[12] 6 2 4 #SB_DFFE
set_location COUNTER.counter[15] 9 2 6 #SB_DFF
set_location RSMRST_PWRGD.count_RNO[14] 8 12 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_2_c 1 7 0 #SB_CARRY
set_location POWERLED.count_off[5] 5 9 5 #SB_DFFE
set_location HDA_STRAP.count_RNO[4] 6 1 4 #SB_LUT4
set_location RSMRST_PWRGD.count[8] 8 12 0 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_4_c 2 6 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_2_c 2 12 0 #SB_CARRY
set_location POWERLED.un1_count_2_cry_7_c 2 13 7 #SB_CARRY
set_location POWERLED.un1_count_2_cry_2_c_inv 2 13 2 #SB_LUT4
set_location POWERLED.count_clk_RNO[7] 9 9 7 #SB_LUT4
set_location PCH_PWRGD.count_RNO[9] 2 3 1 #SB_LUT4
set_location COUNTER.counter_1_cry_16_c 9 2 7 #SB_CARRY
set_location POWERLED.dutycycle_fast_RNIVCSK[5] 5 6 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_5_c 4 5 3 #SB_CARRY
set_location POWERLED.un1_count_2_cry_9_c 2 14 1 #SB_CARRY
set_location POWERLED.func_state_RNI6KL57[0] 7 11 6 #SB_LUT4
set_location POWERLED.dutycycle_RNIQAI81[4] 7 6 5 #SB_LUT4
set_location POWERLED.count_off_RNO[2] 5 9 2 #SB_LUT4
set_location POWERLED.count_clk[0] 9 9 0 #SB_DFFSR
set_location HDA_STRAP.count_RNO[11] 5 2 0 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_4_c 8 5 4 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_11_c 8 6 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_axb_8 1 6 5 #SB_LUT4
set_location POWERLED.dutycycle_RNO_1[2] 7 7 3 #SB_LUT4
set_location POWERLED.count_off_RNO[12] 5 10 4 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0_9 9 12 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_7_c 4 7 5 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_13_c 9 10 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_i[8] 1 14 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_3_c 1 6 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_0_c 1 13 0 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_4_c 6 5 4 #SB_CARRY
set_location POWERLED.un1_count_1_cry_5_c 5 14 4 #SB_CARRY
set_location POWERLED.dutycycle_RNIJL1R1[6] 6 8 3 #SB_LUT4
set_location POWERLED.dutycycle[0] 5 6 5 #SB_DFFE
set_location PCH_PWRGD.count[10] 2 3 2 #SB_DFFSR
set_location HDA_STRAP.count[9] 6 2 1 #SB_DFFE
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2 9 13 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_4_s 1 5 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_i[8] 1 13 6 #SB_LUT4
set_location POWERLED.count_RNO[13] 5 15 4 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNIT0U61[4] 9 6 1 #SB_LUT4
set_location POWERLED.dutycycle_RNIE4FL[9] 6 7 3 #SB_LUT4
set_location HDA_STRAP.count_RNO_0[17] 6 3 1 #SB_LUT4
set_location VPP_VDDQ.count_RNO[5] 8 14 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_s_8 4 7 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_6_c 1 10 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_5_c 2 9 3 #SB_CARRY
set_location POWERLED.count[8] 5 14 7 #SB_DFFSR
set_location HDA_STRAP.count[11] 5 2 0 #SB_DFFE
set_location COUNTER.counter[12] 9 2 3 #SB_DFF
set_location ALL_SYS_PWRGD.count[12] 8 6 4 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[13] 8 12 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_3_s 2 9 1 #SB_LUT4
set_location POWERLED.count_off[2] 5 9 2 #SB_DFFE
set_location HDA_STRAP.un1_count_1_cry_4_c 6 1 4 #SB_CARRY
set_location HDA_STRAP.count_RNO[1] 6 1 1 #SB_LUT4
set_location COUNTER.counter_1_cry_9_c 9 2 0 #SB_CARRY
set_location ALL_SYS_PWRGD.count[3] 8 5 3 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_2_c 4 7 0 #SB_CARRY
set_location HDA_STRAP.count_RNIUKIR1[12] 7 2 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_s_8 4 6 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_i 4 12 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_axb_8 1 8 5 #SB_LUT4
set_location POWERLED.count_off_RNO[7] 5 9 7 #SB_LUT4
set_location POWERLED.count_off[13] 5 10 5 #SB_DFFE
set_location POWERLED.count_clk[3] 9 9 3 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_s_8 1 5 6 #SB_LUT4
set_location POWERLED.count_off_RNO[15] 5 10 7 #SB_LUT4
set_location POWERLED.count_clk_RNO[10] 9 10 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_5_c 2 6 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_s_7 1 12 6 #SB_LUT4
set_location POWERLED.un1_count_2_cry_6_c 2 13 6 #SB_CARRY
set_location POWERLED.dutycycle_RNIQ09G1[10] 6 8 7 #SB_LUT4
set_location POWERLED.count_clk_RNI1DHM[6] 6 9 2 #SB_LUT4
set_location POWERLED.count_RNO[8] 5 14 7 #SB_LUT4
set_location VPP_VDDQ.count_RNIVJP51[3] 9 14 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_i[8] 2 10 3 #SB_LUT4
set_location POWERLED.dutycycle[7] 7 8 0 #SB_DFFE
set_location RSMRST_PWRGD.count_esr[15] 8 13 0 #SB_DFFESR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_3_s 4 6 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_i 2 10 4 #SB_LUT4
set_location COUNTER.counter_RNO[3] 9 5 7 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[12] 8 6 4 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[1] 8 11 1 #SB_LUT4
set_location POWERLED.un1_count_clk_1_cry_3_c 9 9 3 #SB_CARRY
set_location POWERLED.un1_count_2_cry_11_c_inv 2 14 3 #SB_LUT4
set_location VPP_VDDQ.count_RNO[2] 8 14 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_3_s 2 12 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_8_c 2 14 0 #SB_CARRY
set_location POWERLED.func_state_ns_0_i_0_0_a2_0[0] 6 12 4 #SB_LUT4
set_location COUNTER.counter_1_cry_11_c 9 2 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_2_c 1 12 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_2_c 1 8 0 #SB_CARRY
set_location POWERLED.un1_count_1_cry_2_c 5 14 1 #SB_CARRY
set_location POWERLED.count_clk_RNI5LMRL[1] 6 10 4 #SB_LUT4
set_location HDA_STRAP.count_RNO[2] 6 1 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_2_c 1 6 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_axb_8 1 11 5 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_3_c 6 1 3 #SB_CARRY
set_location ALL_SYS_PWRGD.count[4] 8 5 4 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_5_s 1 5 3 #SB_LUT4
set_location POWERLED.dutycycle_RNO[1] 5 6 2 #SB_LUT4
set_location POWERLED.dutycycle_fast_RNI2GSK[6] 6 7 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_axb_8 2 7 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_5_s 4 7 3 #SB_LUT4
set_location POWERLED.un1_count_2_cry_11_c 2 14 3 #SB_CARRY
set_location HDA_STRAP.count_RNIDLB61[6] 7 2 1 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_5_c 6 1 5 #SB_CARRY
set_location COUNTER.counter_RNO[13] 9 2 4 #SB_LUT4
set_location POWERLED.dutycycle_RNI16B71[5] 5 5 1 #SB_LUT4
set_location POWERLED.count_RNO[5] 5 14 4 #SB_LUT4
set_location VPP_VDDQ.count[4] 8 14 4 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_6_c 1 11 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_axb_8 1 9 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_4_s 2 9 2 #SB_LUT4
set_location POWERLED.dutycycle_RNIOQLJ[4] 7 6 6 #SB_LUT4
set_location HDA_STRAP.count[3] 6 1 3 #SB_DFFE
set_location ALL_SYS_PWRGD.curr_state_RNIKNST6[0] 9 7 1 #SB_LUT4
set_location VPP_VDDQ.delayed_vddq_pwrgd 7 14 7 #SB_DFF
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_s_8 2 6 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_4_s 4 5 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_7_c 1 9 5 #SB_CARRY
set_location COUNTER.counter_RNO[6] 8 1 2 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[11] 8 6 3 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_RNIJULM7[0] 9 13 1 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[6] 8 11 6 #SB_LUT4
set_location POWERLED.un1_count_2_cry_1_c 2 13 1 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_8_c_RNITC862 6 6 1 #SB_LUT4
set_location POWERLED.pwm_out_RNO_4 4 14 0 #SB_LUT4
set_location POWERLED.func_state[1] 5 12 1 #SB_DFFE
set_location POWERLED.dutycycle_RNIF3561[9] 6 9 4 #SB_LUT4
set_location ALL_SYS_PWRGD.ALL_SYS_PWRGD 11 7 7 #SB_DFFE
set_location RSMRST_PWRGD.count[3] 8 11 3 #SB_DFFSR
set_location POWERLED.func_state_RNI0AN05[0] 6 11 7 #SB_LUT4
set_location POWERLED.count_clk_RNI2M0Q4[6] 7 10 4 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_13_c 2 3 5 #SB_CARRY
set_location HDA_STRAP.count_RNIQC821[0] 7 1 7 #SB_LUT4
set_location COUNTER.un4_counter_5_c 11 5 5 #SB_CARRY
set_location ALL_SYS_PWRGD.curr_state_RNIUU4I2[0] 11 7 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_4_c 2 12 2 #SB_CARRY
set_location POWERLED.dutycycle_RNO[4] 7 7 5 #SB_LUT4
set_location COUNTER.tmp_RNIRH3P 9 7 5 #SB_LUT4
set_location POWERLED.un1_count_clk_1_cry_2_c 9 9 2 #SB_CARRY
set_location POWERLED.dutycycle_RNI4I7Q[5] 7 6 0 #SB_LUT4
set_location POWERLED.dutycycle_RNI1VLG[10] 6 9 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_4_c 2 7 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_4_s 4 6 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_5_c 1 12 4 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_13_c_RNI6CII1 6 6 6 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[5] 7 7 6 #SB_CARRY
set_location POWERLED.count_off[15] 5 10 7 #SB_DFFE
set_location POWERLED.count_clk[9] 9 10 1 #SB_DFFSR
set_location PCH_PWRGD.curr_state_RNIC5474[0] 1 3 3 #SB_LUT4
set_location HDA_STRAP.count_RNO_0[0] 6 1 0 #SB_LUT4
set_location COUNTER.counter[8] 9 1 7 #SB_DFF
set_location COUNTER.counter_1_cry_10_c 9 2 1 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[8] 8 6 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_3_c 1 8 1 #SB_CARRY
set_location POWERLED.un1_count_2_cry_4_c 2 13 4 #SB_CARRY
set_location POWERLED.dutycycle_RNIFHLJ_0[0] 5 5 0 #SB_LUT4
set_location COUNTER.counter_RNO[14] 9 2 5 #SB_LUT4
set_location VPP_VDDQ.count_RNO[13] 8 15 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_7_c 8 11 7 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_i 4 12 4 #SB_LUT4
set_location POWERLED.count_RNO[2] 5 14 1 #SB_LUT4
set_location VPP_VDDQ.count[11] 8 15 3 #SB_DFFSR
set_location VPP_VDDQ.count[1] 8 14 1 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_5_s 1 8 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_6_c_RNIBKJB2 6 5 7 #SB_LUT4
set_location POWERLED.func_state_RNIORSP5[1] 7 10 7 #SB_LUT4
set_location PCH_PWRGD.curr_state_RNI7N705[0] 1 3 4 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_16_c 6 3 0 #SB_CARRY
set_location HDA_STRAP.count[0] 5 1 2 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_3_s 1 12 2 #SB_LUT4
set_location POWERLED.count_clk_RNIAIGJ4[7] 7 11 1 #SB_LUT4
set_location COUNTER.un4_counter_6_c_RNO 9 5 2 #SB_LUT4
set_location COUNTER.counter_RNO[5] 8 1 3 #SB_LUT4
set_location RSMRST_PWRGD.count[12] 8 12 4 #SB_DFFSR
set_location POWERLED.func_state_RNO_2[1] 6 12 5 #SB_LUT4
set_location HDA_STRAP.curr_state[2] 5 2 1 #SB_DFFE
set_location COUNTER.counter_1_cry_24_c 9 3 7 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNI8I855[0] 7 15 0 #SB_LUT4
set_location POWERLED.dutycycle_RNIVL3D[0] 6 5 0 #SB_LUT4
set_location COUNTER.counter[19] 9 3 2 #SB_DFF
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_7_c 1 5 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_axb_8 2 5 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_6_s 4 5 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_axb_6 1 12 5 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_1_c 5 9 1 #SB_CARRY
set_location POWERLED.pwm_out_RNO_1 4 14 5 #SB_LUT4
set_location POWERLED.dutycycle_RNIO18N[9] 8 8 0 #SB_LUT4
set_location POWERLED.dutycycle_RNIB1FL[8] 6 7 7 #SB_LUT4
set_location RSMRST_PWRGD.count[4] 8 11 4 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_7_c 1 11 5 #SB_CARRY
set_location POWERLED.un1_count_off_1_cry_9_c 5 10 1 #SB_CARRY
set_location POWERLED.count_clk_RNIUL2D1[1] 8 10 2 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_15_c 6 2 7 #SB_CARRY
set_location COUNTER.counter_1_cry_2_c 9 1 1 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_14_c 8 12 6 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_4_c 4 7 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_3_s 4 5 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_6_c 1 9 4 #SB_CARRY
set_location POWERLED.dutycycle_RNO[7] 7 8 0 #SB_LUT4
set_location POWERLED.count_clk_RNO[8] 9 10 0 #SB_LUT4
set_location PCH_PWRGD.count_RNO[4] 2 2 4 #SB_LUT4
set_location HDA_STRAP.curr_state_RNO[1] 5 1 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_4_c 2 11 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_sbtinv[8] 2 9 7 #SB_LUT4
set_location POWERLED.count_esr_RNIBHMO[15] 4 15 3 #SB_LUT4
set_location POWERLED.count_clk_RNIP4HM[2] 8 9 4 #SB_LUT4
set_location POWERLED.count_clk[12] 9 10 4 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_5_c 1 7 3 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[6] 7 7 7 #SB_CARRY
set_location POWERLED.dutycycle_RNO[11] 7 8 4 #SB_LUT4
set_location POWERLED.count_off_RNO[9] 5 10 1 #SB_LUT4
set_location POWERLED.count_clk_RNI09QT9[1] 7 10 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_3_c 1 13 3 #SB_CARRY
set_location POWERLED.dutycycle_RNI5J285[5] 6 10 7 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_12_c 2 3 4 #SB_CARRY
set_location VPP_VDDQ.count[2] 8 14 2 #SB_DFFSR
set_location HDA_STRAP.count[5] 6 1 5 #SB_DFFE
set_location COUNTER.counter_RNO[21] 9 3 4 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[11] 7 8 4 #SB_CARRY
set_location PCH_PWRGD.pch_pwrok 1 4 5 #SB_DFFE
set_location COUNTER.counter_RNO[8] 9 1 7 #SB_LUT4
set_location COUNTER.counter[20] 9 3 3 #SB_DFF
set_location COUNTER.counter_1_cry_23_c 9 3 6 #SB_CARRY
set_location ALL_SYS_PWRGD.count_esr_RNO[15] 8 7 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_3_s 2 6 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_5_s 4 6 3 #SB_LUT4
set_location HDA_STRAP.curr_state[1] 5 1 7 #SB_DFFE
set_location POWERLED.un1_dutycycle_1_cry_13_c 6 6 5 #SB_CARRY
set_location POWERLED.un1_count_clk_1_cry_12_c 9 10 4 #SB_CARRY
set_location POWERLED.count_clk_RNIKKV71[12] 8 10 0 #SB_LUT4
set_location PCH_PWRGD.count[2] 2 2 2 #SB_DFFSR
set_location POWERLED.func_state_RNINTA34[1] 7 11 3 #SB_LUT4
set_location POWERLED.dutycycle[10] 7 8 3 #SB_DFFE
set_location POWERLED.count[7] 5 14 6 #SB_DFFSR
set_location COUNTER.counter_1_cry_12_c 9 2 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_cry_6_c 2 12 4 #SB_CARRY
set_location POWERLED.un1_count_2_cry_12_c 2 14 4 #SB_CARRY
set_location POWERLED.dutycycle_RNIM0TE[8] 6 8 1 #SB_LUT4
set_location POWERLED.count_RNID4E61[7] 4 14 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un159_sum_cry_4_s 1 12 3 #SB_LUT4
set_location PCH_PWRGD.count_RNO[1] 2 2 1 #SB_LUT4
set_location POWERLED.dutycycle_RNI34C41[8] 7 5 5 #SB_LUT4
set_location COUNTER.counter_1_cry_25_c 9 4 0 #SB_CARRY
set_location ALL_SYS_PWRGD.un1_count_1_cry_8_c 8 6 0 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNIV07U[10] 9 6 7 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_0_c 8 14 0 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNO[1] 6 15 3 #SB_LUT4
set_location POWERLED.dutycycle_cry_c[3] 7 7 4 #SB_CARRY
set_location HDA_STRAP.count_RNO_0[6] 6 1 6 #SB_LUT4
set_location COUNTER.counter[6] 8 1 2 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[2] 8 5 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_6_c 1 5 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_i 4 8 3 #SB_LUT4
set_location PCH_PWRGD.curr_state[0] 1 4 1 #SB_DFFE
set_location RSMRST_PWRGD.un1_count_1_cry_5_c 8 11 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_sbtinv[8] 2 6 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_3_c 4 7 1 #SB_CARRY
set_location POWERLED.un1_count_1_cry_12_c 5 15 3 #SB_CARRY
set_location POWERLED.dutycycle_RNI3T7Q4[5] 6 11 3 #SB_LUT4
set_location POWERLED.count_RNI6IPJ2[5] 4 14 4 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_14_c 6 2 6 #SB_CARRY
set_location RSMRST_PWRGD.curr_state[1] 11 13 5 #SB_DFFE
set_location PCH_PWRGD.curr_state_7_1_0_.m6 1 4 7 #SB_LUT4
set_location COUNTER.counter_RNO[24] 9 3 7 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_0_c 6 5 0 #SB_CARRY
set_location POWERLED.func_state_RNI9LL3G[1] 5 11 6 #SB_LUT4
set_location POWERLED.dutycycle[8] 7 8 1 #SB_DFFE
set_location POWERLED.count[14] 5 15 5 #SB_DFFSR
set_location HDA_STRAP.curr_state_RNO_0[0] 4 2 5 #SB_LUT4
set_location COUNTER.counter[27] 9 4 2 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNI027U[11] 9 5 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_3_s 2 11 1 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_RNISEFS1[1] 9 13 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_5_s 1 11 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_2_c 1 10 0 #SB_CARRY
set_location PCH_PWRGD.count[7] 2 2 7 #SB_DFFSR
set_location POWERLED.dutycycle[15] 7 9 0 #SB_DFFE
set_location POWERLED.count[0] 4 13 6 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un61_sum_cry_6_c 4 7 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un166_sum_cry_2_c 1 13 2 #SB_CARRY
set_location POWERLED.un1_count_off_1_cry_3_c 5 9 3 #SB_CARRY
set_location POWERLED.un1_count_1_cry_11_c 5 15 2 #SB_CARRY
set_location HDA_STRAP.count_RNO[9] 6 2 1 #SB_LUT4
set_location COUNTER.un4_counter_5_c_RNO 9 4 7 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_13_c 8 12 5 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0_12 9 12 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_axb_8 2 6 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_4_c 1 9 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_s_8 2 9 6 #SB_LUT4
set_location POWERLED.count_clk_RNO[2] 9 9 2 #SB_LUT4
set_location PCH_PWRGD.count_RNO[2] 2 2 2 #SB_LUT4
set_location HDA_STRAP.HDA_SDO_FPGA 5 2 7 #SB_DFFE
set_location POWERLED.un1_dutycycle_1_cry_5_c_RNIQEP92 6 5 6 #SB_LUT4
set_location POWERLED.func_state_RNO_4[1] 7 12 4 #SB_LUT4
set_location POWERLED.func_state_RNO_1[0] 6 12 1 #SB_LUT4
set_location POWERLED.dutycycle_fast_RNO[6] 5 8 4 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_5_c 2 2 5 #SB_CARRY
set_location COUNTER.un4_counter_2_c_RNO 11 3 5 #SB_LUT4
set_location COUNTER.counter[1] 8 1 4 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[7] 8 5 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_2_c 4 6 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_7_c 1 7 5 #SB_CARRY
set_location POWERLED.un1_count_2_cry_2_c 2 13 2 #SB_CARRY
set_location HDA_STRAP.count_RNO[14] 6 2 6 #SB_LUT4
set_location POWERLED.un1_count_2_cry_13_c 2 14 5 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_10_c 2 3 2 #SB_CARRY
set_location VPP_VDDQ.count[8] 8 15 0 #SB_DFFSR
set_location PCH_PWRGD.count_esr[15] 2 4 0 #SB_DFFESR
set_location COUNTER.counter_RNO[27] 9 4 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_4_s 1 7 2 #SB_LUT4
set_location POWERLED.un1_count_off_1_cry_10_c 5 10 2 #SB_CARRY
set_location PCH_PWRGD.count_RNO[10] 2 3 2 #SB_LUT4
set_location COUNTER.un4_counter_1_c_RNO 8 1 6 #SB_LUT4
set_location POWERLED.dutycycle_RNIJNBA1[6] 5 8 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_6_c 2 2 6 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[9] 8 12 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_axb_4_l_fx 2 10 2 #SB_LUT4
set_location PCH_PWRGD.count[4] 2 2 4 #SB_DFFSR
set_location POWERLED.un1_dutycycle_1_cry_11_c 6 6 3 #SB_CARRY
set_location POWERLED.count_esr_RNO_0[15] 4 16 0 #SB_LUT4
set_location HDA_STRAP.count[14] 6 2 6 #SB_DFFE
set_location COUNTER.counter[17] 9 3 0 #SB_DFF
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m4_0_0 11 7 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_6_c 1 6 4 #SB_CARRY
set_location POWERLED.count_off[7] 5 9 7 #SB_DFFE
set_location COUNTER.counter_1_cry_18_c 9 3 1 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0_11 9 12 1 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_7_c 6 5 7 #SB_CARRY
set_location POWERLED.count_clk_RNO[1] 9 9 1 #SB_LUT4
set_location POWERLED.dutycycle_RNO[9] 7 8 2 #SB_LUT4
set_location POWERLED.dutycycle_RNIC8C11[15] 6 9 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_5_c 1 10 3 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_2_c 6 5 2 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[9] 7 8 2 #SB_CARRY
set_location HDA_STRAP.un1_count_1_cry_9_c 6 2 1 #SB_CARRY
set_location ALL_SYS_PWRGD.count_RNO[4] 8 5 4 #SB_LUT4
set_location POWERLED.func_state_RNI9HME_0[1] 7 12 0 #SB_LUT4
set_location POWERLED.count_off_RNO[0] 5 9 0 #SB_LUT4
set_location POWERLED.count_clk[6] 9 9 6 #SB_DFFSR
set_location HDA_STRAP.count_RNO[17] 7 3 2 #SB_LUT4
set_location COUNTER.counter_RNO[30] 9 4 5 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state[0] 11 7 3 #SB_DFFE
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_5_c 1 6 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_6_c 2 7 4 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_6_s 2 9 4 #SB_LUT4
set_location POWERLED.count_off_RNO[10] 5 10 2 #SB_LUT4
set_location POWERLED.count_esr_RNO[15] 5 16 0 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_1_c 6 1 1 #SB_CARRY
set_location COUNTER.counter[31] 9 4 6 #SB_DFF
set_location RSMRST_PWRGD.un1_count_1_cry_12_c 8 12 4 #SB_CARRY
set_location POWERLED.func_state_RNO_0[1] 6 12 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_s_8 2 12 6 #SB_LUT4
set_location POWERLED.un1_count_2_cry_5_c 2 13 5 #SB_CARRY
set_location POWERLED.dutycycle[2] 7 6 3 #SB_DFFE
set_location POWERLED.count[12] 5 15 3 #SB_DFFSR
set_location PCH_PWRGD.count_RNO[13] 2 3 5 #SB_LUT4
set_location PCH_PWRGD.count[12] 2 3 4 #SB_DFFSR
set_location POWERLED.pwm_out_RNO 2 15 1 #SB_LUT4
set_location POWERLED.N_55_i_i_o6 7 12 2 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNO_0[15] 7 16 1 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4_i_i_a2_0 9 12 4 #SB_LUT4
set_location POWERLED.func_state_RNIAA8L4[0] 6 10 2 #SB_LUT4
set_location PCH_PWRGD.count[9] 2 3 1 #SB_DFFSR
set_location HDA_STRAP.count_RNO_0[11] 6 2 3 #SB_LUT4
set_location VPP_VDDQ.count_RNO[7] 8 14 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_4_s 2 5 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un75_sum_cry_6_c 2 6 4 #SB_CARRY
set_location HDA_STRAP.count[13] 6 2 5 #SB_DFFE
set_location COUNTER.un4_counter_1_c 11 5 1 #SB_CARRY
set_location COUNTER.counter[14] 9 2 5 #SB_DFF
set_location ALL_SYS_PWRGD.un1_count_1_cry_14_c 8 6 6 #SB_CARRY
set_location ALL_SYS_PWRGD.count[10] 8 6 2 #SB_DFFSR
set_location POWERLED.un1_count_off_1_cry_14_c 5 10 6 #SB_CARRY
set_location POWERLED.count_off[4] 5 9 4 #SB_DFFE
set_location PCH_PWRGD.curr_state_RNIHKNI1[0] 1 4 6 #SB_LUT4
set_location HDA_STRAP.count_RNO[7] 6 1 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_2_c 2 5 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_3_c 2 7 1 #SB_CARRY
set_location POWERLED.dutycycle_RNIUTDP2[2] 8 8 6 #SB_LUT4
set_location POWERLED.count_clk_RNO[4] 9 9 4 #SB_LUT4
set_location PCH_PWRGD.count_RNO[8] 2 3 0 #SB_LUT4
set_location ALL_SYS_PWRGD.count[1] 8 5 1 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_sbtinv[8] 1 6 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_cry_4_c 1 8 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_3_s 1 7 1 #SB_LUT4
set_location POWERLED.un1_count_2_cry_13_c_inv 2 14 5 #SB_LUT4
set_location COUNTER.counter_1_cry_7_c 9 1 6 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_i 5 7 7 #SB_LUT4
set_location POWERLED.un1_count_2_cry_6_c_inv 2 13 6 #SB_LUT4
set_location POWERLED.count_off_RNO[5] 5 9 5 #SB_LUT4
set_location POWERLED.count_clk[1] 9 9 1 #SB_DFFSR
set_location HDA_STRAP.count_RNO[12] 6 2 4 #SB_LUT4
set_location HDA_STRAP.count_RNO_0[8] 6 2 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_i[8] 2 10 6 #SB_LUT4
set_location POWERLED.count_off_RNO[13] 5 10 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_8_c 8 12 0 #SB_CARRY
set_location HDA_STRAP.un1_count_1_cry_12_c 6 2 4 #SB_CARRY
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m4_0_0_a2_1 12 7 3 #SB_LUT4
set_location POWERLED.dutycycle_fast_RNIMOAE[5] 5 5 4 #SB_LUT4
set_location POWERLED.dutycycle[1] 5 6 2 #SB_DFFE
set_location PCH_PWRGD.count[11] 2 3 3 #SB_DFFSR
set_location HDA_STRAP.count[8] 7 3 6 #SB_DFFE
set_location ALL_SYS_PWRGD.un1_count_1_cry_0_c 8 5 0 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_i[8] 2 8 2 #SB_LUT4
set_location POWERLED.func_state_RNO[0] 6 13 5 #SB_LUT4
set_location POWERLED.dutycycle_RNIK4I81[6] 7 6 2 #SB_LUT4
set_location POWERLED.count_clk_RNIBR4E9[6] 6 10 1 #SB_LUT4
set_location POWERLED.count_RNO[10] 5 15 1 #SB_LUT4
set_location ALL_SYS_PWRGD.count_RNO[14] 8 6 6 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[3] 8 11 3 #SB_LUT4
set_location POWERLED.un1_count_clk_1_cry_14_c 9 10 6 #SB_CARRY
set_location POWERLED.func_state_RNI9HME[1] 6 11 5 #SB_LUT4
set_location POWERLED.dutycycle_RNO_0[1] 7 7 2 #SB_LUT4
set_location POWERLED.count_off_RNIAJ6S[15] 5 11 0 #SB_LUT4
set_location HDA_STRAP.count_RNO_0[16] 6 3 0 #SB_LUT4
set_location COUNTER.counter_1_cry_30_c 9 4 5 #SB_CARRY
set_location VPP_VDDQ.count_RNO[4] 8 14 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_4_c 1 6 2 #SB_CARRY
set_location POWERLED.dutycycle_RNI31MG[12] 7 5 3 #SB_LUT4
set_location POWERLED.count_off_RNI8GP11[5] 5 11 2 #SB_LUT4
set_location HDA_STRAP.un1_count_1_cry_6_c 6 1 6 #SB_CARRY
set_location COUNTER.counter[11] 9 2 2 #SB_DFF
set_location ALL_SYS_PWRGD.count[13] 8 6 5 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[10] 8 12 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_2_c 1 9 0 #SB_CARRY
set_location POWERLED.count_off[1] 5 9 1 #SB_DFFE
set_location HDA_STRAP.un1_count_1_cry_11_c 6 2 3 #SB_CARRY
set_location HDA_STRAP.count_RNO[0] 5 1 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un82_sum_cry_5_c 2 5 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_i 4 9 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_cry_3_c 1 11 1 #SB_CARRY
set_location POWERLED.un1_dutycycle_1_cry_9_c_RNIDH282 6 6 2 #SB_LUT4
set_location POWERLED.func_state_RNI1UHM1[0] 6 11 2 #SB_LUT4
set_location ALL_SYS_PWRGD.count_esr[15] 8 7 0 #SB_DFFESR
set_location ALL_SYS_PWRGD.count[2] 8 5 2 #SB_DFFSR
set_location RSMRST_PWRGD.un1_count_1_cry_10_c 8 12 2 #SB_CARRY
set_location ALL_SYS_PWRGD.curr_state_RNIP5P46[0] 11 7 6 #SB_LUT4
set_location VPP_VDDQ.count_esr[15] 8 16 0 #SB_DFFESR
set_location PCH_PWRGD.un2_sys_pwrok 1 4 0 #SB_LUT4
set_location COUNTER.un4_counter_4_c_RNO 11 3 3 #SB_LUT4
set_location ALL_SYS_PWRGD.un1_count_1_cry_13_c 8 6 5 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_6_s 2 11 4 #SB_LUT4
set_location POWERLED.count_off[10] 5 10 2 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_location POWERLED.count_clk_RNO[13] 9 10 5 #SB_LUT4
set_location COUNTER.counter_1_cry_8_c 9 1 7 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un152_sum_i[8] 1 13 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_cry_5_s 2 11 3 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_0_c_RNIM8QV 6 5 1 #SB_LUT4
set_location POWERLED.un1_count_clk_1_cry_1_c 9 9 1 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_4_s 1 10 2 #SB_LUT4
set_location COUNTER.counter[28] 9 4 3 #SB_DFF
set_location ALL_SYS_PWRGD.count_RNO[13] 8 6 5 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_4_c 8 11 4 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[0] 8 11 0 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un110_sum_s_8 1 8 6 #SB_LUT4
set_location POWERLED.dutycycle_RNO_0[2] 6 9 0 #SB_LUT4
set_location POWERLED.VCCST_EN_i_i_i 4 12 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_axb_7_l_fx 4 11 5 #SB_LUT4
set_location POWERLED.func_state_RNI33DK1[1] 7 10 0 #SB_LUT4
set_location ALL_SYS_PWRGD.count[7] 8 5 7 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_4_c 8 14 4 #SB_CARRY
set_location POWERLED.curr_state_RNO[0] 1 15 6 #SB_LUT4
set_location PCH_PWRGD.count_RNI7J2B[3] 1 2 2 #SB_LUT4
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 7 14 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un54_sum_cry_5_s 4 5 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un145_sum_s_8 2 11 6 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_5_c 1 9 3 #SB_CARRY
set_location HDA_STRAP.un1_count_1_cry_10_c 6 2 2 #SB_CARRY
set_location COUNTER.counter_RNO[12] 9 2 3 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un138_sum_axb_8 1 10 5 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_sbtinv[8] 1 9 7 #SB_LUT4
set_location POWERLED.count_RNO[4] 5 14 3 #SB_LUT4
set_location VPP_VDDQ.count[7] 8 14 7 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_i 4 9 7 #SB_LUT4
set_location POWERLED.count_clk_RNIHJP92[1] 8 10 1 #SB_LUT4
set_location VPP_VDDQ.un1_vddq_en 2 15 7 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un96_sum_cry_3_s 1 6 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un103_sum_cry_6_c 1 7 4 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[14] 7 8 7 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_11_c 2 3 3 #SB_CARRY
set_location COUNTER.counter_RNO[7] 9 1 6 #SB_LUT4
set_location RSMRST_PWRGD.count[10] 8 12 2 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un89_sum_cry_4_c 1 5 2 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un124_sum_cry_3_s 1 9 1 #SB_LUT4
set_location ALL_SYS_PWRGD.curr_state_7_1_0_.m4_0_0_a6 11 7 2 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_6_s 1 10 4 #SB_LUT4
set_location POWERLED.pwm_out_RNO_3 4 15 2 #SB_LUT4
set_location POWERLED.dutycycle_RNI4I7Q_0[5] 5 8 0 #SB_LUT4
set_location RSMRST_PWRGD.count[2] 8 11 2 #SB_DFFSR
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un68_sum_cry_5_c 2 7 3 #SB_CARRY
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un131_sum_cry_3_s 1 10 1 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un117_sum_cry_3_c 2 9 1 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_1_c 2 2 1 #SB_CARRY
set_location POWERLED.func_state_RNIHPO9A[0] 5 11 5 #SB_LUT4
set_location POWERLED.dutycycle_RNO[5] 5 8 1 #SB_LUT4
set_location POWERLED.un1_dutycycle_1_cry_10_c 6 6 2 #SB_CARRY
set_location HDA_STRAP.curr_state_RNIH91A[0] 7 1 4 #SB_LUT4
set_location POWERLED.un1_onclocks.if_generate_plus.mult1_un47_sum_cry_6_c 4 6 4 #SB_CARRY
set_location POWERLED.dutycycle_cry_c[4] 7 7 5 #SB_CARRY
set_location POWERLED.dutycycle_RNO[13] 7 8 6 #SB_LUT4
set_location POWERLED.count_off_RNIS3P11[2] 6 9 1 #SB_LUT4
set_location COUNTER.counter[9] 9 2 0 #SB_DFF
set_location COUNTER.counter_1_cry_19_c 9 3 2 #SB_CARRY
set_io VR_READY_VCCINAUX B21
set_io V33A_ENn A5
set_io V1P8A_EN A1
set_io VDDQ_EN A48
set_io VCCST_OVERRIDE_3V3 B10
set_io V5S_OK B20
set_io SLP_S3n A38
set_io SLP_S0n A46
set_io V5S_ENn B3
set_io V1P8A_OK B2
set_io PWRBTNn A39
set_io PWRBTN_LED B36
set_io GPIO_FPGA_SoC_2 B14
set_io VCCIN_VR_PROCHOT_FPGA A31
set_io SLP_SUSn A40
set_io CPU_C10_GATE_N A13
set_io VCCST_EN A4
set_io V33DSW_OK A2
set_io TPM_GPIO B30
set_io SUSWARN_N B9
set_io PLTRSTn B11
set_io GPIO_FPGA_SoC_4 A25
set_io VR_READY_VCCIN B5
set_io V5A_OK B8
set_io RSMRSTn B35
set_io FPGA_OSC B12
set_io VCCST_PWRGD A14
set_io SYS_PWROK B27
set_io SPI_FP_IO2 A9
set_io SATAXPCIE1_FPGA B31
set_io GPIO_FPGA_EXP_1 A44
set_io VCCINAUX_VR_PROCHOT_FPGA B24
set_io VCCINAUX_VR_PE B22
set_io HDA_SDO_ATP B7
set_io GPIO_FPGA_EXP_2 A45
set_io VPP_EN A33
set_io VDDQ_OK B26
set_io SUSACK_N A11
set_io SLP_S4n B34
set_io VCCST_CPU_OK B19
set_io VCCINAUX_EN A26
set_io V33S_OK A34
set_io V33S_ENn A3
set_io GPIO_FPGA_SoC_1 A19
set_io DSW_PWROK B4
set_io V5A_EN A10
set_io GPIO_FPGA_SoC_3 B13
set_io VR_PROCHOT_FPGA_OUT_N A32
set_io VPP_OK B1
set_io VCCIN_VR_PE A27
set_io VCCIN_EN B29
set_io SOC_SPKR A47
set_io SLP_S5n A41
set_io V12_MAIN_MON A43
set_io SPI_FP_IO3 A8
set_io SATAXPCIE0_FPGA B23
set_io V33A_OK A35
set_io PCH_PWROK A12
set_io FPGA_SLP_WLAN_N A16
