set_location SLP_SUSn_RNIN4K9 5 12 0 # SB_LUT4 (LogicCell: SLP_SUSn_RNIN4K9_LC_0)
set_location GND -1 -1 -1 # GND
set_io ipInertedIOPad_CPU_C10_GATE_N 4 0 0 # ICE_IO
set_io ipInertedIOPad_DSW_PWROK 0 10 1 # ICE_IO
set_io ipInertedIOPad_FPGA_OSC 7 0 0 # ICE_IO
set_io ipInertedIOPad_FPGA_SLP_WLAN_N 6 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_1 6 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_2 5 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_1 9 0 1 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_2 9 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_3 8 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_4 13 4 0 # ICE_IO
set_io ipInertedIOPad_HDA_SDO_ATP 0 8 0 # ICE_IO
set_io ipInertedIOPad_PCH_PWROK 0 2 0 # ICE_IO
set_io ipInertedIOPad_PLTRSTn 5 0 1 # ICE_IO
set_io ipInertedIOPad_PWRBTN_LED 2 17 1 # ICE_IO
set_io ipInertedIOPad_PWRBTNn 10 17 0 # ICE_IO
set_io ipInertedIOPad_RSMRSTn 3 17 1 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE0_FPGA 13 11 0 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE1_FPGA 8 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S0n 4 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S3n 11 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S4n 4 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S5n 8 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_SUSn 9 17 0 # ICE_IO
set_io ipInertedIOPad_SOC_SPKR 3 17 0 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO2 0 8 1 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO3 0 9 0 # ICE_IO
set_io ipInertedIOPad_SUSACK_N 0 4 0 # ICE_IO
set_io ipInertedIOPad_SUSWARN_N 0 3 0 # ICE_IO
set_io ipInertedIOPad_SYS_PWROK 13 15 1 # ICE_IO
set_io ipInertedIOPad_TPM_GPIO 9 17 1 # ICE_IO
set_io ipInertedIOPad_V12_MAIN_MON 7 17 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_EN 0 14 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_OK 0 12 1 # ICE_IO
set_io ipInertedIOPad_V33A_ENn 0 10 0 # ICE_IO
set_io ipInertedIOPad_V33A_OK 13 15 0 # ICE_IO
set_io ipInertedIOPad_V33DSW_OK 0 13 0 # ICE_IO
set_io ipInertedIOPad_V33S_ENn 0 12 0 # ICE_IO
set_io ipInertedIOPad_V33S_OK 13 14 0 # ICE_IO
set_io ipInertedIOPad_V5A_EN 0 5 1 # ICE_IO
set_io ipInertedIOPad_V5A_OK 0 5 0 # ICE_IO
set_io ipInertedIOPad_V5S_ENn 0 11 1 # ICE_IO
set_io ipInertedIOPad_V5S_OK 13 6 1 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_EN 13 6 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PE 13 9 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PROCHOT_FPGA 13 12 0 # ICE_IO
set_io ipInertedIOPad_VCCIN_EN 10 17 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PE 13 7 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PROCHOT_FPGA 13 11 1 # ICE_IO
set_io ipInertedIOPad_VCCST_CPU_OK 13 3 1 # ICE_IO
set_io ipInertedIOPad_VCCST_EN 0 11 0 # ICE_IO
set_io ipInertedIOPad_VCCST_OVERRIDE_3V3 5 0 0 # ICE_IO
set_io ipInertedIOPad_VCCST_PWRGD 6 0 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_EN 1 17 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_OK 13 14 1 # ICE_IO
set_io ipInertedIOPad_VPP_EN 13 13 1 # ICE_IO
set_io ipInertedIOPad_VPP_OK 0 13 1 # ICE_IO
set_io ipInertedIOPad_VR_PROCHOT_FPGA_OUT_N 13 12 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCIN 0 9 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCINAUX 13 7 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 5 12 1 # SB_LUT4 (LogicCell: LC_1)
