set_location COUNTER.counter_RNO[0] 4 10 6 # SB_LUT4 (LogicCell: COUNTER.counter[0]_LC_0)
set_location COUNTER.counter[0] 4 10 6 # SB_DFF (LogicCell: COUNTER.counter[0]_LC_0)
set_location COUNTER.counter_RNO[1] 4 10 1 # SB_LUT4 (LogicCell: COUNTER.counter[1]_LC_1)
set_location COUNTER.counter[1] 4 10 1 # SB_DFF (LogicCell: COUNTER.counter[1]_LC_1)
set_location COUNTER.counter_RNO[10] 5 10 1 # SB_LUT4 (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter[10] 5 10 1 # SB_DFF (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter_1_cry_10_c 5 10 1 # SB_CARRY (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter_RNO[11] 5 10 2 # SB_LUT4 (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter[11] 5 10 2 # SB_DFF (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter_1_cry_11_c 5 10 2 # SB_CARRY (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter_RNO[12] 5 10 3 # SB_LUT4 (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter[12] 5 10 3 # SB_DFF (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter_1_cry_12_c 5 10 3 # SB_CARRY (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter_RNO[13] 5 10 4 # SB_LUT4 (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter[13] 5 10 4 # SB_DFF (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter_1_cry_13_c 5 10 4 # SB_CARRY (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter_RNO[14] 5 10 5 # SB_LUT4 (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter[14] 5 10 5 # SB_DFF (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter_1_cry_14_c 5 10 5 # SB_CARRY (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter_RNO[15] 5 10 6 # SB_LUT4 (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter[15] 5 10 6 # SB_DFF (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter_1_cry_15_c 5 10 6 # SB_CARRY (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter_RNO[16] 5 10 7 # SB_LUT4 (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter[16] 5 10 7 # SB_DFF (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter_1_cry_16_c 5 10 7 # SB_CARRY (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter_RNO[17] 5 11 0 # SB_LUT4 (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter[17] 5 11 0 # SB_DFF (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter_1_cry_17_c 5 11 0 # SB_CARRY (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter_RNO[18] 5 11 1 # SB_LUT4 (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter[18] 5 11 1 # SB_DFF (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter_1_cry_18_c 5 11 1 # SB_CARRY (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter_RNO[19] 5 11 2 # SB_LUT4 (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter[19] 5 11 2 # SB_DFF (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter_1_cry_19_c 5 11 2 # SB_CARRY (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter_RNO[2] 4 10 7 # SB_LUT4 (LogicCell: COUNTER.counter[2]_LC_12)
set_location COUNTER.counter[2] 4 10 7 # SB_DFF (LogicCell: COUNTER.counter[2]_LC_12)
set_location COUNTER.counter_RNO[20] 5 11 3 # SB_LUT4 (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter[20] 5 11 3 # SB_DFF (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter_1_cry_20_c 5 11 3 # SB_CARRY (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter_RNO[21] 5 11 4 # SB_LUT4 (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter[21] 5 11 4 # SB_DFF (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter_1_cry_21_c 5 11 4 # SB_CARRY (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter_RNO[22] 5 11 5 # SB_LUT4 (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter[22] 5 11 5 # SB_DFF (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter_1_cry_22_c 5 11 5 # SB_CARRY (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter_RNO[23] 5 11 6 # SB_LUT4 (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter[23] 5 11 6 # SB_DFF (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter_1_cry_23_c 5 11 6 # SB_CARRY (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter_RNO[24] 5 11 7 # SB_LUT4 (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter[24] 5 11 7 # SB_DFF (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter_1_cry_24_c 5 11 7 # SB_CARRY (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter_RNO[25] 5 12 0 # SB_LUT4 (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter[25] 5 12 0 # SB_DFF (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter_1_cry_25_c 5 12 0 # SB_CARRY (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter_RNO[26] 5 12 1 # SB_LUT4 (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter[26] 5 12 1 # SB_DFF (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter_1_cry_26_c 5 12 1 # SB_CARRY (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter_RNO[27] 5 12 2 # SB_LUT4 (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter[27] 5 12 2 # SB_DFF (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter_1_cry_27_c 5 12 2 # SB_CARRY (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter_RNO[28] 5 12 3 # SB_LUT4 (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter[28] 5 12 3 # SB_DFF (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter_1_cry_28_c 5 12 3 # SB_CARRY (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter_RNO[29] 5 12 4 # SB_LUT4 (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter[29] 5 12 4 # SB_DFF (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter_1_cry_29_c 5 12 4 # SB_CARRY (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter_RNO[3] 4 10 3 # SB_LUT4 (LogicCell: COUNTER.counter[3]_LC_23)
set_location COUNTER.counter[3] 4 10 3 # SB_DFF (LogicCell: COUNTER.counter[3]_LC_23)
set_location COUNTER.counter_RNO[30] 5 12 5 # SB_LUT4 (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter[30] 5 12 5 # SB_DFF (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter_1_cry_30_c 5 12 5 # SB_CARRY (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter_RNO[31] 5 12 6 # SB_LUT4 (LogicCell: COUNTER.counter[31]_LC_25)
set_location COUNTER.counter[31] 5 12 6 # SB_DFF (LogicCell: COUNTER.counter[31]_LC_25)
set_location COUNTER.counter_RNO[4] 4 10 0 # SB_LUT4 (LogicCell: COUNTER.counter[4]_LC_26)
set_location COUNTER.counter[4] 4 10 0 # SB_DFF (LogicCell: COUNTER.counter[4]_LC_26)
set_location COUNTER.counter_RNO[5] 4 10 4 # SB_LUT4 (LogicCell: COUNTER.counter[5]_LC_27)
set_location COUNTER.counter[5] 4 10 4 # SB_DFF (LogicCell: COUNTER.counter[5]_LC_27)
set_location COUNTER.counter_RNO[6] 4 9 5 # SB_LUT4 (LogicCell: COUNTER.counter[6]_LC_28)
set_location COUNTER.counter[6] 4 9 5 # SB_DFF (LogicCell: COUNTER.counter[6]_LC_28)
set_location COUNTER.counter_RNO[7] 5 9 6 # SB_LUT4 (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter[7] 5 9 6 # SB_DFF (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter_1_cry_7_c 5 9 6 # SB_CARRY (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter_RNO[8] 5 9 7 # SB_LUT4 (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter[8] 5 9 7 # SB_DFF (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter_1_cry_8_c 5 9 7 # SB_CARRY (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter_RNO[9] 5 10 0 # SB_LUT4 (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.counter[9] 5 10 0 # SB_DFF (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.counter_1_cry_9_c 5 10 0 # SB_CARRY (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.tmp_RNICR092 2 13 7 # SB_LUT4 (LogicCell: COUNTER.tmp_RNICR092_LC_32)
set_location COUNTER.tmp_RNIRH3P 2 11 5 # SB_LUT4 (LogicCell: COUNTER.tmp_RNIRH3P_LC_33)
set_location COUNTER.tmp_RNO 2 10 5 # SB_LUT4 (LogicCell: COUNTER.tmp_LC_34)
set_location COUNTER.tmp 2 10 5 # SB_DFF (LogicCell: COUNTER.tmp_LC_34)
set_location COUNTER.un4_counter_0_c_RNO 4 9 0 # SB_LUT4 (LogicCell: COUNTER.un4_counter_0_c_RNO_LC_35)
set_location COUNTER.un4_counter_1_c_RNO 4 9 6 # SB_LUT4 (LogicCell: COUNTER.un4_counter_1_c_RNO_LC_36)
set_location COUNTER.un4_counter_2_c_RNO 4 9 1 # SB_LUT4 (LogicCell: COUNTER.un4_counter_2_c_RNO_LC_37)
set_location COUNTER.un4_counter_3_c_RNO 4 9 2 # SB_LUT4 (LogicCell: COUNTER.un4_counter_3_c_RNO_LC_38)
set_location COUNTER.un4_counter_4_c_RNO 4 10 2 # SB_LUT4 (LogicCell: COUNTER.un4_counter_4_c_RNO_LC_39)
set_location COUNTER.un4_counter_5_c_RNO 4 11 0 # SB_LUT4 (LogicCell: COUNTER.un4_counter_5_c_RNO_LC_40)
set_location COUNTER.un4_counter_6_c_RNO 4 11 3 # SB_LUT4 (LogicCell: COUNTER.un4_counter_6_c_RNO_LC_41)
set_location COUNTER.un4_counter_7_c_RNIGGLR8 2 14 7 # SB_LUT4 (LogicCell: COUNTER.un4_counter_7_c_RNIGGLR8_LC_42)
set_location COUNTER.un4_counter_7_c_RNO 5 12 7 # SB_LUT4 (LogicCell: COUNTER.un4_counter_7_c_RNO_LC_43)
set_location RSMRST_PWRGD.RSMRSTn_RNO 2 12 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.RSMRSTn_LC_44)
set_location RSMRST_PWRGD.RSMRSTn 2 12 3 # SB_DFF (LogicCell: RSMRST_PWRGD.RSMRSTn_LC_44)
set_location RSMRST_PWRGD.RSMRSTn_RNO_0 2 12 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.RSMRSTn_RNO_0_LC_45)
set_location RSMRST_PWRGD.count_RNI4MLK1[1] 1 10 7 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNI4MLK1[1]_LC_46)
set_location RSMRST_PWRGD.count_RNI9RLK1[3] 1 10 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNI9RLK1[3]_LC_47)
set_location RSMRST_PWRGD.count_RNIIRGK[10] 1 10 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNIIRGK[10]_LC_48)
set_location RSMRST_PWRGD.count_RNIR8OP4[10] 1 10 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNIR8OP4[10]_LC_49)
set_location RSMRST_PWRGD.count_RNO[0] 1 11 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[0]_LC_50)
set_location RSMRST_PWRGD.count[0] 1 11 0 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[0]_LC_50)
set_location RSMRST_PWRGD.un1_count_1_cry_0_c 1 11 0 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[0]_LC_50)
set_location RSMRST_PWRGD.count_RNO[1] 1 11 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[1]_LC_51)
set_location RSMRST_PWRGD.count[1] 1 11 1 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[1]_LC_51)
set_location RSMRST_PWRGD.un1_count_1_cry_1_c 1 11 1 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[1]_LC_51)
set_location RSMRST_PWRGD.count_RNO[10] 1 12 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[10]_LC_52)
set_location RSMRST_PWRGD.count[10] 1 12 2 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[10]_LC_52)
set_location RSMRST_PWRGD.un1_count_1_cry_10_c 1 12 2 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[10]_LC_52)
set_location RSMRST_PWRGD.count_RNO[11] 1 12 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[11]_LC_53)
set_location RSMRST_PWRGD.count[11] 1 12 3 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[11]_LC_53)
set_location RSMRST_PWRGD.un1_count_1_cry_11_c 1 12 3 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[11]_LC_53)
set_location RSMRST_PWRGD.count_RNO[12] 1 12 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[12]_LC_54)
set_location RSMRST_PWRGD.count[12] 1 12 4 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[12]_LC_54)
set_location RSMRST_PWRGD.un1_count_1_cry_12_c 1 12 4 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[12]_LC_54)
set_location RSMRST_PWRGD.count_RNO[13] 1 12 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[13]_LC_55)
set_location RSMRST_PWRGD.count[13] 1 12 5 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[13]_LC_55)
set_location RSMRST_PWRGD.un1_count_1_cry_13_c 1 12 5 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[13]_LC_55)
set_location RSMRST_PWRGD.count_RNO[14] 1 12 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[14]_LC_56)
set_location RSMRST_PWRGD.count[14] 1 12 6 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[14]_LC_56)
set_location RSMRST_PWRGD.un1_count_1_cry_14_c 1 12 6 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[14]_LC_56)
set_location RSMRST_PWRGD.count_RNO[2] 1 11 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[2]_LC_57)
set_location RSMRST_PWRGD.count[2] 1 11 2 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[2]_LC_57)
set_location RSMRST_PWRGD.un1_count_1_cry_2_c 1 11 2 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[2]_LC_57)
set_location RSMRST_PWRGD.count_RNO[3] 1 11 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[3]_LC_58)
set_location RSMRST_PWRGD.count[3] 1 11 3 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[3]_LC_58)
set_location RSMRST_PWRGD.un1_count_1_cry_3_c 1 11 3 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[3]_LC_58)
set_location RSMRST_PWRGD.count_RNO[4] 1 11 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[4]_LC_59)
set_location RSMRST_PWRGD.count[4] 1 11 4 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[4]_LC_59)
set_location RSMRST_PWRGD.un1_count_1_cry_4_c 1 11 4 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[4]_LC_59)
set_location RSMRST_PWRGD.count_RNO[5] 1 11 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[5]_LC_60)
set_location RSMRST_PWRGD.count[5] 1 11 5 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[5]_LC_60)
set_location RSMRST_PWRGD.un1_count_1_cry_5_c 1 11 5 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[5]_LC_60)
set_location RSMRST_PWRGD.count_RNO[6] 1 11 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[6]_LC_61)
set_location RSMRST_PWRGD.count[6] 1 11 6 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[6]_LC_61)
set_location RSMRST_PWRGD.un1_count_1_cry_6_c 1 11 6 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[6]_LC_61)
set_location RSMRST_PWRGD.count_RNO[7] 1 11 7 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[7]_LC_62)
set_location RSMRST_PWRGD.count[7] 1 11 7 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[7]_LC_62)
set_location RSMRST_PWRGD.un1_count_1_cry_7_c 1 11 7 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[7]_LC_62)
set_location RSMRST_PWRGD.count_RNO[8] 1 12 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[8]_LC_63)
set_location RSMRST_PWRGD.count[8] 1 12 0 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[8]_LC_63)
set_location RSMRST_PWRGD.un1_count_1_cry_8_c 1 12 0 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[8]_LC_63)
set_location RSMRST_PWRGD.count_RNO[9] 1 12 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[9]_LC_64)
set_location RSMRST_PWRGD.count[9] 1 12 1 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[9]_LC_64)
set_location RSMRST_PWRGD.un1_count_1_cry_9_c 1 12 1 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[9]_LC_64)
set_location RSMRST_PWRGD.count_esr_RNISRRR[15] 1 10 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr_RNISRRR[15]_LC_65)
set_location RSMRST_PWRGD.count_esr_RNO_0[15] 2 11 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr_RNO_0[15]_LC_66)
set_location RSMRST_PWRGD.count_esr_RNO[15] 1 13 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr[15]_LC_67)
set_location RSMRST_PWRGD.count_esr[15] 1 13 0 # SB_DFFESR (LogicCell: RSMRST_PWRGD.count_esr[15]_LC_67)
set_location RSMRST_PWRGD.curr_state_RNII9BF7[1] 2 11 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNII9BF7[1]_LC_68)
set_location RSMRST_PWRGD.curr_state_RNIR5E01[0] 2 11 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNIR5E01[0]_LC_69)
set_location RSMRST_PWRGD.curr_state_RNISEFS1[0] 2 11 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNISEFS1[0]_LC_70)
set_location RSMRST_PWRGD.curr_state_RNO[0] 2 11 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state[0]_LC_71)
set_location RSMRST_PWRGD.curr_state[0] 2 11 6 # SB_DFF (LogicCell: RSMRST_PWRGD.curr_state[0]_LC_71)
set_location RSMRST_PWRGD.curr_state_RNO_0[0] 2 11 7 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNO_0[0]_LC_72)
set_location RSMRST_PWRGD.curr_state_RNO_0[1] 2 11 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNO_0[1]_LC_73)
set_location RSMRST_PWRGD.curr_state_RNO[1] 2 10 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state[1]_LC_74)
set_location RSMRST_PWRGD.curr_state[1] 2 10 2 # SB_DFF (LogicCell: RSMRST_PWRGD.curr_state[1]_LC_74)
set_location RSMRST_PWRGD.g1_2 2 12 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.g1_2_LC_75)
set_location RSMRST_PWRGD.un6_rsmrst_pwrgd 4 12 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.un6_rsmrst_pwrgd_LC_76)
set_location SLP_SUSn_RNIN4K9 1 10 3 # SB_LUT4 (LogicCell: SLP_SUSn_RNIN4K9_LC_77)
set_location VCCIN_PWRGD.un10_output 12 12 4 # SB_LUT4 (LogicCell: VCCIN_PWRGD.un10_output_LC_78)
set_location VCCIN_PWRGD.un10_output_0 4 12 4 # SB_LUT4 (LogicCell: VCCIN_PWRGD.un10_output_0_LC_79)
set_location VDDQ_OK_RNIBGAL 2 13 1 # SB_LUT4 (LogicCell: VDDQ_OK_RNIBGAL_LC_80)
set_location VPP_VDDQ.VCCST_EN 2 13 3 # SB_LUT4 (LogicCell: VPP_VDDQ.VCCST_EN_LC_81)
set_location VPP_VDDQ.count_RNI63141[10] 2 14 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNI63141[10]_LC_82)
set_location VPP_VDDQ.count_RNIFC141[11] 2 15 7 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNIFC141[11]_LC_83)
set_location VPP_VDDQ.count_RNIVJP51[3] 2 14 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNIVJP51[3]_LC_84)
set_location VPP_VDDQ.count_RNO[0] 1 14 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count[0]_LC_85)
set_location VPP_VDDQ.count[0] 1 14 0 # SB_DFFSR (LogicCell: VPP_VDDQ.count[0]_LC_85)
set_location VPP_VDDQ.un1_count_1_cry_0_c 1 14 0 # SB_CARRY (LogicCell: VPP_VDDQ.count[0]_LC_85)
set_location VPP_VDDQ.count_RNO[1] 1 14 1 # SB_LUT4 (LogicCell: VPP_VDDQ.count[1]_LC_86)
set_location VPP_VDDQ.count[1] 1 14 1 # SB_DFFSR (LogicCell: VPP_VDDQ.count[1]_LC_86)
set_location VPP_VDDQ.un1_count_1_cry_1_c 1 14 1 # SB_CARRY (LogicCell: VPP_VDDQ.count[1]_LC_86)
set_location VPP_VDDQ.count_RNO[10] 1 15 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count[10]_LC_87)
set_location VPP_VDDQ.count[10] 1 15 2 # SB_DFFSR (LogicCell: VPP_VDDQ.count[10]_LC_87)
set_location VPP_VDDQ.un1_count_1_cry_10_c 1 15 2 # SB_CARRY (LogicCell: VPP_VDDQ.count[10]_LC_87)
set_location VPP_VDDQ.count_RNO[11] 1 15 3 # SB_LUT4 (LogicCell: VPP_VDDQ.count[11]_LC_88)
set_location VPP_VDDQ.count[11] 1 15 3 # SB_DFFSR (LogicCell: VPP_VDDQ.count[11]_LC_88)
set_location VPP_VDDQ.un1_count_1_cry_11_c 1 15 3 # SB_CARRY (LogicCell: VPP_VDDQ.count[11]_LC_88)
set_location VPP_VDDQ.count_RNO[12] 1 15 4 # SB_LUT4 (LogicCell: VPP_VDDQ.count[12]_LC_89)
set_location VPP_VDDQ.count[12] 1 15 4 # SB_DFFSR (LogicCell: VPP_VDDQ.count[12]_LC_89)
set_location VPP_VDDQ.un1_count_1_cry_12_c 1 15 4 # SB_CARRY (LogicCell: VPP_VDDQ.count[12]_LC_89)
set_location VPP_VDDQ.count_RNO[13] 1 15 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count[13]_LC_90)
set_location VPP_VDDQ.count[13] 1 15 5 # SB_DFFSR (LogicCell: VPP_VDDQ.count[13]_LC_90)
set_location VPP_VDDQ.un1_count_1_cry_13_c 1 15 5 # SB_CARRY (LogicCell: VPP_VDDQ.count[13]_LC_90)
set_location VPP_VDDQ.count_RNO[14] 1 15 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count[14]_LC_91)
set_location VPP_VDDQ.count[14] 1 15 6 # SB_DFFSR (LogicCell: VPP_VDDQ.count[14]_LC_91)
set_location VPP_VDDQ.un1_count_1_cry_14_c 1 15 6 # SB_CARRY (LogicCell: VPP_VDDQ.count[14]_LC_91)
set_location VPP_VDDQ.count_RNO[2] 1 14 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count[2]_LC_92)
set_location VPP_VDDQ.count[2] 1 14 2 # SB_DFFSR (LogicCell: VPP_VDDQ.count[2]_LC_92)
set_location VPP_VDDQ.un1_count_1_cry_2_c 1 14 2 # SB_CARRY (LogicCell: VPP_VDDQ.count[2]_LC_92)
set_location VPP_VDDQ.count_RNO[3] 1 14 3 # SB_LUT4 (LogicCell: VPP_VDDQ.count[3]_LC_93)
set_location VPP_VDDQ.count[3] 1 14 3 # SB_DFFSR (LogicCell: VPP_VDDQ.count[3]_LC_93)
set_location VPP_VDDQ.un1_count_1_cry_3_c 1 14 3 # SB_CARRY (LogicCell: VPP_VDDQ.count[3]_LC_93)
set_location VPP_VDDQ.count_RNO[4] 1 14 4 # SB_LUT4 (LogicCell: VPP_VDDQ.count[4]_LC_94)
set_location VPP_VDDQ.count[4] 1 14 4 # SB_DFFSR (LogicCell: VPP_VDDQ.count[4]_LC_94)
set_location VPP_VDDQ.un1_count_1_cry_4_c 1 14 4 # SB_CARRY (LogicCell: VPP_VDDQ.count[4]_LC_94)
set_location VPP_VDDQ.count_RNO[5] 1 14 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count[5]_LC_95)
set_location VPP_VDDQ.count[5] 1 14 5 # SB_DFFSR (LogicCell: VPP_VDDQ.count[5]_LC_95)
set_location VPP_VDDQ.un1_count_1_cry_5_c 1 14 5 # SB_CARRY (LogicCell: VPP_VDDQ.count[5]_LC_95)
set_location VPP_VDDQ.count_RNO[6] 1 14 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count[6]_LC_96)
set_location VPP_VDDQ.count[6] 1 14 6 # SB_DFFSR (LogicCell: VPP_VDDQ.count[6]_LC_96)
set_location VPP_VDDQ.un1_count_1_cry_6_c 1 14 6 # SB_CARRY (LogicCell: VPP_VDDQ.count[6]_LC_96)
set_location VPP_VDDQ.count_RNO[7] 1 14 7 # SB_LUT4 (LogicCell: VPP_VDDQ.count[7]_LC_97)
set_location VPP_VDDQ.count[7] 1 14 7 # SB_DFFSR (LogicCell: VPP_VDDQ.count[7]_LC_97)
set_location VPP_VDDQ.un1_count_1_cry_7_c 1 14 7 # SB_CARRY (LogicCell: VPP_VDDQ.count[7]_LC_97)
set_location VPP_VDDQ.count_RNO[8] 1 15 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count[8]_LC_98)
set_location VPP_VDDQ.count[8] 1 15 0 # SB_DFFSR (LogicCell: VPP_VDDQ.count[8]_LC_98)
set_location VPP_VDDQ.un1_count_1_cry_8_c 1 15 0 # SB_CARRY (LogicCell: VPP_VDDQ.count[8]_LC_98)
set_location VPP_VDDQ.count_RNO[9] 1 15 1 # SB_LUT4 (LogicCell: VPP_VDDQ.count[9]_LC_99)
set_location VPP_VDDQ.count[9] 1 15 1 # SB_DFFSR (LogicCell: VPP_VDDQ.count[9]_LC_99)
set_location VPP_VDDQ.un1_count_1_cry_9_c 1 15 1 # SB_CARRY (LogicCell: VPP_VDDQ.count[9]_LC_99)
set_location VPP_VDDQ.count_esr_RNI7CQO[15] 2 15 3 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNI7CQO[15]_LC_100)
set_location VPP_VDDQ.count_esr_RNIRFM64[15] 2 14 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNIRFM64[15]_LC_101)
set_location VPP_VDDQ.count_esr_RNO_0[15] 2 15 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNO_0[15]_LC_102)
set_location VPP_VDDQ.count_esr_RNO[15] 1 16 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr[15]_LC_103)
set_location VPP_VDDQ.count_esr[15] 1 16 0 # SB_DFFESR (LogicCell: VPP_VDDQ.count_esr[15]_LC_103)
set_location VPP_VDDQ.curr_state_RNIDNTT1[0] 2 13 2 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state_RNIDNTT1[0]_LC_104)
set_location VPP_VDDQ.curr_state_RNIDNTT1_0[0] 2 13 5 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state_RNIDNTT1_0[0]_LC_105)
set_location VPP_VDDQ.curr_state_RNO[0] 2 12 4 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state[0]_LC_106)
set_location VPP_VDDQ.curr_state[0] 2 12 4 # SB_DFF (LogicCell: VPP_VDDQ.curr_state[0]_LC_106)
set_location VPP_VDDQ.curr_state_RNO[1] 2 12 6 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state[1]_LC_107)
set_location VPP_VDDQ.curr_state[1] 2 12 6 # SB_DFF (LogicCell: VPP_VDDQ.curr_state[1]_LC_107)
set_location VPP_VDDQ.delayed_vddq_pwrgd_1_sqmuxa_N_2L1 2 13 4 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_1_sqmuxa_N_2L1_LC_108)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ 4 13 7 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_109)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO 4 11 7 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_LC_110)
set_location VPP_VDDQ.delayed_vddq_pwrgd 4 11 7 # SB_DFF (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_LC_110)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 4 10 5 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_111)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 4 11 6 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_112)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_2 2 10 1 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_2_LC_113)
set_location VPP_VDDQ.slp_s3n_signal_i 2 12 5 # SB_LUT4 (LogicCell: VPP_VDDQ.slp_s3n_signal_i_LC_114)
set_location VPP_VDDQ.un1_vddq_en 2 13 0 # SB_LUT4 (LogicCell: VPP_VDDQ.un1_vddq_en_LC_115)
set_location VPP_VDDQ.un1_vddq_pwrgd 2 13 6 # SB_LUT4 (LogicCell: VPP_VDDQ.un1_vddq_pwrgd_LC_116)
set_location COUNTER.counter_1_cry_1_THRU_LUT4_0 5 9 1 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_117)
set_location COUNTER.counter_1_cry_2_c 5 9 1 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_117)
set_location COUNTER.counter_1_cry_2_THRU_LUT4_0 5 9 2 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_118)
set_location COUNTER.counter_1_cry_3_c 5 9 2 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_118)
set_location COUNTER.counter_1_cry_3_THRU_LUT4_0 5 9 3 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_119)
set_location COUNTER.counter_1_cry_4_c 5 9 3 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_119)
set_location COUNTER.counter_1_cry_4_THRU_LUT4_0 5 9 4 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_120)
set_location COUNTER.counter_1_cry_5_c 5 9 4 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_120)
set_location COUNTER.counter_1_cry_5_THRU_LUT4_0 5 9 5 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_121)
set_location COUNTER.counter_1_cry_6_c 5 9 5 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_121)
set_location COUNTER_un4_counter_7_THRU_LUT4_0 2 10 0 # SB_LUT4 (LogicCell: COUNTER_un4_counter_7_THRU_LUT4_0_LC_122)
set_location COUNTER.counter_1_cry_1_c 5 9 0 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_1_c_LC_123)
set_location COUNTER.un4_counter_0_c 2 9 0 # SB_CARRY (LogicCell: COUNTER.un4_counter_0_c_LC_124)
set_location COUNTER.un4_counter_1_c 2 9 1 # SB_CARRY (LogicCell: COUNTER.un4_counter_1_c_LC_125)
set_location COUNTER.un4_counter_2_c 2 9 2 # SB_CARRY (LogicCell: COUNTER.un4_counter_2_c_LC_126)
set_location COUNTER.un4_counter_3_c 2 9 3 # SB_CARRY (LogicCell: COUNTER.un4_counter_3_c_LC_127)
set_location COUNTER.un4_counter_4_c 2 9 4 # SB_CARRY (LogicCell: COUNTER.un4_counter_4_c_LC_128)
set_location COUNTER.un4_counter_5_c 2 9 5 # SB_CARRY (LogicCell: COUNTER.un4_counter_5_c_LC_129)
set_location COUNTER.un4_counter_6_c 2 9 6 # SB_CARRY (LogicCell: COUNTER.un4_counter_6_c_LC_130)
set_location COUNTER.un4_counter_7_c 2 9 7 # SB_CARRY (LogicCell: COUNTER.un4_counter_7_c_LC_131)
set_location GND -1 -1 -1 # GND
set_io ipInertedIOPad_CPU_C10_GATE_N 4 0 0 # ICE_IO
set_io ipInertedIOPad_DSW_PWROK 0 10 1 # ICE_IO
set_io ipInertedIOPad_FPGA_OSC 7 0 0 # ICE_IO
set_io ipInertedIOPad_FPGA_SLP_WLAN_N 6 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_1 6 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_2 5 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_1 9 0 1 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_2 9 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_3 8 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_4 13 4 0 # ICE_IO
set_io ipInertedIOPad_HDA_SDO_ATP 0 8 0 # ICE_IO
set_io ipInertedIOPad_PCH_PWROK 0 2 0 # ICE_IO
set_io ipInertedIOPad_PLTRSTn 5 0 1 # ICE_IO
set_io ipInertedIOPad_PWRBTN_LED 2 17 1 # ICE_IO
set_io ipInertedIOPad_PWRBTNn 10 17 0 # ICE_IO
set_io ipInertedIOPad_RSMRSTn 3 17 1 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE0_FPGA 13 11 0 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE1_FPGA 8 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S0n 4 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S3n 11 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S4n 4 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S5n 8 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_SUSn 9 17 0 # ICE_IO
set_io ipInertedIOPad_SOC_SPKR 3 17 0 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO2 0 8 1 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO3 0 9 0 # ICE_IO
set_io ipInertedIOPad_SUSACK_N 0 4 0 # ICE_IO
set_io ipInertedIOPad_SUSWARN_N 0 3 0 # ICE_IO
set_io ipInertedIOPad_SYS_PWROK 13 15 1 # ICE_IO
set_io ipInertedIOPad_TPM_GPIO 9 17 1 # ICE_IO
set_io ipInertedIOPad_V12_MAIN_MON 7 17 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_EN 0 14 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_OK 0 12 1 # ICE_IO
set_io ipInertedIOPad_V33A_ENn 0 10 0 # ICE_IO
set_io ipInertedIOPad_V33A_OK 13 15 0 # ICE_IO
set_io ipInertedIOPad_V33DSW_OK 0 13 0 # ICE_IO
set_io ipInertedIOPad_V33S_ENn 0 12 0 # ICE_IO
set_io ipInertedIOPad_V33S_OK 13 14 0 # ICE_IO
set_io ipInertedIOPad_V5A_EN 0 5 1 # ICE_IO
set_io ipInertedIOPad_V5A_OK 0 5 0 # ICE_IO
set_io ipInertedIOPad_V5S_ENn 0 11 1 # ICE_IO
set_io ipInertedIOPad_V5S_OK 13 6 1 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_EN 13 6 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PE 13 9 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PROCHOT_FPGA 13 12 0 # ICE_IO
set_io ipInertedIOPad_VCCIN_EN 10 17 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PE 13 7 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PROCHOT_FPGA 13 11 1 # ICE_IO
set_io ipInertedIOPad_VCCST_CPU_OK 13 3 1 # ICE_IO
set_io ipInertedIOPad_VCCST_EN 0 11 0 # ICE_IO
set_io ipInertedIOPad_VCCST_OVERRIDE_3V3 5 0 0 # ICE_IO
set_io ipInertedIOPad_VCCST_PWRGD 6 0 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_EN 1 17 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_OK 13 14 1 # ICE_IO
set_io ipInertedIOPad_VPP_EN 13 13 1 # ICE_IO
set_io ipInertedIOPad_VPP_OK 0 13 1 # ICE_IO
set_io ipInertedIOPad_VR_PROCHOT_FPGA_OUT_N 13 12 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCIN 0 9 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCINAUX 13 7 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 11 13 6 # SB_LUT4 (LogicCell: LC_132)
set_location RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 1 12 7 # SB_CARRY (LogicCell: LC_133)
set_location VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 1 15 7 # SB_CARRY (LogicCell: LC_134)
