set_location COUNTER.counter_RNO[0] 5 10 0 # SB_LUT4 (LogicCell: COUNTER.counter[0]_LC_0)
set_location COUNTER.counter[0] 5 10 0 # SB_DFF (LogicCell: COUNTER.counter[0]_LC_0)
set_location COUNTER.counter_RNO[1] 5 9 4 # SB_LUT4 (LogicCell: COUNTER.counter[1]_LC_1)
set_location COUNTER.counter[1] 5 9 4 # SB_DFF (LogicCell: COUNTER.counter[1]_LC_1)
set_location COUNTER.counter_RNO[10] 6 10 1 # SB_LUT4 (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter[10] 6 10 1 # SB_DFF (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter_1_cry_10_c 6 10 1 # SB_CARRY (LogicCell: COUNTER.counter[10]_LC_2)
set_location COUNTER.counter_RNO[11] 6 10 2 # SB_LUT4 (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter[11] 6 10 2 # SB_DFF (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter_1_cry_11_c 6 10 2 # SB_CARRY (LogicCell: COUNTER.counter[11]_LC_3)
set_location COUNTER.counter_RNO[12] 6 10 3 # SB_LUT4 (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter[12] 6 10 3 # SB_DFF (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter_1_cry_12_c 6 10 3 # SB_CARRY (LogicCell: COUNTER.counter[12]_LC_4)
set_location COUNTER.counter_RNO[13] 6 10 4 # SB_LUT4 (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter[13] 6 10 4 # SB_DFF (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter_1_cry_13_c 6 10 4 # SB_CARRY (LogicCell: COUNTER.counter[13]_LC_5)
set_location COUNTER.counter_RNO[14] 6 10 5 # SB_LUT4 (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter[14] 6 10 5 # SB_DFF (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter_1_cry_14_c 6 10 5 # SB_CARRY (LogicCell: COUNTER.counter[14]_LC_6)
set_location COUNTER.counter_RNO[15] 6 10 6 # SB_LUT4 (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter[15] 6 10 6 # SB_DFF (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter_1_cry_15_c 6 10 6 # SB_CARRY (LogicCell: COUNTER.counter[15]_LC_7)
set_location COUNTER.counter_RNO[16] 6 10 7 # SB_LUT4 (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter[16] 6 10 7 # SB_DFF (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter_1_cry_16_c 6 10 7 # SB_CARRY (LogicCell: COUNTER.counter[16]_LC_8)
set_location COUNTER.counter_RNO[17] 6 11 0 # SB_LUT4 (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter[17] 6 11 0 # SB_DFF (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter_1_cry_17_c 6 11 0 # SB_CARRY (LogicCell: COUNTER.counter[17]_LC_9)
set_location COUNTER.counter_RNO[18] 6 11 1 # SB_LUT4 (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter[18] 6 11 1 # SB_DFF (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter_1_cry_18_c 6 11 1 # SB_CARRY (LogicCell: COUNTER.counter[18]_LC_10)
set_location COUNTER.counter_RNO[19] 6 11 2 # SB_LUT4 (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter[19] 6 11 2 # SB_DFF (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter_1_cry_19_c 6 11 2 # SB_CARRY (LogicCell: COUNTER.counter[19]_LC_11)
set_location COUNTER.counter_RNO[2] 5 9 6 # SB_LUT4 (LogicCell: COUNTER.counter[2]_LC_12)
set_location COUNTER.counter[2] 5 9 6 # SB_DFF (LogicCell: COUNTER.counter[2]_LC_12)
set_location COUNTER.counter_RNO[20] 6 11 3 # SB_LUT4 (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter[20] 6 11 3 # SB_DFF (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter_1_cry_20_c 6 11 3 # SB_CARRY (LogicCell: COUNTER.counter[20]_LC_13)
set_location COUNTER.counter_RNO[21] 6 11 4 # SB_LUT4 (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter[21] 6 11 4 # SB_DFF (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter_1_cry_21_c 6 11 4 # SB_CARRY (LogicCell: COUNTER.counter[21]_LC_14)
set_location COUNTER.counter_RNO[22] 6 11 5 # SB_LUT4 (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter[22] 6 11 5 # SB_DFF (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter_1_cry_22_c 6 11 5 # SB_CARRY (LogicCell: COUNTER.counter[22]_LC_15)
set_location COUNTER.counter_RNO[23] 6 11 6 # SB_LUT4 (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter[23] 6 11 6 # SB_DFF (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter_1_cry_23_c 6 11 6 # SB_CARRY (LogicCell: COUNTER.counter[23]_LC_16)
set_location COUNTER.counter_RNO[24] 6 11 7 # SB_LUT4 (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter[24] 6 11 7 # SB_DFF (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter_1_cry_24_c 6 11 7 # SB_CARRY (LogicCell: COUNTER.counter[24]_LC_17)
set_location COUNTER.counter_RNO[25] 6 12 0 # SB_LUT4 (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter[25] 6 12 0 # SB_DFF (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter_1_cry_25_c 6 12 0 # SB_CARRY (LogicCell: COUNTER.counter[25]_LC_18)
set_location COUNTER.counter_RNO[26] 6 12 1 # SB_LUT4 (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter[26] 6 12 1 # SB_DFF (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter_1_cry_26_c 6 12 1 # SB_CARRY (LogicCell: COUNTER.counter[26]_LC_19)
set_location COUNTER.counter_RNO[27] 6 12 2 # SB_LUT4 (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter[27] 6 12 2 # SB_DFF (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter_1_cry_27_c 6 12 2 # SB_CARRY (LogicCell: COUNTER.counter[27]_LC_20)
set_location COUNTER.counter_RNO[28] 6 12 3 # SB_LUT4 (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter[28] 6 12 3 # SB_DFF (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter_1_cry_28_c 6 12 3 # SB_CARRY (LogicCell: COUNTER.counter[28]_LC_21)
set_location COUNTER.counter_RNO[29] 6 12 4 # SB_LUT4 (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter[29] 6 12 4 # SB_DFF (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter_1_cry_29_c 6 12 4 # SB_CARRY (LogicCell: COUNTER.counter[29]_LC_22)
set_location COUNTER.counter_RNO[3] 5 9 7 # SB_LUT4 (LogicCell: COUNTER.counter[3]_LC_23)
set_location COUNTER.counter[3] 5 9 7 # SB_DFF (LogicCell: COUNTER.counter[3]_LC_23)
set_location COUNTER.counter_RNO[30] 6 12 5 # SB_LUT4 (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter[30] 6 12 5 # SB_DFF (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter_1_cry_30_c 6 12 5 # SB_CARRY (LogicCell: COUNTER.counter[30]_LC_24)
set_location COUNTER.counter_RNO[31] 6 12 6 # SB_LUT4 (LogicCell: COUNTER.counter[31]_LC_25)
set_location COUNTER.counter[31] 6 12 6 # SB_DFF (LogicCell: COUNTER.counter[31]_LC_25)
set_location COUNTER.counter_RNO[4] 5 9 0 # SB_LUT4 (LogicCell: COUNTER.counter[4]_LC_26)
set_location COUNTER.counter[4] 5 9 0 # SB_DFF (LogicCell: COUNTER.counter[4]_LC_26)
set_location COUNTER.counter_RNO[5] 5 9 5 # SB_LUT4 (LogicCell: COUNTER.counter[5]_LC_27)
set_location COUNTER.counter[5] 5 9 5 # SB_DFF (LogicCell: COUNTER.counter[5]_LC_27)
set_location COUNTER.counter_RNO[6] 5 9 3 # SB_LUT4 (LogicCell: COUNTER.counter[6]_LC_28)
set_location COUNTER.counter[6] 5 9 3 # SB_DFF (LogicCell: COUNTER.counter[6]_LC_28)
set_location COUNTER.counter_RNO[7] 6 9 6 # SB_LUT4 (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter[7] 6 9 6 # SB_DFF (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter_1_cry_7_c 6 9 6 # SB_CARRY (LogicCell: COUNTER.counter[7]_LC_29)
set_location COUNTER.counter_RNO[8] 6 9 7 # SB_LUT4 (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter[8] 6 9 7 # SB_DFF (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter_1_cry_8_c 6 9 7 # SB_CARRY (LogicCell: COUNTER.counter[8]_LC_30)
set_location COUNTER.counter_RNO[9] 6 10 0 # SB_LUT4 (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.counter[9] 6 10 0 # SB_DFF (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.counter_1_cry_9_c 6 10 0 # SB_CARRY (LogicCell: COUNTER.counter[9]_LC_31)
set_location COUNTER.tmp_RNIGGLR8 4 15 0 # SB_LUT4 (LogicCell: COUNTER.tmp_RNIGGLR8_LC_32)
set_location COUNTER.tmp_RNIRH3P 5 11 0 # SB_LUT4 (LogicCell: COUNTER.tmp_RNIRH3P_LC_33)
set_location COUNTER.tmp_RNIRH3P_0 4 14 5 # SB_LUT4 (LogicCell: COUNTER.tmp_RNIRH3P_0_LC_34)
set_location COUNTER.tmp_RNO 4 10 3 # SB_LUT4 (LogicCell: COUNTER.tmp_LC_35)
set_location COUNTER.tmp 4 10 3 # SB_DFF (LogicCell: COUNTER.tmp_LC_35)
set_location COUNTER.un4_counter_0_c_RNO 5 9 2 # SB_LUT4 (LogicCell: COUNTER.un4_counter_0_c_RNO_LC_36)
set_location COUNTER.un4_counter_1_c_RNO 5 9 1 # SB_LUT4 (LogicCell: COUNTER.un4_counter_1_c_RNO_LC_37)
set_location COUNTER.un4_counter_2_c_RNO 5 10 1 # SB_LUT4 (LogicCell: COUNTER.un4_counter_2_c_RNO_LC_38)
set_location COUNTER.un4_counter_3_c_RNO 5 10 4 # SB_LUT4 (LogicCell: COUNTER.un4_counter_3_c_RNO_LC_39)
set_location COUNTER.un4_counter_4_c_RNO 5 10 2 # SB_LUT4 (LogicCell: COUNTER.un4_counter_4_c_RNO_LC_40)
set_location COUNTER.un4_counter_5_c_RNO 5 10 3 # SB_LUT4 (LogicCell: COUNTER.un4_counter_5_c_RNO_LC_41)
set_location COUNTER.un4_counter_6_c_RNO 5 11 5 # SB_LUT4 (LogicCell: COUNTER.un4_counter_6_c_RNO_LC_42)
set_location COUNTER.un4_counter_7_c_RNO 5 11 7 # SB_LUT4 (LogicCell: COUNTER.un4_counter_7_c_RNO_LC_43)
set_location PCH_PWRGD.count_RNI7J2B[3] 2 14 0 # SB_LUT4 (LogicCell: PCH_PWRGD.count_RNI7J2B[3]_LC_44)
set_location PCH_PWRGD.count_RNIESHJ[1] 2 14 6 # SB_LUT4 (LogicCell: PCH_PWRGD.count_RNIESHJ[1]_LC_45)
set_location PCH_PWRGD.count_RNIN5IJ[0] 2 14 5 # SB_LUT4 (LogicCell: PCH_PWRGD.count_RNIN5IJ[0]_LC_46)
set_location PCH_PWRGD.count_RNO[0] 1 13 0 # SB_LUT4 (LogicCell: PCH_PWRGD.count[0]_LC_47)
set_location PCH_PWRGD.count[0] 1 13 0 # SB_DFFSR (LogicCell: PCH_PWRGD.count[0]_LC_47)
set_location PCH_PWRGD.un1_count_1_cry_0_c 1 13 0 # SB_CARRY (LogicCell: PCH_PWRGD.count[0]_LC_47)
set_location PCH_PWRGD.count_RNO[1] 1 13 1 # SB_LUT4 (LogicCell: PCH_PWRGD.count[1]_LC_48)
set_location PCH_PWRGD.count[1] 1 13 1 # SB_DFFSR (LogicCell: PCH_PWRGD.count[1]_LC_48)
set_location PCH_PWRGD.un1_count_1_cry_1_c 1 13 1 # SB_CARRY (LogicCell: PCH_PWRGD.count[1]_LC_48)
set_location PCH_PWRGD.count_RNO[10] 1 14 2 # SB_LUT4 (LogicCell: PCH_PWRGD.count[10]_LC_49)
set_location PCH_PWRGD.count[10] 1 14 2 # SB_DFFSR (LogicCell: PCH_PWRGD.count[10]_LC_49)
set_location PCH_PWRGD.un1_count_1_cry_10_c 1 14 2 # SB_CARRY (LogicCell: PCH_PWRGD.count[10]_LC_49)
set_location PCH_PWRGD.count_RNO[11] 1 14 3 # SB_LUT4 (LogicCell: PCH_PWRGD.count[11]_LC_50)
set_location PCH_PWRGD.count[11] 1 14 3 # SB_DFFSR (LogicCell: PCH_PWRGD.count[11]_LC_50)
set_location PCH_PWRGD.un1_count_1_cry_11_c 1 14 3 # SB_CARRY (LogicCell: PCH_PWRGD.count[11]_LC_50)
set_location PCH_PWRGD.count_RNO[12] 1 14 4 # SB_LUT4 (LogicCell: PCH_PWRGD.count[12]_LC_51)
set_location PCH_PWRGD.count[12] 1 14 4 # SB_DFFSR (LogicCell: PCH_PWRGD.count[12]_LC_51)
set_location PCH_PWRGD.un1_count_1_cry_12_c 1 14 4 # SB_CARRY (LogicCell: PCH_PWRGD.count[12]_LC_51)
set_location PCH_PWRGD.count_RNO[13] 1 14 5 # SB_LUT4 (LogicCell: PCH_PWRGD.count[13]_LC_52)
set_location PCH_PWRGD.count[13] 1 14 5 # SB_DFFSR (LogicCell: PCH_PWRGD.count[13]_LC_52)
set_location PCH_PWRGD.un1_count_1_cry_13_c 1 14 5 # SB_CARRY (LogicCell: PCH_PWRGD.count[13]_LC_52)
set_location PCH_PWRGD.count_RNO[14] 1 14 6 # SB_LUT4 (LogicCell: PCH_PWRGD.count[14]_LC_53)
set_location PCH_PWRGD.count[14] 1 14 6 # SB_DFFSR (LogicCell: PCH_PWRGD.count[14]_LC_53)
set_location PCH_PWRGD.un1_count_1_cry_14_c 1 14 6 # SB_CARRY (LogicCell: PCH_PWRGD.count[14]_LC_53)
set_location PCH_PWRGD.count_RNO[2] 1 13 2 # SB_LUT4 (LogicCell: PCH_PWRGD.count[2]_LC_54)
set_location PCH_PWRGD.count[2] 1 13 2 # SB_DFFSR (LogicCell: PCH_PWRGD.count[2]_LC_54)
set_location PCH_PWRGD.un1_count_1_cry_2_c 1 13 2 # SB_CARRY (LogicCell: PCH_PWRGD.count[2]_LC_54)
set_location PCH_PWRGD.count_RNO[3] 1 13 3 # SB_LUT4 (LogicCell: PCH_PWRGD.count[3]_LC_55)
set_location PCH_PWRGD.count[3] 1 13 3 # SB_DFFSR (LogicCell: PCH_PWRGD.count[3]_LC_55)
set_location PCH_PWRGD.un1_count_1_cry_3_c 1 13 3 # SB_CARRY (LogicCell: PCH_PWRGD.count[3]_LC_55)
set_location PCH_PWRGD.count_RNO[4] 1 13 4 # SB_LUT4 (LogicCell: PCH_PWRGD.count[4]_LC_56)
set_location PCH_PWRGD.count[4] 1 13 4 # SB_DFFSR (LogicCell: PCH_PWRGD.count[4]_LC_56)
set_location PCH_PWRGD.un1_count_1_cry_4_c 1 13 4 # SB_CARRY (LogicCell: PCH_PWRGD.count[4]_LC_56)
set_location PCH_PWRGD.count_RNO[5] 1 13 5 # SB_LUT4 (LogicCell: PCH_PWRGD.count[5]_LC_57)
set_location PCH_PWRGD.count[5] 1 13 5 # SB_DFFSR (LogicCell: PCH_PWRGD.count[5]_LC_57)
set_location PCH_PWRGD.un1_count_1_cry_5_c 1 13 5 # SB_CARRY (LogicCell: PCH_PWRGD.count[5]_LC_57)
set_location PCH_PWRGD.count_RNO[6] 1 13 6 # SB_LUT4 (LogicCell: PCH_PWRGD.count[6]_LC_58)
set_location PCH_PWRGD.count[6] 1 13 6 # SB_DFFSR (LogicCell: PCH_PWRGD.count[6]_LC_58)
set_location PCH_PWRGD.un1_count_1_cry_6_c 1 13 6 # SB_CARRY (LogicCell: PCH_PWRGD.count[6]_LC_58)
set_location PCH_PWRGD.count_RNO[7] 1 13 7 # SB_LUT4 (LogicCell: PCH_PWRGD.count[7]_LC_59)
set_location PCH_PWRGD.count[7] 1 13 7 # SB_DFFSR (LogicCell: PCH_PWRGD.count[7]_LC_59)
set_location PCH_PWRGD.un1_count_1_cry_7_c 1 13 7 # SB_CARRY (LogicCell: PCH_PWRGD.count[7]_LC_59)
set_location PCH_PWRGD.count_RNO[8] 1 14 0 # SB_LUT4 (LogicCell: PCH_PWRGD.count[8]_LC_60)
set_location PCH_PWRGD.count[8] 1 14 0 # SB_DFFSR (LogicCell: PCH_PWRGD.count[8]_LC_60)
set_location PCH_PWRGD.un1_count_1_cry_8_c 1 14 0 # SB_CARRY (LogicCell: PCH_PWRGD.count[8]_LC_60)
set_location PCH_PWRGD.count_RNO[9] 1 14 1 # SB_LUT4 (LogicCell: PCH_PWRGD.count[9]_LC_61)
set_location PCH_PWRGD.count[9] 1 14 1 # SB_DFFSR (LogicCell: PCH_PWRGD.count[9]_LC_61)
set_location PCH_PWRGD.un1_count_1_cry_9_c 1 14 1 # SB_CARRY (LogicCell: PCH_PWRGD.count[9]_LC_61)
set_location PCH_PWRGD.count_esr_RNIFR521[15] 2 15 1 # SB_LUT4 (LogicCell: PCH_PWRGD.count_esr_RNIFR521[15]_LC_62)
set_location PCH_PWRGD.count_esr_RNIRGCK2[15] 2 14 1 # SB_LUT4 (LogicCell: PCH_PWRGD.count_esr_RNIRGCK2[15]_LC_63)
set_location PCH_PWRGD.count_esr_RNO_0[15] 2 14 3 # SB_LUT4 (LogicCell: PCH_PWRGD.count_esr_RNO_0[15]_LC_64)
set_location PCH_PWRGD.count_esr_RNO[15] 1 15 0 # SB_LUT4 (LogicCell: PCH_PWRGD.count_esr[15]_LC_65)
set_location PCH_PWRGD.count_esr[15] 1 15 0 # SB_DFFESR (LogicCell: PCH_PWRGD.count_esr[15]_LC_65)
set_location PCH_PWRGD.curr_state_7_1_0_.m4 4 11 7 # SB_LUT4 (LogicCell: PCH_PWRGD.curr_state[0]_LC_66)
set_location PCH_PWRGD.curr_state[0] 4 11 7 # SB_DFFE (LogicCell: PCH_PWRGD.curr_state[0]_LC_66)
set_location PCH_PWRGD.curr_state_7_1_0_.m6 4 11 2 # SB_LUT4 (LogicCell: PCH_PWRGD.curr_state[1]_LC_67)
set_location PCH_PWRGD.curr_state[1] 4 11 2 # SB_DFFE (LogicCell: PCH_PWRGD.curr_state[1]_LC_67)
set_location PCH_PWRGD.curr_state_RNI5H3S4[1] 2 14 2 # SB_LUT4 (LogicCell: PCH_PWRGD.curr_state_RNI5H3S4[1]_LC_68)
set_location PCH_PWRGD.curr_state_RNIBS171[0] 4 10 2 # SB_LUT4 (LogicCell: PCH_PWRGD.curr_state_RNIBS171[0]_LC_69)
set_location PCH_PWRGD.curr_state_RNIFEJE1[0] 4 13 2 # SB_LUT4 (LogicCell: PCH_PWRGD.curr_state_RNIFEJE1[0]_LC_70)
set_location PCH_PWRGD.delayed_vccin_ok_RNO 4 10 7 # SB_LUT4 (LogicCell: PCH_PWRGD.delayed_vccin_ok_LC_71)
set_location PCH_PWRGD.delayed_vccin_ok 4 10 7 # SB_DFF (LogicCell: PCH_PWRGD.delayed_vccin_ok_LC_71)
set_location PCH_PWRGD.delayed_vccin_ok_RNO_0 4 10 6 # SB_LUT4 (LogicCell: PCH_PWRGD.delayed_vccin_ok_RNO_0_LC_72)
set_location PCH_PWRGD.un4_vccin_ok 4 14 3 # SB_LUT4 (LogicCell: PCH_PWRGD.un4_vccin_ok_LC_73)
set_location RSMRST_PWRGD.RSMRSTn_RNO 4 12 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.RSMRSTn_LC_74)
set_location RSMRST_PWRGD.RSMRSTn 4 12 2 # SB_DFFE (LogicCell: RSMRST_PWRGD.RSMRSTn_LC_74)
set_location RSMRST_PWRGD.count_RNI4MLK1[1] 1 8 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNI4MLK1[1]_LC_75)
set_location RSMRST_PWRGD.count_RNI9RLK1[3] 1 8 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNI9RLK1[3]_LC_76)
set_location RSMRST_PWRGD.count_RNIIRGK[10] 1 9 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNIIRGK[10]_LC_77)
set_location RSMRST_PWRGD.count_RNIR8OP4[10] 1 9 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_RNIR8OP4[10]_LC_78)
set_location RSMRST_PWRGD.count_RNO[0] 2 8 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[0]_LC_79)
set_location RSMRST_PWRGD.count[0] 2 8 0 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[0]_LC_79)
set_location RSMRST_PWRGD.un1_count_1_cry_0_c 2 8 0 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[0]_LC_79)
set_location RSMRST_PWRGD.count_RNO[1] 2 8 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[1]_LC_80)
set_location RSMRST_PWRGD.count[1] 2 8 1 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[1]_LC_80)
set_location RSMRST_PWRGD.un1_count_1_cry_1_c 2 8 1 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[1]_LC_80)
set_location RSMRST_PWRGD.count_RNO[10] 2 9 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[10]_LC_81)
set_location RSMRST_PWRGD.count[10] 2 9 2 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[10]_LC_81)
set_location RSMRST_PWRGD.un1_count_1_cry_10_c 2 9 2 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[10]_LC_81)
set_location RSMRST_PWRGD.count_RNO[11] 2 9 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[11]_LC_82)
set_location RSMRST_PWRGD.count[11] 2 9 3 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[11]_LC_82)
set_location RSMRST_PWRGD.un1_count_1_cry_11_c 2 9 3 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[11]_LC_82)
set_location RSMRST_PWRGD.count_RNO[12] 2 9 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[12]_LC_83)
set_location RSMRST_PWRGD.count[12] 2 9 4 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[12]_LC_83)
set_location RSMRST_PWRGD.un1_count_1_cry_12_c 2 9 4 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[12]_LC_83)
set_location RSMRST_PWRGD.count_RNO[13] 2 9 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[13]_LC_84)
set_location RSMRST_PWRGD.count[13] 2 9 5 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[13]_LC_84)
set_location RSMRST_PWRGD.un1_count_1_cry_13_c 2 9 5 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[13]_LC_84)
set_location RSMRST_PWRGD.count_RNO[14] 2 9 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[14]_LC_85)
set_location RSMRST_PWRGD.count[14] 2 9 6 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[14]_LC_85)
set_location RSMRST_PWRGD.un1_count_1_cry_14_c 2 9 6 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[14]_LC_85)
set_location RSMRST_PWRGD.count_RNO[2] 2 8 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[2]_LC_86)
set_location RSMRST_PWRGD.count[2] 2 8 2 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[2]_LC_86)
set_location RSMRST_PWRGD.un1_count_1_cry_2_c 2 8 2 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[2]_LC_86)
set_location RSMRST_PWRGD.count_RNO[3] 2 8 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[3]_LC_87)
set_location RSMRST_PWRGD.count[3] 2 8 3 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[3]_LC_87)
set_location RSMRST_PWRGD.un1_count_1_cry_3_c 2 8 3 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[3]_LC_87)
set_location RSMRST_PWRGD.count_RNO[4] 2 8 4 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[4]_LC_88)
set_location RSMRST_PWRGD.count[4] 2 8 4 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[4]_LC_88)
set_location RSMRST_PWRGD.un1_count_1_cry_4_c 2 8 4 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[4]_LC_88)
set_location RSMRST_PWRGD.count_RNO[5] 2 8 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[5]_LC_89)
set_location RSMRST_PWRGD.count[5] 2 8 5 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[5]_LC_89)
set_location RSMRST_PWRGD.un1_count_1_cry_5_c 2 8 5 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[5]_LC_89)
set_location RSMRST_PWRGD.count_RNO[6] 2 8 6 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[6]_LC_90)
set_location RSMRST_PWRGD.count[6] 2 8 6 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[6]_LC_90)
set_location RSMRST_PWRGD.un1_count_1_cry_6_c 2 8 6 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[6]_LC_90)
set_location RSMRST_PWRGD.count_RNO[7] 2 8 7 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[7]_LC_91)
set_location RSMRST_PWRGD.count[7] 2 8 7 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[7]_LC_91)
set_location RSMRST_PWRGD.un1_count_1_cry_7_c 2 8 7 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[7]_LC_91)
set_location RSMRST_PWRGD.count_RNO[8] 2 9 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[8]_LC_92)
set_location RSMRST_PWRGD.count[8] 2 9 0 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[8]_LC_92)
set_location RSMRST_PWRGD.un1_count_1_cry_8_c 2 9 0 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[8]_LC_92)
set_location RSMRST_PWRGD.count_RNO[9] 2 9 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count[9]_LC_93)
set_location RSMRST_PWRGD.count[9] 2 9 1 # SB_DFFSR (LogicCell: RSMRST_PWRGD.count[9]_LC_93)
set_location RSMRST_PWRGD.un1_count_1_cry_9_c 2 9 1 # SB_CARRY (LogicCell: RSMRST_PWRGD.count[9]_LC_93)
set_location RSMRST_PWRGD.count_esr_RNISRRR[15] 1 9 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr_RNISRRR[15]_LC_94)
set_location RSMRST_PWRGD.count_esr_RNO_0[15] 1 9 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr_RNO_0[15]_LC_95)
set_location RSMRST_PWRGD.count_esr_RNO[15] 2 10 0 # SB_LUT4 (LogicCell: RSMRST_PWRGD.count_esr[15]_LC_96)
set_location RSMRST_PWRGD.count_esr[15] 2 10 0 # SB_DFFESR (LogicCell: RSMRST_PWRGD.count_esr[15]_LC_96)
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4 4 11 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state[0]_LC_97)
set_location RSMRST_PWRGD.curr_state[0] 4 11 5 # SB_DFFE (LogicCell: RSMRST_PWRGD.curr_state[0]_LC_97)
set_location RSMRST_PWRGD.curr_state_7_1_0_.m6 4 11 3 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state[1]_LC_98)
set_location RSMRST_PWRGD.curr_state[1] 4 11 3 # SB_DFFE (LogicCell: RSMRST_PWRGD.curr_state[1]_LC_98)
set_location RSMRST_PWRGD.curr_state_RNII9BF7[1] 1 9 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNII9BF7[1]_LC_99)
set_location RSMRST_PWRGD.curr_state_RNIR5E01[0] 1 9 1 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNIR5E01[0]_LC_100)
set_location RSMRST_PWRGD.curr_state_RNISEFS1[0] 4 10 5 # SB_LUT4 (LogicCell: RSMRST_PWRGD.curr_state_RNISEFS1[0]_LC_101)
set_location RSMRST_PWRGD.un6_rsmrst_pwrgd 1 11 2 # SB_LUT4 (LogicCell: RSMRST_PWRGD.un6_rsmrst_pwrgd_LC_102)
set_location SLP_S3n_RNINQRN 4 14 1 # SB_LUT4 (LogicCell: SLP_S3n_RNINQRN_LC_103)
set_location SLP_S4n_RNIORRN 5 13 4 # SB_LUT4 (LogicCell: SLP_S4n_RNIORRN_LC_104)
set_location SLP_SUSn_RNIN4K9 1 10 0 # SB_LUT4 (LogicCell: SLP_SUSn_RNIN4K9_LC_105)
set_location SYS_PWRGD.SYS_PWROK_RNO 5 12 7 # SB_LUT4 (LogicCell: SYS_PWRGD.SYS_PWROK_LC_106)
set_location SYS_PWRGD.SYS_PWROK 5 12 7 # SB_DFFE (LogicCell: SYS_PWRGD.SYS_PWROK_LC_106)
set_location SYS_PWRGD.count_RNIAHU31[10] 1 12 0 # SB_LUT4 (LogicCell: SYS_PWRGD.count_RNIAHU31[10]_LC_107)
set_location SYS_PWRGD.count_RNIPPLE1[3] 1 11 0 # SB_LUT4 (LogicCell: SYS_PWRGD.count_RNIPPLE1[3]_LC_108)
set_location SYS_PWRGD.count_RNIR1U31[13] 1 11 5 # SB_LUT4 (LogicCell: SYS_PWRGD.count_RNIR1U31[13]_LC_109)
set_location SYS_PWRGD.count_RNIRAS54[10] 1 12 6 # SB_LUT4 (LogicCell: SYS_PWRGD.count_RNIRAS54[10]_LC_110)
set_location SYS_PWRGD.count_RNO[0] 2 11 0 # SB_LUT4 (LogicCell: SYS_PWRGD.count[0]_LC_111)
set_location SYS_PWRGD.count[0] 2 11 0 # SB_DFFSR (LogicCell: SYS_PWRGD.count[0]_LC_111)
set_location SYS_PWRGD.un1_count_1_cry_0_c 2 11 0 # SB_CARRY (LogicCell: SYS_PWRGD.count[0]_LC_111)
set_location SYS_PWRGD.count_RNO[1] 2 11 1 # SB_LUT4 (LogicCell: SYS_PWRGD.count[1]_LC_112)
set_location SYS_PWRGD.count[1] 2 11 1 # SB_DFFSR (LogicCell: SYS_PWRGD.count[1]_LC_112)
set_location SYS_PWRGD.un1_count_1_cry_1_c 2 11 1 # SB_CARRY (LogicCell: SYS_PWRGD.count[1]_LC_112)
set_location SYS_PWRGD.count_RNO[10] 2 12 2 # SB_LUT4 (LogicCell: SYS_PWRGD.count[10]_LC_113)
set_location SYS_PWRGD.count[10] 2 12 2 # SB_DFFSR (LogicCell: SYS_PWRGD.count[10]_LC_113)
set_location SYS_PWRGD.un1_count_1_cry_10_c 2 12 2 # SB_CARRY (LogicCell: SYS_PWRGD.count[10]_LC_113)
set_location SYS_PWRGD.count_RNO[11] 2 12 3 # SB_LUT4 (LogicCell: SYS_PWRGD.count[11]_LC_114)
set_location SYS_PWRGD.count[11] 2 12 3 # SB_DFFSR (LogicCell: SYS_PWRGD.count[11]_LC_114)
set_location SYS_PWRGD.un1_count_1_cry_11_c 2 12 3 # SB_CARRY (LogicCell: SYS_PWRGD.count[11]_LC_114)
set_location SYS_PWRGD.count_RNO[12] 2 12 4 # SB_LUT4 (LogicCell: SYS_PWRGD.count[12]_LC_115)
set_location SYS_PWRGD.count[12] 2 12 4 # SB_DFFSR (LogicCell: SYS_PWRGD.count[12]_LC_115)
set_location SYS_PWRGD.un1_count_1_cry_12_c 2 12 4 # SB_CARRY (LogicCell: SYS_PWRGD.count[12]_LC_115)
set_location SYS_PWRGD.count_RNO[13] 2 12 5 # SB_LUT4 (LogicCell: SYS_PWRGD.count[13]_LC_116)
set_location SYS_PWRGD.count[13] 2 12 5 # SB_DFFSR (LogicCell: SYS_PWRGD.count[13]_LC_116)
set_location SYS_PWRGD.un1_count_1_cry_13_c 2 12 5 # SB_CARRY (LogicCell: SYS_PWRGD.count[13]_LC_116)
set_location SYS_PWRGD.count_RNO[14] 2 12 6 # SB_LUT4 (LogicCell: SYS_PWRGD.count[14]_LC_117)
set_location SYS_PWRGD.count[14] 2 12 6 # SB_DFFSR (LogicCell: SYS_PWRGD.count[14]_LC_117)
set_location SYS_PWRGD.un1_count_1_cry_14_c 2 12 6 # SB_CARRY (LogicCell: SYS_PWRGD.count[14]_LC_117)
set_location SYS_PWRGD.count_RNO[2] 2 11 2 # SB_LUT4 (LogicCell: SYS_PWRGD.count[2]_LC_118)
set_location SYS_PWRGD.count[2] 2 11 2 # SB_DFFSR (LogicCell: SYS_PWRGD.count[2]_LC_118)
set_location SYS_PWRGD.un1_count_1_cry_2_c 2 11 2 # SB_CARRY (LogicCell: SYS_PWRGD.count[2]_LC_118)
set_location SYS_PWRGD.count_RNO[3] 2 11 3 # SB_LUT4 (LogicCell: SYS_PWRGD.count[3]_LC_119)
set_location SYS_PWRGD.count[3] 2 11 3 # SB_DFFSR (LogicCell: SYS_PWRGD.count[3]_LC_119)
set_location SYS_PWRGD.un1_count_1_cry_3_c 2 11 3 # SB_CARRY (LogicCell: SYS_PWRGD.count[3]_LC_119)
set_location SYS_PWRGD.count_RNO[4] 2 11 4 # SB_LUT4 (LogicCell: SYS_PWRGD.count[4]_LC_120)
set_location SYS_PWRGD.count[4] 2 11 4 # SB_DFFSR (LogicCell: SYS_PWRGD.count[4]_LC_120)
set_location SYS_PWRGD.un1_count_1_cry_4_c 2 11 4 # SB_CARRY (LogicCell: SYS_PWRGD.count[4]_LC_120)
set_location SYS_PWRGD.count_RNO[5] 2 11 5 # SB_LUT4 (LogicCell: SYS_PWRGD.count[5]_LC_121)
set_location SYS_PWRGD.count[5] 2 11 5 # SB_DFFSR (LogicCell: SYS_PWRGD.count[5]_LC_121)
set_location SYS_PWRGD.un1_count_1_cry_5_c 2 11 5 # SB_CARRY (LogicCell: SYS_PWRGD.count[5]_LC_121)
set_location SYS_PWRGD.count_RNO[6] 2 11 6 # SB_LUT4 (LogicCell: SYS_PWRGD.count[6]_LC_122)
set_location SYS_PWRGD.count[6] 2 11 6 # SB_DFFSR (LogicCell: SYS_PWRGD.count[6]_LC_122)
set_location SYS_PWRGD.un1_count_1_cry_6_c 2 11 6 # SB_CARRY (LogicCell: SYS_PWRGD.count[6]_LC_122)
set_location SYS_PWRGD.count_RNO[7] 2 11 7 # SB_LUT4 (LogicCell: SYS_PWRGD.count[7]_LC_123)
set_location SYS_PWRGD.count[7] 2 11 7 # SB_DFFSR (LogicCell: SYS_PWRGD.count[7]_LC_123)
set_location SYS_PWRGD.un1_count_1_cry_7_c 2 11 7 # SB_CARRY (LogicCell: SYS_PWRGD.count[7]_LC_123)
set_location SYS_PWRGD.count_RNO[8] 2 12 0 # SB_LUT4 (LogicCell: SYS_PWRGD.count[8]_LC_124)
set_location SYS_PWRGD.count[8] 2 12 0 # SB_DFFSR (LogicCell: SYS_PWRGD.count[8]_LC_124)
set_location SYS_PWRGD.un1_count_1_cry_8_c 2 12 0 # SB_CARRY (LogicCell: SYS_PWRGD.count[8]_LC_124)
set_location SYS_PWRGD.count_RNO[9] 2 12 1 # SB_LUT4 (LogicCell: SYS_PWRGD.count[9]_LC_125)
set_location SYS_PWRGD.count[9] 2 12 1 # SB_DFFSR (LogicCell: SYS_PWRGD.count[9]_LC_125)
set_location SYS_PWRGD.un1_count_1_cry_9_c 2 12 1 # SB_CARRY (LogicCell: SYS_PWRGD.count[9]_LC_125)
set_location SYS_PWRGD.count_esr_RNITT9F[15] 1 12 5 # SB_LUT4 (LogicCell: SYS_PWRGD.count_esr_RNITT9F[15]_LC_126)
set_location SYS_PWRGD.count_esr_RNO_0[15] 1 12 4 # SB_LUT4 (LogicCell: SYS_PWRGD.count_esr_RNO_0[15]_LC_127)
set_location SYS_PWRGD.count_esr_RNO[15] 2 13 0 # SB_LUT4 (LogicCell: SYS_PWRGD.count_esr[15]_LC_128)
set_location SYS_PWRGD.count_esr[15] 2 13 0 # SB_DFFESR (LogicCell: SYS_PWRGD.count_esr[15]_LC_128)
set_location SYS_PWRGD.curr_state_7_1_0_.m4 4 11 0 # SB_LUT4 (LogicCell: SYS_PWRGD.curr_state[0]_LC_129)
set_location SYS_PWRGD.curr_state[0] 4 11 0 # SB_DFFE (LogicCell: SYS_PWRGD.curr_state[0]_LC_129)
set_location SYS_PWRGD.curr_state_7_1_0_.m6 4 12 6 # SB_LUT4 (LogicCell: SYS_PWRGD.curr_state[1]_LC_130)
set_location SYS_PWRGD.curr_state[1] 4 12 6 # SB_DFFE (LogicCell: SYS_PWRGD.curr_state[1]_LC_130)
set_location SYS_PWRGD.curr_state_RNIE72J5[1] 1 12 3 # SB_LUT4 (LogicCell: SYS_PWRGD.curr_state_RNIE72J5[1]_LC_131)
set_location SYS_PWRGD.curr_state_RNIF9431[0] 1 12 2 # SB_LUT4 (LogicCell: SYS_PWRGD.curr_state_RNIF9431[0]_LC_132)
set_location SYS_PWRGD.curr_state_RNIOA2K[0] 5 11 6 # SB_LUT4 (LogicCell: SYS_PWRGD.curr_state_RNIOA2K[0]_LC_133)
set_location VPP_VDDQ.count_RNI63141[10] 4 15 4 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNI63141[10]_LC_134)
set_location VPP_VDDQ.count_RNIFC141[11] 4 15 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNIFC141[11]_LC_135)
set_location VPP_VDDQ.count_RNIVJP51[3] 4 14 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count_RNIVJP51[3]_LC_136)
set_location VPP_VDDQ.count_RNO[0] 5 14 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count[0]_LC_137)
set_location VPP_VDDQ.count[0] 5 14 0 # SB_DFFSR (LogicCell: VPP_VDDQ.count[0]_LC_137)
set_location VPP_VDDQ.un1_count_1_cry_0_c 5 14 0 # SB_CARRY (LogicCell: VPP_VDDQ.count[0]_LC_137)
set_location VPP_VDDQ.count_RNO[1] 5 14 1 # SB_LUT4 (LogicCell: VPP_VDDQ.count[1]_LC_138)
set_location VPP_VDDQ.count[1] 5 14 1 # SB_DFFSR (LogicCell: VPP_VDDQ.count[1]_LC_138)
set_location VPP_VDDQ.un1_count_1_cry_1_c 5 14 1 # SB_CARRY (LogicCell: VPP_VDDQ.count[1]_LC_138)
set_location VPP_VDDQ.count_RNO[10] 5 15 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count[10]_LC_139)
set_location VPP_VDDQ.count[10] 5 15 2 # SB_DFFSR (LogicCell: VPP_VDDQ.count[10]_LC_139)
set_location VPP_VDDQ.un1_count_1_cry_10_c 5 15 2 # SB_CARRY (LogicCell: VPP_VDDQ.count[10]_LC_139)
set_location VPP_VDDQ.count_RNO[11] 5 15 3 # SB_LUT4 (LogicCell: VPP_VDDQ.count[11]_LC_140)
set_location VPP_VDDQ.count[11] 5 15 3 # SB_DFFSR (LogicCell: VPP_VDDQ.count[11]_LC_140)
set_location VPP_VDDQ.un1_count_1_cry_11_c 5 15 3 # SB_CARRY (LogicCell: VPP_VDDQ.count[11]_LC_140)
set_location VPP_VDDQ.count_RNO[12] 5 15 4 # SB_LUT4 (LogicCell: VPP_VDDQ.count[12]_LC_141)
set_location VPP_VDDQ.count[12] 5 15 4 # SB_DFFSR (LogicCell: VPP_VDDQ.count[12]_LC_141)
set_location VPP_VDDQ.un1_count_1_cry_12_c 5 15 4 # SB_CARRY (LogicCell: VPP_VDDQ.count[12]_LC_141)
set_location VPP_VDDQ.count_RNO[13] 5 15 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count[13]_LC_142)
set_location VPP_VDDQ.count[13] 5 15 5 # SB_DFFSR (LogicCell: VPP_VDDQ.count[13]_LC_142)
set_location VPP_VDDQ.un1_count_1_cry_13_c 5 15 5 # SB_CARRY (LogicCell: VPP_VDDQ.count[13]_LC_142)
set_location VPP_VDDQ.count_RNO[14] 5 15 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count[14]_LC_143)
set_location VPP_VDDQ.count[14] 5 15 6 # SB_DFFSR (LogicCell: VPP_VDDQ.count[14]_LC_143)
set_location VPP_VDDQ.un1_count_1_cry_14_c 5 15 6 # SB_CARRY (LogicCell: VPP_VDDQ.count[14]_LC_143)
set_location VPP_VDDQ.count_RNO[2] 5 14 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count[2]_LC_144)
set_location VPP_VDDQ.count[2] 5 14 2 # SB_DFFSR (LogicCell: VPP_VDDQ.count[2]_LC_144)
set_location VPP_VDDQ.un1_count_1_cry_2_c 5 14 2 # SB_CARRY (LogicCell: VPP_VDDQ.count[2]_LC_144)
set_location VPP_VDDQ.count_RNO[3] 5 14 3 # SB_LUT4 (LogicCell: VPP_VDDQ.count[3]_LC_145)
set_location VPP_VDDQ.count[3] 5 14 3 # SB_DFFSR (LogicCell: VPP_VDDQ.count[3]_LC_145)
set_location VPP_VDDQ.un1_count_1_cry_3_c 5 14 3 # SB_CARRY (LogicCell: VPP_VDDQ.count[3]_LC_145)
set_location VPP_VDDQ.count_RNO[4] 5 14 4 # SB_LUT4 (LogicCell: VPP_VDDQ.count[4]_LC_146)
set_location VPP_VDDQ.count[4] 5 14 4 # SB_DFFSR (LogicCell: VPP_VDDQ.count[4]_LC_146)
set_location VPP_VDDQ.un1_count_1_cry_4_c 5 14 4 # SB_CARRY (LogicCell: VPP_VDDQ.count[4]_LC_146)
set_location VPP_VDDQ.count_RNO[5] 5 14 5 # SB_LUT4 (LogicCell: VPP_VDDQ.count[5]_LC_147)
set_location VPP_VDDQ.count[5] 5 14 5 # SB_DFFSR (LogicCell: VPP_VDDQ.count[5]_LC_147)
set_location VPP_VDDQ.un1_count_1_cry_5_c 5 14 5 # SB_CARRY (LogicCell: VPP_VDDQ.count[5]_LC_147)
set_location VPP_VDDQ.count_RNO[6] 5 14 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count[6]_LC_148)
set_location VPP_VDDQ.count[6] 5 14 6 # SB_DFFSR (LogicCell: VPP_VDDQ.count[6]_LC_148)
set_location VPP_VDDQ.un1_count_1_cry_6_c 5 14 6 # SB_CARRY (LogicCell: VPP_VDDQ.count[6]_LC_148)
set_location VPP_VDDQ.count_RNO[7] 5 14 7 # SB_LUT4 (LogicCell: VPP_VDDQ.count[7]_LC_149)
set_location VPP_VDDQ.count[7] 5 14 7 # SB_DFFSR (LogicCell: VPP_VDDQ.count[7]_LC_149)
set_location VPP_VDDQ.un1_count_1_cry_7_c 5 14 7 # SB_CARRY (LogicCell: VPP_VDDQ.count[7]_LC_149)
set_location VPP_VDDQ.count_RNO[8] 5 15 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count[8]_LC_150)
set_location VPP_VDDQ.count[8] 5 15 0 # SB_DFFSR (LogicCell: VPP_VDDQ.count[8]_LC_150)
set_location VPP_VDDQ.un1_count_1_cry_8_c 5 15 0 # SB_CARRY (LogicCell: VPP_VDDQ.count[8]_LC_150)
set_location VPP_VDDQ.count_RNO[9] 5 15 1 # SB_LUT4 (LogicCell: VPP_VDDQ.count[9]_LC_151)
set_location VPP_VDDQ.count[9] 5 15 1 # SB_DFFSR (LogicCell: VPP_VDDQ.count[9]_LC_151)
set_location VPP_VDDQ.un1_count_1_cry_9_c 5 15 1 # SB_CARRY (LogicCell: VPP_VDDQ.count[9]_LC_151)
set_location VPP_VDDQ.count_esr_RNI7CQO[15] 4 15 2 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNI7CQO[15]_LC_152)
set_location VPP_VDDQ.count_esr_RNIRFM64[15] 4 15 6 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNIRFM64[15]_LC_153)
set_location VPP_VDDQ.count_esr_RNO_0[15] 4 15 1 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr_RNO_0[15]_LC_154)
set_location VPP_VDDQ.count_esr_RNO[15] 5 16 0 # SB_LUT4 (LogicCell: VPP_VDDQ.count_esr[15]_LC_155)
set_location VPP_VDDQ.count_esr[15] 5 16 0 # SB_DFFESR (LogicCell: VPP_VDDQ.count_esr[15]_LC_155)
set_location VPP_VDDQ.curr_state_RNIDNTT1[0] 5 13 6 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state_RNIDNTT1[0]_LC_156)
set_location VPP_VDDQ.curr_state_RNIDNTT1_0[0] 4 13 5 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state_RNIDNTT1_0[0]_LC_157)
set_location VPP_VDDQ.curr_state_RNIDNTT1_1[0] 4 13 1 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state_RNIDNTT1_1[0]_LC_158)
set_location VPP_VDDQ.curr_state_RNO[0] 5 12 3 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state[0]_LC_159)
set_location VPP_VDDQ.curr_state[0] 5 12 3 # SB_DFFE (LogicCell: VPP_VDDQ.curr_state[0]_LC_159)
set_location VPP_VDDQ.curr_state_RNO[1] 5 12 5 # SB_LUT4 (LogicCell: VPP_VDDQ.curr_state[1]_LC_160)
set_location VPP_VDDQ.curr_state[1] 5 12 5 # SB_DFFE (LogicCell: VPP_VDDQ.curr_state[1]_LC_160)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ 5 13 5 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_161)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO 5 13 3 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_LC_162)
set_location VPP_VDDQ.delayed_vddq_pwrgd 5 13 3 # SB_DFF (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_LC_162)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 5 13 7 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_163)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 5 13 2 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_164)
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_2 5 13 1 # SB_LUT4 (LogicCell: VPP_VDDQ.delayed_vddq_pwrgd_RNO_2_LC_165)
set_location VPP_VDDQ.un1_vddq_en 2 15 4 # SB_LUT4 (LogicCell: VPP_VDDQ.un1_vddq_en_LC_166)
set_location VPP_VDDQ.un1_vddq_pwrgd_0 5 13 0 # SB_LUT4 (LogicCell: VPP_VDDQ.un1_vddq_pwrgd_0_LC_167)
set_location COUNTER.counter_1_cry_1_THRU_LUT4_0 6 9 1 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_168)
set_location COUNTER.counter_1_cry_2_c 6 9 1 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_168)
set_location COUNTER.counter_1_cry_2_THRU_LUT4_0 6 9 2 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_169)
set_location COUNTER.counter_1_cry_3_c 6 9 2 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_169)
set_location COUNTER.counter_1_cry_3_THRU_LUT4_0 6 9 3 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_170)
set_location COUNTER.counter_1_cry_4_c 6 9 3 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_170)
set_location COUNTER.counter_1_cry_4_THRU_LUT4_0 6 9 4 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_171)
set_location COUNTER.counter_1_cry_5_c 6 9 4 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_171)
set_location COUNTER.counter_1_cry_5_THRU_LUT4_0 6 9 5 # SB_LUT4 (LogicCell: COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_172)
set_location COUNTER.counter_1_cry_6_c 6 9 5 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_172)
set_location COUNTER_un4_counter_7_THRU_LUT4_0 4 10 0 # SB_LUT4 (LogicCell: COUNTER_un4_counter_7_THRU_LUT4_0_LC_173)
set_location COUNTER.counter_1_cry_1_c 6 9 0 # SB_CARRY (LogicCell: COUNTER.counter_1_cry_1_c_LC_174)
set_location COUNTER.un4_counter_0_c 4 9 0 # SB_CARRY (LogicCell: COUNTER.un4_counter_0_c_LC_175)
set_location COUNTER.un4_counter_1_c 4 9 1 # SB_CARRY (LogicCell: COUNTER.un4_counter_1_c_LC_176)
set_location COUNTER.un4_counter_2_c 4 9 2 # SB_CARRY (LogicCell: COUNTER.un4_counter_2_c_LC_177)
set_location COUNTER.un4_counter_3_c 4 9 3 # SB_CARRY (LogicCell: COUNTER.un4_counter_3_c_LC_178)
set_location COUNTER.un4_counter_4_c 4 9 4 # SB_CARRY (LogicCell: COUNTER.un4_counter_4_c_LC_179)
set_location COUNTER.un4_counter_5_c 4 9 5 # SB_CARRY (LogicCell: COUNTER.un4_counter_5_c_LC_180)
set_location COUNTER.un4_counter_6_c 4 9 6 # SB_CARRY (LogicCell: COUNTER.un4_counter_6_c_LC_181)
set_location COUNTER.un4_counter_7_c 4 9 7 # SB_CARRY (LogicCell: COUNTER.un4_counter_7_c_LC_182)
set_location GND -1 -1 -1 # GND
set_io ipInertedIOPad_CPU_C10_GATE_N 4 0 0 # ICE_IO
set_io ipInertedIOPad_DSW_PWROK 0 10 1 # ICE_IO
set_io ipInertedIOPad_FPGA_OSC 7 0 0 # ICE_IO
set_io ipInertedIOPad_FPGA_SLP_WLAN_N 6 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_1 6 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_EXP_2 5 17 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_1 9 0 1 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_2 9 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_3 8 0 0 # ICE_IO
set_io ipInertedIOPad_GPIO_FPGA_SoC_4 13 4 0 # ICE_IO
set_io ipInertedIOPad_HDA_SDO_ATP 0 8 0 # ICE_IO
set_io ipInertedIOPad_PCH_PWROK 0 2 0 # ICE_IO
set_io ipInertedIOPad_PLTRSTn 5 0 1 # ICE_IO
set_io ipInertedIOPad_PWRBTN_LED 2 17 1 # ICE_IO
set_io ipInertedIOPad_PWRBTNn 10 17 0 # ICE_IO
set_io ipInertedIOPad_RSMRSTn 3 17 1 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE0_FPGA 13 11 0 # ICE_IO
set_io ipInertedIOPad_SATAXPCIE1_FPGA 8 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S0n 4 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S3n 11 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_S4n 4 17 1 # ICE_IO
set_io ipInertedIOPad_SLP_S5n 8 17 0 # ICE_IO
set_io ipInertedIOPad_SLP_SUSn 9 17 0 # ICE_IO
set_io ipInertedIOPad_SOC_SPKR 3 17 0 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO2 0 8 1 # ICE_IO
set_io ipInertedIOPad_SPI_FP_IO3 0 9 0 # ICE_IO
set_io ipInertedIOPad_SUSACK_N 0 4 0 # ICE_IO
set_io ipInertedIOPad_SUSWARN_N 0 3 0 # ICE_IO
set_io ipInertedIOPad_SYS_PWROK 13 15 1 # ICE_IO
set_io ipInertedIOPad_TPM_GPIO 9 17 1 # ICE_IO
set_io ipInertedIOPad_V12_MAIN_MON 7 17 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_EN 0 14 0 # ICE_IO
set_io ipInertedIOPad_V1P8A_OK 0 12 1 # ICE_IO
set_io ipInertedIOPad_V33A_ENn 0 10 0 # ICE_IO
set_io ipInertedIOPad_V33A_OK 13 15 0 # ICE_IO
set_io ipInertedIOPad_V33DSW_OK 0 13 0 # ICE_IO
set_io ipInertedIOPad_V33S_ENn 0 12 0 # ICE_IO
set_io ipInertedIOPad_V33S_OK 13 14 0 # ICE_IO
set_io ipInertedIOPad_V5A_EN 0 5 1 # ICE_IO
set_io ipInertedIOPad_V5A_OK 0 5 0 # ICE_IO
set_io ipInertedIOPad_V5S_ENn 0 11 1 # ICE_IO
set_io ipInertedIOPad_V5S_OK 13 6 1 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_EN 13 6 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PE 13 9 0 # ICE_IO
set_io ipInertedIOPad_VCCINAUX_VR_PROCHOT_FPGA 13 12 0 # ICE_IO
set_io ipInertedIOPad_VCCIN_EN 10 17 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PE 13 7 1 # ICE_IO
set_io ipInertedIOPad_VCCIN_VR_PROCHOT_FPGA 13 11 1 # ICE_IO
set_io ipInertedIOPad_VCCST_CPU_OK 13 3 1 # ICE_IO
set_io ipInertedIOPad_VCCST_EN 0 11 0 # ICE_IO
set_io ipInertedIOPad_VCCST_OVERRIDE_3V3 5 0 0 # ICE_IO
set_io ipInertedIOPad_VCCST_PWRGD 6 0 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_EN 1 17 1 # ICE_IO
set_io ipInertedIOPad_VDDQ_OK 13 14 1 # ICE_IO
set_io ipInertedIOPad_VPP_EN 13 13 1 # ICE_IO
set_io ipInertedIOPad_VPP_OK 0 13 1 # ICE_IO
set_io ipInertedIOPad_VR_PROCHOT_FPGA_OUT_N 13 12 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCIN 0 9 1 # ICE_IO
set_io ipInertedIOPad_VR_READY_VCCINAUX 13 7 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 5 10 6 # SB_LUT4 (LogicCell: LC_183)
set_location PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 1 14 7 # SB_CARRY (LogicCell: LC_184)
set_location RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 2 9 7 # SB_CARRY (LogicCell: LC_185)
set_location SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 2 12 7 # SB_CARRY (LogicCell: LC_186)
set_location VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 5 15 7 # SB_CARRY (LogicCell: LC_187)
