# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Apr 12 2022 14:34:17

# Family & Device:    iCE40LP1K

# Package:            QN84

# ##############################################################################

###IOSet List 35
set_io PCH_PWROK B1
set_io V33A_OK A45
set_io FPGA_OSC A8
set_io RSMRSTn A4
set_io V5A_OK B32
set_io VR_READY_VCCIN B27
set_io V105A_OK B34
set_io V33DSW_OK A46
set_io VCCIN_EN A9
set_io VPP_OK B35
set_io V5A_EN B2
set_io PWRBTN_LED B7
set_io V5S_ENn A5
set_io VCCIO_OK A41
set_io DSW_PWROK A3
set_io SLP_S3n B29
set_io V33S_ENn B5
set_io V33S_OK A44
set_io V5S_OK A43
set_io VCCINAUX_EN B8
set_io VDDQ_EN B36
set_io SLP_S4n A38
set_io V1P8A_EN A33
set_io V33A_ENn A32
set_io VCCIO_EN A11
set_io VCCST_OK A40
set_io VDDQ_OK B30
set_io VPP_EN B9
set_io VR_READY_VCCINAUX A35
set_io HDA_SDO_FPGA A47
set_io VCCST_ENn B4
set_io GPIO_FPGA_PCH_1 B26
set_io SYS_PWROK A1
set_io V105A_EN A12
set_io VCCST_PWRGD A48

