set_location IN_MUX_bfv_11_8_0_ 11 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_9_0_ 11 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_6_0_ 5 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_7_0_ 5 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_7_0_ 12 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_8_0_ 12 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_9_0_ 12 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_10_0_ 12 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_1_0_ 1 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_2_0_ 1 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_3_0_ 1 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location un4_counter_3_7_THRU_LUT4_0 11 9 0 #SB_LUT4
set_location un4_counter_2_7_THRU_LUT4_0 1 8 0 #SB_LUT4
set_location un4_counter_1_7_THRU_LUT4_0 5 7 0 #SB_LUT4
set_location counter_3_1_cry_6_THRU_LUT4_0 12 7 6 #SB_LUT4
set_location counter_3_1_cry_5_THRU_LUT4_0 12 7 5 #SB_LUT4
set_location counter_3_1_cry_4_THRU_LUT4_0 12 7 4 #SB_LUT4
set_location counter_3_1_cry_3_THRU_LUT4_0 12 7 3 #SB_LUT4
set_location counter_3_1_cry_2_THRU_LUT4_0 12 7 2 #SB_LUT4
set_location counter_2_1_cry_7_THRU_LUT4_0 2 7 7 #SB_LUT4
set_location counter_2_1_cry_6_THRU_LUT4_0 2 7 6 #SB_LUT4
set_location counter_2_1_cry_5_THRU_LUT4_0 2 7 5 #SB_LUT4
set_location counter_2_1_cry_4_THRU_LUT4_0 2 7 4 #SB_LUT4
set_location counter_2_1_cry_3_THRU_LUT4_0 2 7 3 #SB_LUT4
set_location counter_2_1_cry_1_THRU_LUT4_0 2 7 1 #SB_LUT4
set_location counter_1_1_cry_2_THRU_LUT4_0 1 1 2 #SB_LUT4
set_location counter_1_1_cry_1_THRU_LUT4_0 1 1 1 #SB_LUT4
set_location un4_counter_3_2_c 11 8 2 #SB_CARRY
set_location counter_3_1_cry_21_c 12 9 4 #SB_CARRY
set_location counter_1[25] 1 4 0 #SB_DFF
set_location counter_1_1_cry_1_c 1 1 0 #SB_CARRY
set_location counter_1_1_cry_18_c 1 3 1 #SB_CARRY
set_location un4_counter_2_1_c 1 7 1 #SB_CARRY
set_location counter_3_RNO[23] 12 9 6 #SB_LUT4
set_location counter_3[26] 12 10 1 #SB_DFFE
set_location counter_3_1_cry_28_c 12 10 3 #SB_CARRY
set_location counter_1[9] 1 2 0 #SB_DFF
set_location counter_1_1_cry_8_c 1 1 7 #SB_CARRY
set_location counter_3_1_cry_20_c 12 9 3 #SB_CARRY
set_location counter_3_1_cry_10_c 12 8 1 #SB_CARRY
set_location counter_2_RNO[21] 2 9 4 #SB_LUT4
set_location un4_counter_2_0_c 1 7 0 #SB_CARRY
set_location counter_3_RNO[11] 12 8 2 #SB_LUT4
set_location counter_1_RNO[11] 1 2 2 #SB_LUT4
set_location counter_2_RNO[16] 2 8 7 #SB_LUT4
set_location un4_counter_1_5_c 5 6 5 #SB_CARRY
set_location counter_3[28] 12 10 3 #SB_DFFE
set_location counter_3_RNO[1] 11 6 6 #SB_LUT4
set_location counter_3[2] 12 7 1 #SB_DFFE
set_location counter_1_1_cry_21_c 1 3 4 #SB_CARRY
set_location counter_2[24] 2 9 7 #SB_DFFE
set_location counter_1_1_cry_28_c 1 4 3 #SB_CARRY
set_location counter_1[10] 1 2 1 #SB_DFF
set_location counter_3_RNO[26] 12 10 1 #SB_LUT4
set_location counter_3[25] 12 10 0 #SB_DFFE
set_location counter_2_RNO[18] 2 9 1 #SB_LUT4
set_location un4_counter_3_4_c 11 8 4 #SB_CARRY
set_location counter_3[8] 12 7 7 #SB_DFFE
set_location counter_1_RNO[28] 1 4 3 #SB_LUT4
set_location counter_1_1_cry_6_c 1 1 5 #SB_CARRY
set_location counter_3_RNO[12] 12 8 3 #SB_LUT4
set_location counter_2_RNO[9] 2 8 0 #SB_LUT4
set_location counter_2_1_cry_11_c 2 8 2 #SB_CARRY
set_location counter_1_RNO[2] 4 5 1 #SB_LUT4
set_location counter_1_1_cry_17_c 1 3 0 #SB_CARRY
set_location un4_counter_2_6_c 1 7 6 #SB_CARRY
set_location counter_3_1_cry_26_c 12 10 1 #SB_CARRY
set_location counter_1_RNO[16] 1 2 7 #SB_LUT4
set_location counter_2_RNO[15] 2 8 6 #SB_LUT4
set_location counter_2_1_cry_18_c 2 9 1 #SB_CARRY
set_location un4_counter_1_0_c_RNO 4 5 6 #SB_LUT4
set_location counter_2_1_cry_10_c 2 8 1 #SB_CARRY
set_location counter_1_1_cry_9_c 1 2 0 #SB_CARRY
set_location counter_1_1_cry_4_c 1 1 3 #SB_CARRY
set_location counter_3_RNO[4] 11 10 0 #SB_LUT4
set_location counter_1_1_cry_15_c 1 2 6 #SB_CARRY
set_location un4_counter_3_7_c_RNO 11 9 3 #SB_LUT4
set_location counter_3_1_cry_30_c 12 10 5 #SB_CARRY
set_location counter_2[4] 2 6 3 #SB_DFFE
set_location counter_2[21] 2 9 4 #SB_DFFE
set_location counter_1_1_cry_3_c 1 1 2 #SB_CARRY
set_location un4_counter_1_3_c 5 6 3 #SB_CARRY
set_location counter_3_RNO[31] 12 10 6 #SB_LUT4
set_location counter_3_RNO[18] 12 9 1 #SB_LUT4
set_location counter_1_RNO[8] 1 1 7 #SB_LUT4
set_location counter_1[15] 1 2 6 #SB_DFF
set_location counter_1_RNO[18] 1 3 1 #SB_LUT4
set_location counter_1_1_cry_12_c 1 2 3 #SB_CARRY
set_location un4_counter_2_3_c_RNO 1 8 4 #SB_LUT4
set_location un4_counter_1_4_c 5 6 4 #SB_CARRY
set_location counter_3_RNO[29] 12 10 4 #SB_LUT4
set_location counter_3[10] 12 8 1 #SB_DFFE
set_location counter_2_RNO[1] 2 6 1 #SB_LUT4
set_location counter_1_1_cry_26_c 1 4 1 #SB_CARRY
set_location clk_1Khz 5 8 4 #SB_DFF
set_location counter_2_1_cry_20_c 2 9 3 #SB_CARRY
set_location counter_2[12] 2 8 3 #SB_DFFE
set_location counter_1[3] 4 5 0 #SB_DFF
set_location counter_1_1_cry_2_c 1 1 1 #SB_CARRY
set_location counter_3_1_cry_17_c 12 9 0 #SB_CARRY
set_location counter_2_1_cry_15_c 2 8 6 #SB_CARRY
set_location counter_1_RNO[27] 1 4 2 #SB_LUT4
set_location counter_1[26] 1 4 1 #SB_DFF
set_location un4_counter_2_7_c_RNO 1 9 6 #SB_LUT4
set_location un4_counter_2_2_c 1 7 2 #SB_CARRY
set_location counter_3_RNO[24] 12 9 7 #SB_LUT4
set_location counter_3_RNO[17] 12 9 0 #SB_LUT4
set_location counter_3[27] 12 10 2 #SB_DFFE
set_location counter_3[15] 12 8 6 #SB_DFFE
set_location counter_2_RNO[6] 2 6 0 #SB_LUT4
set_location counter_2_1_cry_29_c 2 10 4 #SB_CARRY
set_location counter_1_RNO[5] 1 1 4 #SB_LUT4
set_location counter_1_1_cry_10_c 1 2 1 #SB_CARRY
set_location counter_2[15] 2 8 6 #SB_DFFE
set_location counter_1_1_cry_22_c 1 3 5 #SB_CARRY
set_location counter_3_1_cry_4_c 12 7 3 #SB_CARRY
set_location counter_2_RNO[20] 2 9 3 #SB_LUT4
set_location counter_2[29] 2 10 4 #SB_DFFE
set_location counter_2_1_cry_4_c 2 7 3 #SB_CARRY
set_location counter_1[21] 1 3 4 #SB_DFF
set_location counter_1_1_cry_19_c 1 3 2 #SB_CARRY
set_location un4_counter_3_0_c 11 8 0 #SB_CARRY
set_location counter_3_RNO[10] 12 8 1 #SB_LUT4
set_location counter_3[22] 12 9 5 #SB_DFFE
set_location counter_1_RNO[0] 4 5 3 #SB_LUT4
set_location un4_counter_3_5_c_RNO 11 9 4 #SB_LUT4
set_location un4_counter_3_0_c_RNO 11 9 6 #SB_LUT4
set_location counter_2_1_cry_16_c 2 8 7 #SB_CARRY
set_location counter_2[18] 2 9 1 #SB_DFFE
set_location counter_1_RNO[10] 1 2 1 #SB_LUT4
set_location un4_counter_1_7_c 5 6 7 #SB_CARRY
set_location counter_3[18] 12 9 1 #SB_DFFE
set_location counter_2_RNO[25] 2 10 0 #SB_LUT4
set_location counter_2_RNO[17] 2 9 0 #SB_LUT4
set_location counter_2[22] 2 9 5 #SB_DFFE
set_location counter_2_1_cry_30_c 2 10 5 #SB_CARRY
set_location counter_2[1] 2 6 1 #SB_DFFE
set_location counter_1_1_cry_7_c 1 1 6 #SB_CARRY
set_location un4_counter_1_2_c 5 6 2 #SB_CARRY
set_location counter_3[29] 12 10 4 #SB_DFFE
set_location counter_3_1_cry_12_c 12 8 3 #SB_CARRY
set_location counter_1[16] 1 2 7 #SB_DFF
set_location un4_counter_3_4_c_RNO 11 9 5 #SB_LUT4
set_location counter_3_RNO[6] 11 6 4 #SB_LUT4
set_location counter_3[3] 12 11 3 #SB_DFFE
set_location counter_2_1_cry_24_c 2 9 7 #SB_CARRY
set_location counter_2_1_cry_19_c 2 9 2 #SB_CARRY
set_location un4_counter_2_2_c_RNO 1 8 3 #SB_LUT4
set_location counter_2_RNO[12] 2 8 3 #SB_LUT4
set_location counter_2[27] 2 10 2 #SB_DFFE
set_location counter_1[31] 1 4 6 #SB_DFF
set_location counter_1_1_cry_27_c 1 4 2 #SB_CARRY
set_location clk_2Hz 5 9 7 #SB_DFF
set_location clk_1MHz 5 7 4 #SB_DFF
set_location un4_counter_3_6_c_RNO 11 9 7 #SB_LUT4
set_location un4_counter_1_2_c_RNO 2 2 1 #SB_LUT4
set_location counter_2_1_cry_7_c 2 7 6 #SB_CARRY
set_location counter_1[6] 1 1 5 #SB_DFF
set_location counter_1_1_cry_5_c 1 1 4 #SB_CARRY
set_location counter_1[13] 1 2 4 #SB_DFF
set_location counter_3[6] 11 6 4 #SB_DFFE
set_location counter_3_1_cry_1_c 12 7 0 #SB_CARRY
set_location counter_2_RNO[30] 2 10 5 #SB_LUT4
set_location counter_2_RNO[28] 2 10 3 #SB_LUT4
set_location counter_1_RNO[22] 1 3 5 #SB_LUT4
set_location counter_3_RNO[27] 12 10 2 #SB_LUT4
set_location counter_3[12] 12 8 3 #SB_DFFE
set_location counter_2_RNO[3] 2 7 2 #SB_LUT4
set_location counter_2_RNO[19] 2 9 2 #SB_LUT4
set_location un4_counter_1_1_c_RNO 2 2 0 #SB_LUT4
set_location counter_3_1_cry_8_c 12 7 7 #SB_CARRY
set_location counter_3_1_cry_29_c 12 10 4 #SB_CARRY
set_location counter_3_1_cry_19_c 12 9 2 #SB_CARRY
set_location counter_2_1_cry_27_c 2 10 2 #SB_CARRY
set_location counter_2[10] 2 8 1 #SB_DFFE
set_location counter_3[9] 12 8 0 #SB_DFFE
set_location counter_2[9] 2 8 0 #SB_DFFE
set_location counter_2_1_cry_9_c 2 8 0 #SB_CARRY
set_location counter_2_1_cry_12_c 2 8 3 #SB_CARRY
set_location counter_1_RNO[29] 1 4 4 #SB_LUT4
set_location counter_1[24] 1 3 7 #SB_DFF
set_location counter_3_RNO[22] 12 9 5 #SB_LUT4
set_location counter_3_RNO[15] 12 8 6 #SB_LUT4
set_location counter_3[21] 12 9 4 #SB_DFFE
set_location counter_3[17] 12 9 0 #SB_DFFE
set_location counter_2_RNO[8] 2 6 6 #SB_LUT4
set_location counter_1_RNO[3] 4 5 0 #SB_LUT4
set_location un4_counter_1_6_c 5 6 6 #SB_CARRY
set_location counter_3_1_cry_16_c 12 8 7 #SB_CARRY
set_location counter_1_RNO[15] 1 2 6 #SB_LUT4
set_location counter_1[8] 1 1 7 #SB_DFF
set_location counter_1_1_cry_24_c 1 3 7 #SB_CARRY
set_location un4_counter_2_1_c_RNO 1 6 6 #SB_LUT4
set_location un4_counter_2_0_c_RNO 1 6 2 #SB_LUT4
set_location counter_2_RNO[22] 2 9 5 #SB_LUT4
set_location counter_2[2] 2 6 2 #SB_DFFE
set_location counter_2_1_cry_28_c 2 10 3 #SB_CARRY
set_location counter_3_1_cry_2_c 12 7 1 #SB_CARRY
set_location counter_3_1_cry_23_c 12 9 6 #SB_CARRY
set_location counter_1_1_cry_23_c 1 3 6 #SB_CARRY
set_location un4_counter_3_7_c 11 8 7 #SB_CARRY
set_location counter_3_RNO[5] 11 6 5 #SB_LUT4
set_location counter_2_1_cry_3_c 2 7 2 #SB_CARRY
set_location counter_1_RNO[12] 1 2 3 #SB_LUT4
set_location counter_3_1_cry_5_c 12 7 4 #SB_CARRY
set_location counter_2_RNO[27] 2 10 2 #SB_LUT4
set_location counter_2_RNO[11] 2 8 2 #SB_LUT4
set_location counter_2[7] 2 6 4 #SB_DFFE
set_location counter_2[20] 2 9 3 #SB_DFFE
set_location counter_2_1_cry_22_c 2 9 5 #SB_CARRY
set_location counter_1_RNO[30] 1 4 5 #SB_LUT4
set_location counter_3_RNO[30] 12 10 5 #SB_LUT4
set_location counter_3[31] 12 10 6 #SB_DFFE
set_location counter_2_1_cry_17_c 2 9 0 #SB_CARRY
set_location counter_1_RNO[9] 1 2 0 #SB_LUT4
set_location counter_1[5] 1 1 4 #SB_DFF
set_location counter_1[14] 1 2 5 #SB_DFF
set_location counter_3_RNO[0] 9 7 7 #SB_LUT4
set_location counter_3[1] 11 6 6 #SB_DFFE
set_location counter_1_RNO[21] 1 3 4 #SB_LUT4
set_location counter_3_1_cry_9_c 12 8 0 #SB_CARRY
set_location counter_2_RNO[0] 2 6 5 #SB_LUT4
set_location counter_2[25] 2 10 0 #SB_DFFE
set_location counter_2_1_cry_23_c 2 9 6 #SB_CARRY
set_location un4_counter_2_5_c_RNO 1 8 1 #SB_LUT4
set_location counter_2[13] 2 8 4 #SB_DFFE
set_location counter_1[11] 1 2 2 #SB_DFF
set_location counter_1[0] 4 5 3 #SB_DFF
set_location un4_counter_2_4_c_RNO 1 8 2 #SB_LUT4
set_location un4_counter_1_5_c_RNO 2 3 4 #SB_LUT4
set_location counter_3[4] 11 10 0 #SB_DFFE
set_location counter_1_RNO[24] 1 3 7 #SB_LUT4
set_location counter_1[27] 1 4 2 #SB_DFF
set_location counter_1_1_cry_30_c 1 4 5 #SB_CARRY
set_location counter_1_1_cry_20_c 1 3 3 #SB_CARRY
set_location counter_3_RNO[25] 12 10 0 #SB_LUT4
set_location counter_3_RNO[16] 12 8 7 #SB_LUT4
set_location counter_3[24] 12 9 7 #SB_DFFE
set_location counter_3_1_cry_11_c 12 8 2 #SB_CARRY
set_location counter_3[14] 12 8 5 #SB_DFFE
set_location counter_2_RNO[5] 1 5 3 #SB_LUT4
set_location counter_1_RNO[6] 1 1 5 #SB_LUT4
set_location un4_counter_2_7_c 1 7 7 #SB_CARRY
set_location un4_counter_1_4_c_RNO 2 3 3 #SB_LUT4
set_location counter_3_1_cry_6_c 12 7 5 #SB_CARRY
set_location counter_3_1_cry_27_c 12 10 2 #SB_CARRY
set_location counter_2_1_cry_21_c 2 9 4 #SB_CARRY
set_location counter_2[16] 2 8 7 #SB_DFFE
set_location clk_1MHz_RNINCP9 5 7 1 #SB_LUT4
set_location un4_counter_3_3_c 11 8 3 #SB_CARRY
set_location counter_2[30] 2 10 5 #SB_DFFE
set_location counter_2[28] 2 10 3 #SB_DFFE
set_location counter_1[22] 1 3 5 #SB_DFF
set_location counter_3_RNO[20] 12 9 3 #SB_LUT4
set_location counter_3_RNO[13] 12 8 4 #SB_LUT4
set_location counter_3[23] 12 9 6 #SB_DFFE
set_location counter_3_1_cry_3_c 12 7 2 #SB_CARRY
set_location counter_3_1_cry_18_c 12 9 1 #SB_CARRY
set_location counter_2_1_cry_26_c 2 10 1 #SB_CARRY
set_location counter_1_RNO[1] 4 5 7 #SB_LUT4
set_location counter_3_RNO[8] 12 7 7 #SB_LUT4
set_location counter_2[19] 2 9 2 #SB_DFFE
set_location counter_1_RNO[17] 1 3 0 #SB_LUT4
set_location counter_1_1_cry_14_c 1 2 5 #SB_CARRY
set_location un4_counter_1_6_c_RNO 2 4 1 #SB_LUT4
set_location counter_3_1_cry_24_c 12 9 7 #SB_CARRY
set_location counter_2_RNO[24] 2 9 7 #SB_LUT4
set_location counter_2_RNO[14] 2 8 5 #SB_LUT4
set_location counter_2[0] 2 6 5 #SB_DFFE
set_location clk_2Hz_RNO_0 5 8 2 #SB_LUT4
set_location un4_counter_1_1_c 5 6 1 #SB_CARRY
set_location counter_2_1_cry_6_c 2 7 5 #SB_CARRY
set_location counter_1[19] 1 3 2 #SB_DFF
set_location clk_1Khz_RNIDQNN 6 8 1 #SB_LUT4
set_location counter_3_RNO[7] 11 10 2 #SB_LUT4
set_location counter_2_RNO[13] 2 8 4 #SB_LUT4
set_location counter_2[5] 1 5 3 #SB_DFFE
set_location counter_2[26] 2 10 1 #SB_DFFE
set_location counter_1[30] 1 4 5 #SB_DFF
set_location counter_1[28] 1 4 3 #SB_DFF
set_location un4_counter_3_6_c 11 8 6 #SB_CARRY
set_location un4_counter_2_4_c 1 7 4 #SB_CARRY
set_location un4_counter_1_7_c_RNO 1 4 7 #SB_LUT4
set_location counter_3_RNO[19] 12 9 2 #SB_LUT4
set_location counter_3_1_cry_15_c 12 8 6 #SB_CARRY
set_location counter_1[7] 1 1 6 #SB_DFF
set_location counter_1[12] 1 2 3 #SB_DFF
set_location un4_counter_3_1_c_RNO 11 7 3 #SB_LUT4
set_location un4_counter_2_3_c 1 7 3 #SB_CARRY
set_location counter_3_RNO[2] 12 7 1 #SB_LUT4
set_location counter_3[7] 11 10 2 #SB_DFFE
set_location counter_2_RNO[31] 2 10 6 #SB_LUT4
set_location counter_2_1_cry_8_c 2 7 7 #SB_CARRY
set_location counter_2_1_cry_25_c 2 10 0 #SB_CARRY
set_location counter_1_RNO[23] 1 3 6 #SB_LUT4
set_location counter_1_RNO[19] 1 3 2 #SB_LUT4
set_location un4_counter_3_5_c 11 8 5 #SB_CARRY
set_location counter_3_RNO[28] 12 10 3 #SB_LUT4
set_location counter_3[11] 12 8 2 #SB_DFFE
set_location counter_2_RNO[2] 2 6 2 #SB_LUT4
set_location counter_3_1_cry_7_c 12 7 6 #SB_CARRY
set_location counter_2[11] 2 8 2 #SB_DFFE
set_location counter_1[2] 4 5 1 #SB_DFF
set_location counter_1_1_cry_25_c 1 4 0 #SB_CARRY
set_location counter_2[8] 2 6 6 #SB_DFFE
set_location counter_1_RNO[26] 1 4 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location counter_3_RNO[14] 12 8 5 #SB_LUT4
set_location counter_3[16] 12 8 7 #SB_DFFE
set_location counter_2_RNO[7] 2 6 4 #SB_LUT4
set_location counter_1_RNO[4] 1 1 3 #SB_LUT4
set_location clk_2Hz_RNO 5 9 7 #SB_LUT4
set_location counter_2_1_cry_2_c 2 7 1 #SB_CARRY
set_location counter_2[14] 2 8 5 #SB_DFFE
set_location counter_1_RNO[14] 1 2 5 #SB_LUT4
set_location counter_1[20] 1 3 3 #SB_DFF
set_location counter_3[19] 12 9 2 #SB_DFFE
set_location counter_2_RNO[26] 2 10 1 #SB_LUT4
set_location counter_2[6] 2 6 0 #SB_DFFE
set_location counter_2[23] 2 9 6 #SB_DFFE
set_location counter_1_1_cry_13_c 1 2 4 #SB_CARRY
set_location un4_counter_3_1_c 11 8 1 #SB_CARRY
set_location counter_3[30] 12 10 5 #SB_DFFE
set_location counter_3_1_cry_22_c 12 9 5 #SB_CARRY
set_location counter_1[17] 1 3 0 #SB_DFF
set_location counter_3_1_cry_25_c 12 10 0 #SB_CARRY
set_location counter_2_1_cry_14_c 2 8 5 #SB_CARRY
set_location un4_counter_3_3_c_RNO 11 7 2 #SB_LUT4
set_location counter_3_1_cry_13_c 12 8 4 #SB_CARRY
set_location counter_1_1_cry_11_c 1 2 2 #SB_CARRY
set_location counter_1[1] 4 5 7 #SB_DFF
set_location counter_3[5] 11 6 5 #SB_DFFE
set_location counter_2_RNO[29] 2 10 4 #SB_LUT4
set_location counter_2_1_cry_13_c 2 8 4 #SB_CARRY
set_location counter_1_RNO[25] 1 4 0 #SB_LUT4
set_location un4_counter_2_5_c 1 7 5 #SB_CARRY
set_location counter_3_1_cry_14_c 12 8 5 #SB_CARRY
set_location counter_3[13] 12 8 4 #SB_DFFE
set_location counter_2_RNO[4] 2 6 3 #SB_LUT4
set_location counter_1_RNO[7] 1 1 6 #SB_LUT4
set_location counter_1_1_cry_16_c 1 2 7 #SB_CARRY
set_location counter_2[17] 2 9 0 #SB_DFFE
set_location un4_counter_3_2_c_RNO 11 7 7 #SB_LUT4
set_location un4_counter_1_0_c 5 6 0 #SB_CARRY
set_location counter_2[31] 2 10 6 #SB_DFFE
set_location counter_1[23] 1 3 6 #SB_DFF
set_location clk_1MHz_RNO 5 7 4 #SB_LUT4
set_location clk_1Khz_RNO 5 8 4 #SB_LUT4
set_location un4_counter_2_6_c_RNO 1 9 7 #SB_LUT4
set_location counter_3_RNO[21] 12 9 4 #SB_LUT4
set_location counter_3[20] 12 9 3 #SB_DFFE
set_location counter_3_RNO[9] 12 8 0 #SB_LUT4
set_location counter_2_RNO[23] 2 9 6 #SB_LUT4
set_location counter_2[3] 2 7 2 #SB_DFFE
set_location counter_2_1_cry_5_c 2 7 4 #SB_CARRY
set_location counter_1[18] 1 3 1 #SB_DFF
set_location counter_1_RNO[13] 1 2 4 #SB_LUT4
set_location counter_2_RNO[10] 2 8 1 #SB_LUT4
set_location counter_1_RNO[31] 1 4 6 #SB_LUT4
set_location counter_1[29] 1 4 4 #SB_DFF
set_location counter_2_1_cry_1_c 2 7 0 #SB_CARRY
set_location counter_1[4] 1 1 3 #SB_DFF
set_location counter_1_1_cry_29_c 1 4 4 #SB_CARRY
set_location un4_counter_1_3_c_RNO 2 2 2 #SB_LUT4
set_location counter_3_RNO[3] 12 11 3 #SB_LUT4
set_location counter_3[0] 9 7 7 #SB_DFFE
set_location counter_1_RNO[20] 1 3 3 #SB_LUT4
set_io clk_2Hz A2
set_io CLK_27mhz B2
