ble_pack VPP_VDDQ.count_RNI63141_10_LC_1_9_0 { VPP_VDDQ.count_RNI63141[10] }
ble_pack VPP_VDDQ.count_RNIVJP51_3_LC_1_9_4 { VPP_VDDQ.count_RNIVJP51[3] }
clb_pack LT_1_9 { VPP_VDDQ.count_RNI63141_10_LC_1_9_0, VPP_VDDQ.count_RNIVJP51_3_LC_1_9_4 }
set_location LT_1_9 1 9
ble_pack RSMRST_PWRGD.count_RNI9RLK1_3_LC_1_10_1 { RSMRST_PWRGD.count_RNI9RLK1[3] }
ble_pack VPP_VDDQ.count_RNIFC141_11_LC_1_10_2 { VPP_VDDQ.count_RNIFC141[11] }
ble_pack VPP_VDDQ.count_esr_RNI7CQO_15_LC_1_10_3 { VPP_VDDQ.count_esr_RNI7CQO[15] }
ble_pack VPP_VDDQ.count_esr_RNIRFM64_15_LC_1_10_4 { VPP_VDDQ.count_esr_RNIRFM64[15] }
ble_pack COUNTER.un4_counter_7_c_RNIKGAO8_LC_1_10_5 { COUNTER.un4_counter_7_c_RNIKGAO8 }
ble_pack VPP_VDDQ.count_esr_RNO_0_15_LC_1_10_6 { VPP_VDDQ.count_esr_RNO_0[15] }
clb_pack LT_1_10 { RSMRST_PWRGD.count_RNI9RLK1_3_LC_1_10_1, VPP_VDDQ.count_RNIFC141_11_LC_1_10_2, VPP_VDDQ.count_esr_RNI7CQO_15_LC_1_10_3, VPP_VDDQ.count_esr_RNIRFM64_15_LC_1_10_4, COUNTER.un4_counter_7_c_RNIKGAO8_LC_1_10_5, VPP_VDDQ.count_esr_RNO_0_15_LC_1_10_6 }
set_location LT_1_10 1 10
ble_pack RSMRST_PWRGD.count_0_LC_1_11_0 { RSMRST_PWRGD.count_RNO[0], RSMRST_PWRGD.count[0], RSMRST_PWRGD.un1_count_1_cry_0_c }
ble_pack RSMRST_PWRGD.count_1_LC_1_11_1 { RSMRST_PWRGD.count_RNO[1], RSMRST_PWRGD.count[1], RSMRST_PWRGD.un1_count_1_cry_1_c }
ble_pack RSMRST_PWRGD.count_2_LC_1_11_2 { RSMRST_PWRGD.count_RNO[2], RSMRST_PWRGD.count[2], RSMRST_PWRGD.un1_count_1_cry_2_c }
ble_pack RSMRST_PWRGD.count_3_LC_1_11_3 { RSMRST_PWRGD.count_RNO[3], RSMRST_PWRGD.count[3], RSMRST_PWRGD.un1_count_1_cry_3_c }
ble_pack RSMRST_PWRGD.count_4_LC_1_11_4 { RSMRST_PWRGD.count_RNO[4], RSMRST_PWRGD.count[4], RSMRST_PWRGD.un1_count_1_cry_4_c }
ble_pack RSMRST_PWRGD.count_5_LC_1_11_5 { RSMRST_PWRGD.count_RNO[5], RSMRST_PWRGD.count[5], RSMRST_PWRGD.un1_count_1_cry_5_c }
ble_pack RSMRST_PWRGD.count_6_LC_1_11_6 { RSMRST_PWRGD.count_RNO[6], RSMRST_PWRGD.count[6], RSMRST_PWRGD.un1_count_1_cry_6_c }
ble_pack RSMRST_PWRGD.count_7_LC_1_11_7 { RSMRST_PWRGD.count_RNO[7], RSMRST_PWRGD.count[7], RSMRST_PWRGD.un1_count_1_cry_7_c }
clb_pack LT_1_11 { RSMRST_PWRGD.count_0_LC_1_11_0, RSMRST_PWRGD.count_1_LC_1_11_1, RSMRST_PWRGD.count_2_LC_1_11_2, RSMRST_PWRGD.count_3_LC_1_11_3, RSMRST_PWRGD.count_4_LC_1_11_4, RSMRST_PWRGD.count_5_LC_1_11_5, RSMRST_PWRGD.count_6_LC_1_11_6, RSMRST_PWRGD.count_7_LC_1_11_7 }
set_location LT_1_11 1 11
ble_pack RSMRST_PWRGD.count_8_LC_1_12_0 { RSMRST_PWRGD.count_RNO[8], RSMRST_PWRGD.count[8], RSMRST_PWRGD.un1_count_1_cry_8_c }
ble_pack RSMRST_PWRGD.count_9_LC_1_12_1 { RSMRST_PWRGD.count_RNO[9], RSMRST_PWRGD.count[9], RSMRST_PWRGD.un1_count_1_cry_9_c }
ble_pack RSMRST_PWRGD.count_10_LC_1_12_2 { RSMRST_PWRGD.count_RNO[10], RSMRST_PWRGD.count[10], RSMRST_PWRGD.un1_count_1_cry_10_c }
ble_pack RSMRST_PWRGD.count_11_LC_1_12_3 { RSMRST_PWRGD.count_RNO[11], RSMRST_PWRGD.count[11], RSMRST_PWRGD.un1_count_1_cry_11_c }
ble_pack RSMRST_PWRGD.count_12_LC_1_12_4 { RSMRST_PWRGD.count_RNO[12], RSMRST_PWRGD.count[12], RSMRST_PWRGD.un1_count_1_cry_12_c }
ble_pack RSMRST_PWRGD.count_13_LC_1_12_5 { RSMRST_PWRGD.count_RNO[13], RSMRST_PWRGD.count[13], RSMRST_PWRGD.un1_count_1_cry_13_c }
ble_pack RSMRST_PWRGD.count_14_LC_1_12_6 { RSMRST_PWRGD.count_RNO[14], RSMRST_PWRGD.count[14], RSMRST_PWRGD.un1_count_1_cry_14_c }
ble_pack RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_1_12_7 { RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_1_12 { RSMRST_PWRGD.count_8_LC_1_12_0, RSMRST_PWRGD.count_9_LC_1_12_1, RSMRST_PWRGD.count_10_LC_1_12_2, RSMRST_PWRGD.count_11_LC_1_12_3, RSMRST_PWRGD.count_12_LC_1_12_4, RSMRST_PWRGD.count_13_LC_1_12_5, RSMRST_PWRGD.count_14_LC_1_12_6, RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_1_12_7 }
set_location LT_1_12 1 12
ble_pack RSMRST_PWRGD.count_esr_15_LC_1_13_0 { RSMRST_PWRGD.count_esr_RNO[15], RSMRST_PWRGD.count_esr[15] }
clb_pack LT_1_13 { RSMRST_PWRGD.count_esr_15_LC_1_13_0 }
set_location LT_1_13 1 13
ble_pack PCH_PWRGD.curr_state_RNIFKNO1_0_LC_1_14_1 { PCH_PWRGD.curr_state_RNIFKNO1[0] }
ble_pack PCH_PWRGD.count_RNIESHJ_1_LC_1_14_2 { PCH_PWRGD.count_RNIESHJ[1] }
ble_pack PCH_PWRGD.count_RNI7J2B_3_LC_1_14_3 { PCH_PWRGD.count_RNI7J2B[3] }
ble_pack VPP_VDDQ.un1_vddq_en_LC_1_14_4 { VPP_VDDQ.un1_vddq_en }
ble_pack PCH_PWRGD.curr_state_RNIFKNO1_0_0_LC_1_14_5 { PCH_PWRGD.curr_state_RNIFKNO1_0[0] }
ble_pack PCH_PWRGD.curr_state_RNIFENV2_0_LC_1_14_6 { PCH_PWRGD.curr_state_RNIFENV2[0] }
ble_pack PCH_PWRGD.curr_state_RNO_0_0_LC_1_14_7 { PCH_PWRGD.curr_state_RNO_0[0] }
clb_pack LT_1_14 { PCH_PWRGD.curr_state_RNIFKNO1_0_LC_1_14_1, PCH_PWRGD.count_RNIESHJ_1_LC_1_14_2, PCH_PWRGD.count_RNI7J2B_3_LC_1_14_3, VPP_VDDQ.un1_vddq_en_LC_1_14_4, PCH_PWRGD.curr_state_RNIFKNO1_0_0_LC_1_14_5, PCH_PWRGD.curr_state_RNIFENV2_0_LC_1_14_6, PCH_PWRGD.curr_state_RNO_0_0_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack PCH_PWRGD.count_RNIN5IJ_0_LC_1_15_1 { PCH_PWRGD.count_RNIN5IJ[0] }
ble_pack PCH_PWRGD.count_esr_RNIFR521_15_LC_1_15_2 { PCH_PWRGD.count_esr_RNIFR521[15] }
ble_pack PCH_PWRGD.count_esr_RNIRGCK2_15_LC_1_15_3 { PCH_PWRGD.count_esr_RNIRGCK2[15] }
ble_pack COUNTER.un4_counter_7_c_RNIL1SQ7_LC_1_15_4 { COUNTER.un4_counter_7_c_RNIL1SQ7 }
ble_pack PCH_PWRGD.count_esr_RNO_0_15_LC_1_15_5 { PCH_PWRGD.count_esr_RNO_0[15] }
clb_pack LT_1_15 { PCH_PWRGD.count_RNIN5IJ_0_LC_1_15_1, PCH_PWRGD.count_esr_RNIFR521_15_LC_1_15_2, PCH_PWRGD.count_esr_RNIRGCK2_15_LC_1_15_3, COUNTER.un4_counter_7_c_RNIL1SQ7_LC_1_15_4, PCH_PWRGD.count_esr_RNO_0_15_LC_1_15_5 }
set_location LT_1_15 1 15
ble_pack VPP_VDDQ.count_0_LC_2_9_0 { VPP_VDDQ.count_RNO[0], VPP_VDDQ.count[0], VPP_VDDQ.un1_count_1_cry_0_c }
ble_pack VPP_VDDQ.count_1_LC_2_9_1 { VPP_VDDQ.count_RNO[1], VPP_VDDQ.count[1], VPP_VDDQ.un1_count_1_cry_1_c }
ble_pack VPP_VDDQ.count_2_LC_2_9_2 { VPP_VDDQ.count_RNO[2], VPP_VDDQ.count[2], VPP_VDDQ.un1_count_1_cry_2_c }
ble_pack VPP_VDDQ.count_3_LC_2_9_3 { VPP_VDDQ.count_RNO[3], VPP_VDDQ.count[3], VPP_VDDQ.un1_count_1_cry_3_c }
ble_pack VPP_VDDQ.count_4_LC_2_9_4 { VPP_VDDQ.count_RNO[4], VPP_VDDQ.count[4], VPP_VDDQ.un1_count_1_cry_4_c }
ble_pack VPP_VDDQ.count_5_LC_2_9_5 { VPP_VDDQ.count_RNO[5], VPP_VDDQ.count[5], VPP_VDDQ.un1_count_1_cry_5_c }
ble_pack VPP_VDDQ.count_6_LC_2_9_6 { VPP_VDDQ.count_RNO[6], VPP_VDDQ.count[6], VPP_VDDQ.un1_count_1_cry_6_c }
ble_pack VPP_VDDQ.count_7_LC_2_9_7 { VPP_VDDQ.count_RNO[7], VPP_VDDQ.count[7], VPP_VDDQ.un1_count_1_cry_7_c }
clb_pack LT_2_9 { VPP_VDDQ.count_0_LC_2_9_0, VPP_VDDQ.count_1_LC_2_9_1, VPP_VDDQ.count_2_LC_2_9_2, VPP_VDDQ.count_3_LC_2_9_3, VPP_VDDQ.count_4_LC_2_9_4, VPP_VDDQ.count_5_LC_2_9_5, VPP_VDDQ.count_6_LC_2_9_6, VPP_VDDQ.count_7_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack VPP_VDDQ.count_8_LC_2_10_0 { VPP_VDDQ.count_RNO[8], VPP_VDDQ.count[8], VPP_VDDQ.un1_count_1_cry_8_c }
ble_pack VPP_VDDQ.count_9_LC_2_10_1 { VPP_VDDQ.count_RNO[9], VPP_VDDQ.count[9], VPP_VDDQ.un1_count_1_cry_9_c }
ble_pack VPP_VDDQ.count_10_LC_2_10_2 { VPP_VDDQ.count_RNO[10], VPP_VDDQ.count[10], VPP_VDDQ.un1_count_1_cry_10_c }
ble_pack VPP_VDDQ.count_11_LC_2_10_3 { VPP_VDDQ.count_RNO[11], VPP_VDDQ.count[11], VPP_VDDQ.un1_count_1_cry_11_c }
ble_pack VPP_VDDQ.count_12_LC_2_10_4 { VPP_VDDQ.count_RNO[12], VPP_VDDQ.count[12], VPP_VDDQ.un1_count_1_cry_12_c }
ble_pack VPP_VDDQ.count_13_LC_2_10_5 { VPP_VDDQ.count_RNO[13], VPP_VDDQ.count[13], VPP_VDDQ.un1_count_1_cry_13_c }
ble_pack VPP_VDDQ.count_14_LC_2_10_6 { VPP_VDDQ.count_RNO[14], VPP_VDDQ.count[14], VPP_VDDQ.un1_count_1_cry_14_c }
ble_pack VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0_LC_2_10_7 { VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_2_10 { VPP_VDDQ.count_8_LC_2_10_0, VPP_VDDQ.count_9_LC_2_10_1, VPP_VDDQ.count_10_LC_2_10_2, VPP_VDDQ.count_11_LC_2_10_3, VPP_VDDQ.count_12_LC_2_10_4, VPP_VDDQ.count_13_LC_2_10_5, VPP_VDDQ.count_14_LC_2_10_6, VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack VPP_VDDQ.count_esr_15_LC_2_11_0 { VPP_VDDQ.count_esr_RNO[15], VPP_VDDQ.count_esr[15] }
clb_pack LT_2_11 { VPP_VDDQ.count_esr_15_LC_2_11_0 }
set_location LT_2_11 2 11
ble_pack RSMRST_PWRGD.curr_state_RNIR5E01_0_LC_2_12_0 { RSMRST_PWRGD.curr_state_RNIR5E01[0] }
ble_pack RSMRST_PWRGD.curr_state_RNII9BF7_1_LC_2_12_1 { RSMRST_PWRGD.curr_state_RNII9BF7[1] }
ble_pack VPP_VDDQ.curr_state_1_LC_2_12_2 { VPP_VDDQ.curr_state_RNO[1], VPP_VDDQ.curr_state[1] }
ble_pack RSMRST_PWRGD.count_RNI4MLK1_1_LC_2_12_3 { RSMRST_PWRGD.count_RNI4MLK1[1] }
ble_pack RSMRST_PWRGD.curr_state_1_LC_2_12_4 { RSMRST_PWRGD.curr_state_RNO[1], RSMRST_PWRGD.curr_state[1] }
ble_pack COUNTER.tmp_RNIRH3P_LC_2_12_5 { COUNTER.tmp_RNIRH3P }
ble_pack RSMRST_PWRGD.curr_stateZ0Z_0_LC_2_12_6 { RSMRST_PWRGD.curr_state_RNO[0], RSMRST_PWRGD.curr_state[0] }
ble_pack RSMRST_PWRGD.count_RNIIRGK_10_LC_2_12_7 { RSMRST_PWRGD.count_RNIIRGK[10] }
clb_pack LT_2_12 { RSMRST_PWRGD.curr_state_RNIR5E01_0_LC_2_12_0, RSMRST_PWRGD.curr_state_RNII9BF7_1_LC_2_12_1, VPP_VDDQ.curr_state_1_LC_2_12_2, RSMRST_PWRGD.count_RNI4MLK1_1_LC_2_12_3, RSMRST_PWRGD.curr_state_1_LC_2_12_4, COUNTER.tmp_RNIRH3P_LC_2_12_5, RSMRST_PWRGD.curr_stateZ0Z_0_LC_2_12_6, RSMRST_PWRGD.count_RNIIRGK_10_LC_2_12_7 }
set_location LT_2_12 2 12
ble_pack PCH_PWRGD.curr_state_0_LC_2_13_0 { PCH_PWRGD.curr_state_RNO[0], PCH_PWRGD.curr_state[0] }
ble_pack RSMRST_PWRGD.count_esr_RNISRRR_15_LC_2_13_1 { RSMRST_PWRGD.count_esr_RNISRRR[15] }
ble_pack RSMRST_PWRGD.count_RNIR8OP4_10_LC_2_13_2 { RSMRST_PWRGD.count_RNIR8OP4[10] }
ble_pack RSMRST_PWRGD.count_esr_RNO_0_15_LC_2_13_3 { RSMRST_PWRGD.count_esr_RNO_0[15] }
ble_pack PCH_PWRGD.curr_state_RNO_0_1_LC_2_13_4 { PCH_PWRGD.curr_state_RNO_0[1] }
ble_pack PCH_PWRGD.curr_state_1_LC_2_13_5 { PCH_PWRGD.curr_state_RNO[1], PCH_PWRGD.curr_state[1] }
ble_pack PCH_PWRGD.delayed_vccin_ok_RNO_0_LC_2_13_6 { PCH_PWRGD.delayed_vccin_ok_RNO_0 }
ble_pack PCH_PWRGD.delayed_vccin_ok_LC_2_13_7 { PCH_PWRGD.delayed_vccin_ok_RNO, PCH_PWRGD.delayed_vccin_ok }
clb_pack LT_2_13 { PCH_PWRGD.curr_state_0_LC_2_13_0, RSMRST_PWRGD.count_esr_RNISRRR_15_LC_2_13_1, RSMRST_PWRGD.count_RNIR8OP4_10_LC_2_13_2, RSMRST_PWRGD.count_esr_RNO_0_15_LC_2_13_3, PCH_PWRGD.curr_state_RNO_0_1_LC_2_13_4, PCH_PWRGD.curr_state_1_LC_2_13_5, PCH_PWRGD.delayed_vccin_ok_RNO_0_LC_2_13_6, PCH_PWRGD.delayed_vccin_ok_LC_2_13_7 }
set_location LT_2_13 2 13
ble_pack PCH_PWRGD.count_0_LC_2_14_0 { PCH_PWRGD.count_RNO[0], PCH_PWRGD.count[0], PCH_PWRGD.un1_count_1_cry_0_c }
ble_pack PCH_PWRGD.count_1_LC_2_14_1 { PCH_PWRGD.count_RNO[1], PCH_PWRGD.count[1], PCH_PWRGD.un1_count_1_cry_1_c }
ble_pack PCH_PWRGD.count_2_LC_2_14_2 { PCH_PWRGD.count_RNO[2], PCH_PWRGD.count[2], PCH_PWRGD.un1_count_1_cry_2_c }
ble_pack PCH_PWRGD.count_3_LC_2_14_3 { PCH_PWRGD.count_RNO[3], PCH_PWRGD.count[3], PCH_PWRGD.un1_count_1_cry_3_c }
ble_pack PCH_PWRGD.count_4_LC_2_14_4 { PCH_PWRGD.count_RNO[4], PCH_PWRGD.count[4], PCH_PWRGD.un1_count_1_cry_4_c }
ble_pack PCH_PWRGD.count_5_LC_2_14_5 { PCH_PWRGD.count_RNO[5], PCH_PWRGD.count[5], PCH_PWRGD.un1_count_1_cry_5_c }
ble_pack PCH_PWRGD.count_6_LC_2_14_6 { PCH_PWRGD.count_RNO[6], PCH_PWRGD.count[6], PCH_PWRGD.un1_count_1_cry_6_c }
ble_pack PCH_PWRGD.count_7_LC_2_14_7 { PCH_PWRGD.count_RNO[7], PCH_PWRGD.count[7], PCH_PWRGD.un1_count_1_cry_7_c }
clb_pack LT_2_14 { PCH_PWRGD.count_0_LC_2_14_0, PCH_PWRGD.count_1_LC_2_14_1, PCH_PWRGD.count_2_LC_2_14_2, PCH_PWRGD.count_3_LC_2_14_3, PCH_PWRGD.count_4_LC_2_14_4, PCH_PWRGD.count_5_LC_2_14_5, PCH_PWRGD.count_6_LC_2_14_6, PCH_PWRGD.count_7_LC_2_14_7 }
set_location LT_2_14 2 14
ble_pack PCH_PWRGD.count_8_LC_2_15_0 { PCH_PWRGD.count_RNO[8], PCH_PWRGD.count[8], PCH_PWRGD.un1_count_1_cry_8_c }
ble_pack PCH_PWRGD.count_9_LC_2_15_1 { PCH_PWRGD.count_RNO[9], PCH_PWRGD.count[9], PCH_PWRGD.un1_count_1_cry_9_c }
ble_pack PCH_PWRGD.count_10_LC_2_15_2 { PCH_PWRGD.count_RNO[10], PCH_PWRGD.count[10], PCH_PWRGD.un1_count_1_cry_10_c }
ble_pack PCH_PWRGD.count_11_LC_2_15_3 { PCH_PWRGD.count_RNO[11], PCH_PWRGD.count[11], PCH_PWRGD.un1_count_1_cry_11_c }
ble_pack PCH_PWRGD.count_12_LC_2_15_4 { PCH_PWRGD.count_RNO[12], PCH_PWRGD.count[12], PCH_PWRGD.un1_count_1_cry_12_c }
ble_pack PCH_PWRGD.count_13_LC_2_15_5 { PCH_PWRGD.count_RNO[13], PCH_PWRGD.count[13], PCH_PWRGD.un1_count_1_cry_13_c }
ble_pack PCH_PWRGD.count_14_LC_2_15_6 { PCH_PWRGD.count_RNO[14], PCH_PWRGD.count[14], PCH_PWRGD.un1_count_1_cry_14_c }
ble_pack PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_2_15_7 { PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 }
clb_pack LT_2_15 { PCH_PWRGD.count_8_LC_2_15_0, PCH_PWRGD.count_9_LC_2_15_1, PCH_PWRGD.count_10_LC_2_15_2, PCH_PWRGD.count_11_LC_2_15_3, PCH_PWRGD.count_12_LC_2_15_4, PCH_PWRGD.count_13_LC_2_15_5, PCH_PWRGD.count_14_LC_2_15_6, PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack PCH_PWRGD.count_esr_15_LC_2_16_0 { PCH_PWRGD.count_esr_RNO[15], PCH_PWRGD.count_esr[15] }
clb_pack LT_2_16 { PCH_PWRGD.count_esr_15_LC_2_16_0 }
set_location LT_2_16 2 16
ble_pack COUNTER.un4_counter_0_c_LC_4_9_0 { COUNTER.un4_counter_0_c }
ble_pack COUNTER.un4_counter_1_c_LC_4_9_1 { COUNTER.un4_counter_1_c }
ble_pack COUNTER.un4_counter_2_c_LC_4_9_2 { COUNTER.un4_counter_2_c }
ble_pack COUNTER.un4_counter_3_c_LC_4_9_3 { COUNTER.un4_counter_3_c }
ble_pack COUNTER.un4_counter_4_c_LC_4_9_4 { COUNTER.un4_counter_4_c }
ble_pack COUNTER.un4_counter_5_c_LC_4_9_5 { COUNTER.un4_counter_5_c }
ble_pack COUNTER.un4_counter_6_c_LC_4_9_6 { COUNTER.un4_counter_6_c }
ble_pack COUNTER.un4_counter_7_c_LC_4_9_7 { COUNTER.un4_counter_7_c }
clb_pack LT_4_9 { COUNTER.un4_counter_0_c_LC_4_9_0, COUNTER.un4_counter_1_c_LC_4_9_1, COUNTER.un4_counter_2_c_LC_4_9_2, COUNTER.un4_counter_3_c_LC_4_9_3, COUNTER.un4_counter_4_c_LC_4_9_4, COUNTER.un4_counter_5_c_LC_4_9_5, COUNTER.un4_counter_6_c_LC_4_9_6, COUNTER.un4_counter_7_c_LC_4_9_7 }
set_location LT_4_9 4 9
ble_pack COUNTER_un4_counter_7_THRU_LUT4_0_LC_4_10_0 { COUNTER_un4_counter_7_THRU_LUT4_0 }
clb_pack LT_4_10 { COUNTER_un4_counter_7_THRU_LUT4_0_LC_4_10_0 }
set_location LT_4_10 4 10
ble_pack RSMRST_PWRGD.curr_state_RNISEFS1_0_LC_4_11_1 { RSMRST_PWRGD.curr_state_RNISEFS1[0] }
ble_pack COUNTER.tmp_LC_4_11_4 { COUNTER.tmp_RNO, COUNTER.tmp }
ble_pack RSMRST_PWRGD.RSMRSTn_rep1_LC_4_11_6 { RSMRST_PWRGD.RSMRSTn_rep1_RNO, RSMRST_PWRGD.RSMRSTn_rep1 }
ble_pack RSMRST_PWRGD.RSMRSTn_fast_LC_4_11_7 { RSMRST_PWRGD.RSMRSTn_fast_RNO, RSMRST_PWRGD.RSMRSTn_fast }
clb_pack LT_4_11 { RSMRST_PWRGD.curr_state_RNISEFS1_0_LC_4_11_1, COUNTER.tmp_LC_4_11_4, RSMRST_PWRGD.RSMRSTn_rep1_LC_4_11_6, RSMRST_PWRGD.RSMRSTn_fast_LC_4_11_7 }
set_location LT_4_11 4 11
ble_pack RSMRST_PWRGD.curr_state_RNO_0_0_LC_4_12_0 { RSMRST_PWRGD.curr_state_RNO_0[0] }
ble_pack RSMRST_PWRGD.curr_state_RNISEFS1_0_0_LC_4_12_1 { RSMRST_PWRGD.curr_state_RNISEFS1_0[0] }
ble_pack VPP_VDDQ.un1_vddq_pwrgd_LC_4_12_3 { VPP_VDDQ.un1_vddq_pwrgd }
ble_pack VPP_VDDQ.curr_state_RNIPNM02_0_LC_4_12_4 { VPP_VDDQ.curr_state_RNIPNM02[0] }
ble_pack RSMRST_PWRGD.curr_state_RNO_0_1_LC_4_12_5 { RSMRST_PWRGD.curr_state_RNO_0[1] }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_LC_4_12_6 { VPP_VDDQ.delayed_vddq_pwrgd_RNO, VPP_VDDQ.delayed_vddq_pwrgd }
ble_pack VPP_VDDQ.curr_state_0_LC_4_12_7 { VPP_VDDQ.curr_state_RNO[0], VPP_VDDQ.curr_state[0] }
clb_pack LT_4_12 { RSMRST_PWRGD.curr_state_RNO_0_0_LC_4_12_0, RSMRST_PWRGD.curr_state_RNISEFS1_0_0_LC_4_12_1, VPP_VDDQ.un1_vddq_pwrgd_LC_4_12_3, VPP_VDDQ.curr_state_RNIPNM02_0_LC_4_12_4, RSMRST_PWRGD.curr_state_RNO_0_1_LC_4_12_5, VPP_VDDQ.delayed_vddq_pwrgd_LC_4_12_6, VPP_VDDQ.curr_state_0_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack VPP_VDDQ.VCCST_EN_LC_4_13_0 { VPP_VDDQ.VCCST_EN }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_4_13_1 { VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ }
ble_pack RSMRST_PWRGD.RSMRSTn_LC_4_13_2 { RSMRST_PWRGD.RSMRSTn_RNO, RSMRST_PWRGD.RSMRSTn }
ble_pack VPP_VDDQ.slp_s3n_signal_i_LC_4_13_3 { VPP_VDDQ.slp_s3n_signal_i }
clb_pack LT_4_13 { VPP_VDDQ.VCCST_EN_LC_4_13_0, VPP_VDDQ.delayed_vddq_pwrgd_RNIJKKQ_LC_4_13_1, RSMRST_PWRGD.RSMRSTn_LC_4_13_2, VPP_VDDQ.slp_s3n_signal_i_LC_4_13_3 }
set_location LT_4_13 4 13
ble_pack PCH_PWRGD.delayed_vccin_ok_RNI6LSN_LC_4_14_6 { PCH_PWRGD.delayed_vccin_ok_RNI6LSN }
ble_pack CONSTANT_ONE_LUT4_LC_4_14_7 { CONSTANT_ONE_LUT4 }
clb_pack LT_4_14 { PCH_PWRGD.delayed_vccin_ok_RNI6LSN_LC_4_14_6, CONSTANT_ONE_LUT4_LC_4_14_7 }
set_location LT_4_14 4 14
ble_pack COUNTER.un4_counter_0_c_RNO_LC_5_9_0 { COUNTER.un4_counter_0_c_RNO }
ble_pack COUNTER.counter_5_LC_5_9_1 { COUNTER.counter_RNO[5], COUNTER.counter[5] }
ble_pack COUNTER.counter_6_LC_5_9_2 { COUNTER.counter_RNO[6], COUNTER.counter[6] }
ble_pack COUNTER.counter_3_LC_5_9_3 { COUNTER.counter_RNO[3], COUNTER.counter[3] }
ble_pack COUNTER.counter_4_LC_5_9_4 { COUNTER.counter_RNO[4], COUNTER.counter[4] }
ble_pack COUNTER.un4_counter_1_c_RNO_LC_5_9_5 { COUNTER.un4_counter_1_c_RNO }
ble_pack COUNTER.counter_1_LC_5_9_6 { COUNTER.counter_RNO[1], COUNTER.counter[1] }
ble_pack COUNTER.counter_2_LC_5_9_7 { COUNTER.counter_RNO[2], COUNTER.counter[2] }
clb_pack LT_5_9 { COUNTER.un4_counter_0_c_RNO_LC_5_9_0, COUNTER.counter_5_LC_5_9_1, COUNTER.counter_6_LC_5_9_2, COUNTER.counter_3_LC_5_9_3, COUNTER.counter_4_LC_5_9_4, COUNTER.un4_counter_1_c_RNO_LC_5_9_5, COUNTER.counter_1_LC_5_9_6, COUNTER.counter_2_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack COUNTER.un4_counter_4_c_RNO_LC_5_10_2 { COUNTER.un4_counter_4_c_RNO }
ble_pack COUNTER.un4_counter_3_c_RNO_LC_5_10_3 { COUNTER.un4_counter_3_c_RNO }
ble_pack COUNTER.un4_counter_5_c_RNO_LC_5_10_4 { COUNTER.un4_counter_5_c_RNO }
ble_pack COUNTER.un4_counter_2_c_RNO_LC_5_10_6 { COUNTER.un4_counter_2_c_RNO }
ble_pack COUNTER.counter_0_LC_5_10_7 { COUNTER.counter_RNO[0], COUNTER.counter[0] }
clb_pack LT_5_10 { COUNTER.un4_counter_4_c_RNO_LC_5_10_2, COUNTER.un4_counter_3_c_RNO_LC_5_10_3, COUNTER.un4_counter_5_c_RNO_LC_5_10_4, COUNTER.un4_counter_2_c_RNO_LC_5_10_6, COUNTER.counter_0_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack RSMRST_PWRGD.g1_2_LC_5_11_1 { RSMRST_PWRGD.g1_2 }
ble_pack COUNTER.un4_counter_6_c_RNO_LC_5_11_3 { COUNTER.un4_counter_6_c_RNO }
ble_pack SLP_SUSn_RNIN4K9_LC_5_11_4 { SLP_SUSn_RNIN4K9 }
ble_pack COUNTER.un4_counter_7_c_RNO_LC_5_11_6 { COUNTER.un4_counter_7_c_RNO }
clb_pack LT_5_11 { RSMRST_PWRGD.g1_2_LC_5_11_1, COUNTER.un4_counter_6_c_RNO_LC_5_11_3, SLP_SUSn_RNIN4K9_LC_5_11_4, COUNTER.un4_counter_7_c_RNO_LC_5_11_6 }
set_location LT_5_11 5 11
ble_pack VPP_VDDQ.g1_0_LC_5_12_0 { VPP_VDDQ.g1_0 }
ble_pack VPP_VDDQ.curr_state_RNI4RS22_0_LC_5_12_1 { VPP_VDDQ.curr_state_RNI4RS22[0] }
ble_pack VDDQ_OK_RNIBGAL_LC_5_12_3 { VDDQ_OK_RNIBGAL }
ble_pack RSMRST_PWRGD.RSMRSTn_rep1_RNI4RS22_LC_5_12_4 { RSMRST_PWRGD.RSMRSTn_rep1_RNI4RS22 }
ble_pack RSMRST_PWRGD.un6_rsmrst_pwrgd_LC_5_12_5 { RSMRST_PWRGD.un6_rsmrst_pwrgd }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_5_12_6 { VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 }
ble_pack VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_5_12_7 { VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 }
clb_pack LT_5_12 { VPP_VDDQ.g1_0_LC_5_12_0, VPP_VDDQ.curr_state_RNI4RS22_0_LC_5_12_1, VDDQ_OK_RNIBGAL_LC_5_12_3, RSMRST_PWRGD.RSMRSTn_rep1_RNI4RS22_LC_5_12_4, RSMRST_PWRGD.un6_rsmrst_pwrgd_LC_5_12_5, VPP_VDDQ.delayed_vddq_pwrgd_RNO_1_LC_5_12_6, VPP_VDDQ.delayed_vddq_pwrgd_RNO_0_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack COUNTER.counter_1_cry_1_c_LC_6_9_0 { COUNTER.counter_1_cry_1_c }
ble_pack COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_6_9_1 { COUNTER.counter_1_cry_1_THRU_LUT4_0, COUNTER.counter_1_cry_2_c }
ble_pack COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_6_9_2 { COUNTER.counter_1_cry_2_THRU_LUT4_0, COUNTER.counter_1_cry_3_c }
ble_pack COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_6_9_3 { COUNTER.counter_1_cry_3_THRU_LUT4_0, COUNTER.counter_1_cry_4_c }
ble_pack COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_6_9_4 { COUNTER.counter_1_cry_4_THRU_LUT4_0, COUNTER.counter_1_cry_5_c }
ble_pack COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_6_9_5 { COUNTER.counter_1_cry_5_THRU_LUT4_0, COUNTER.counter_1_cry_6_c }
ble_pack COUNTER.counter_7_LC_6_9_6 { COUNTER.counter_RNO[7], COUNTER.counter[7], COUNTER.counter_1_cry_7_c }
ble_pack COUNTER.counter_8_LC_6_9_7 { COUNTER.counter_RNO[8], COUNTER.counter[8], COUNTER.counter_1_cry_8_c }
clb_pack LT_6_9 { COUNTER.counter_1_cry_1_c_LC_6_9_0, COUNTER.counter_1_cry_1_THRU_LUT4_0_LC_6_9_1, COUNTER.counter_1_cry_2_THRU_LUT4_0_LC_6_9_2, COUNTER.counter_1_cry_3_THRU_LUT4_0_LC_6_9_3, COUNTER.counter_1_cry_4_THRU_LUT4_0_LC_6_9_4, COUNTER.counter_1_cry_5_THRU_LUT4_0_LC_6_9_5, COUNTER.counter_7_LC_6_9_6, COUNTER.counter_8_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack COUNTER.counter_9_LC_6_10_0 { COUNTER.counter_RNO[9], COUNTER.counter[9], COUNTER.counter_1_cry_9_c }
ble_pack COUNTER.counter_10_LC_6_10_1 { COUNTER.counter_RNO[10], COUNTER.counter[10], COUNTER.counter_1_cry_10_c }
ble_pack COUNTER.counter_11_LC_6_10_2 { COUNTER.counter_RNO[11], COUNTER.counter[11], COUNTER.counter_1_cry_11_c }
ble_pack COUNTER.counter_12_LC_6_10_3 { COUNTER.counter_RNO[12], COUNTER.counter[12], COUNTER.counter_1_cry_12_c }
ble_pack COUNTER.counter_13_LC_6_10_4 { COUNTER.counter_RNO[13], COUNTER.counter[13], COUNTER.counter_1_cry_13_c }
ble_pack COUNTER.counter_14_LC_6_10_5 { COUNTER.counter_RNO[14], COUNTER.counter[14], COUNTER.counter_1_cry_14_c }
ble_pack COUNTER.counter_15_LC_6_10_6 { COUNTER.counter_RNO[15], COUNTER.counter[15], COUNTER.counter_1_cry_15_c }
ble_pack COUNTER.counter_16_LC_6_10_7 { COUNTER.counter_RNO[16], COUNTER.counter[16], COUNTER.counter_1_cry_16_c }
clb_pack LT_6_10 { COUNTER.counter_9_LC_6_10_0, COUNTER.counter_10_LC_6_10_1, COUNTER.counter_11_LC_6_10_2, COUNTER.counter_12_LC_6_10_3, COUNTER.counter_13_LC_6_10_4, COUNTER.counter_14_LC_6_10_5, COUNTER.counter_15_LC_6_10_6, COUNTER.counter_16_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack COUNTER.counter_17_LC_6_11_0 { COUNTER.counter_RNO[17], COUNTER.counter[17], COUNTER.counter_1_cry_17_c }
ble_pack COUNTER.counter_18_LC_6_11_1 { COUNTER.counter_RNO[18], COUNTER.counter[18], COUNTER.counter_1_cry_18_c }
ble_pack COUNTER.counter_19_LC_6_11_2 { COUNTER.counter_RNO[19], COUNTER.counter[19], COUNTER.counter_1_cry_19_c }
ble_pack COUNTER.counter_20_LC_6_11_3 { COUNTER.counter_RNO[20], COUNTER.counter[20], COUNTER.counter_1_cry_20_c }
ble_pack COUNTER.counter_21_LC_6_11_4 { COUNTER.counter_RNO[21], COUNTER.counter[21], COUNTER.counter_1_cry_21_c }
ble_pack COUNTER.counter_22_LC_6_11_5 { COUNTER.counter_RNO[22], COUNTER.counter[22], COUNTER.counter_1_cry_22_c }
ble_pack COUNTER.counter_23_LC_6_11_6 { COUNTER.counter_RNO[23], COUNTER.counter[23], COUNTER.counter_1_cry_23_c }
ble_pack COUNTER.counter_24_LC_6_11_7 { COUNTER.counter_RNO[24], COUNTER.counter[24], COUNTER.counter_1_cry_24_c }
clb_pack LT_6_11 { COUNTER.counter_17_LC_6_11_0, COUNTER.counter_18_LC_6_11_1, COUNTER.counter_19_LC_6_11_2, COUNTER.counter_20_LC_6_11_3, COUNTER.counter_21_LC_6_11_4, COUNTER.counter_22_LC_6_11_5, COUNTER.counter_23_LC_6_11_6, COUNTER.counter_24_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack COUNTER.counter_25_LC_6_12_0 { COUNTER.counter_RNO[25], COUNTER.counter[25], COUNTER.counter_1_cry_25_c }
ble_pack COUNTER.counter_26_LC_6_12_1 { COUNTER.counter_RNO[26], COUNTER.counter[26], COUNTER.counter_1_cry_26_c }
ble_pack COUNTER.counter_27_LC_6_12_2 { COUNTER.counter_RNO[27], COUNTER.counter[27], COUNTER.counter_1_cry_27_c }
ble_pack COUNTER.counter_28_LC_6_12_3 { COUNTER.counter_RNO[28], COUNTER.counter[28], COUNTER.counter_1_cry_28_c }
ble_pack COUNTER.counter_29_LC_6_12_4 { COUNTER.counter_RNO[29], COUNTER.counter[29], COUNTER.counter_1_cry_29_c }
ble_pack COUNTER.counter_30_LC_6_12_5 { COUNTER.counter_RNO[30], COUNTER.counter[30], COUNTER.counter_1_cry_30_c }
ble_pack COUNTER.counter_31_LC_6_12_6 { COUNTER.counter_RNO[31], COUNTER.counter[31] }
clb_pack LT_6_12 { COUNTER.counter_25_LC_6_12_0, COUNTER.counter_26_LC_6_12_1, COUNTER.counter_27_LC_6_12_2, COUNTER.counter_28_LC_6_12_3, COUNTER.counter_29_LC_6_12_4, COUNTER.counter_30_LC_6_12_5, COUNTER.counter_31_LC_6_12_6 }
set_location LT_6_12 6 12
set_io VR_READY_VCCINAUX B21
set_io V33A_ENn A5
set_io V1P8A_EN A1
set_io VDDQ_EN A48
set_io VCCST_OVERRIDE_3V3 B10
set_io V5S_OK B20
set_io SLP_S3n A38
set_io SLP_S0n A46
set_io V5S_ENn B3
set_io V1P8A_OK B2
set_io PWRBTNn A39
set_io PWRBTN_LED B36
set_io GPIO_FPGA_SoC_2 B14
set_io VCCIN_VR_PROCHOT_FPGA A31
set_io SLP_SUSn A40
set_io CPU_C10_GATE_N A13
set_io VCCST_EN A4
set_io V33DSW_OK A2
set_io TPM_GPIO B30
set_io SUSWARN_N B9
set_io PLTRSTn B11
set_io GPIO_FPGA_SoC_4 A25
set_io VR_READY_VCCIN B5
set_io V5A_OK B8
set_io RSMRSTn B35
set_io FPGA_OSC B12
set_io VCCST_PWRGD A14
set_io SYS_PWROK B27
set_io SPI_FP_IO2 A9
set_io SATAXPCIE1_FPGA B31
set_io GPIO_FPGA_EXP_1 A44
set_io VCCINAUX_VR_PROCHOT_FPGA B24
set_io VCCINAUX_VR_PE B22
set_io HDA_SDO_ATP B7
set_io GPIO_FPGA_EXP_2 A45
set_io VPP_EN A33
set_io VDDQ_OK B26
set_io SUSACK_N A11
set_io SLP_S4n B34
set_io VCCST_CPU_OK B19
set_io VCCINAUX_EN A26
set_io V33S_OK A34
set_io V33S_ENn A3
set_io GPIO_FPGA_SoC_1 A19
set_io DSW_PWROK B4
set_io V5A_EN A10
set_io GPIO_FPGA_SoC_3 B13
set_io VR_PROCHOT_FPGA_OUT_N A32
set_io VPP_OK B1
set_io VCCIN_VR_PE A27
set_io VCCIN_EN B29
set_io SOC_SPKR A47
set_io SLP_S5n A41
set_io V12_MAIN_MON A43
set_io SPI_FP_IO3 A8
set_io SATAXPCIE0_FPGA B23
set_io V33A_OK A35
set_io PCH_PWROK A12
set_io FPGA_SLP_WLAN_N A16
