set_location IN_MUX_bfv_4_9_0_ 4 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_10_0_ 4 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_11_0_ 6 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_12_0_ 6 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_11_0_ 1 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_12_0_ 1 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_9_0_ 1 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_14_0_ 2 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_16_0_ 2 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_12_0_ 2 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_13_0_ 2 13 0 #ICE_CARRY_IN_MUX
set_location VPP_VDDQ.un1_count_1_cry_14_c_THRU_CRY_0 1 12 7 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 1 9 7 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 2 15 7 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_14_c_THRU_CRY_0 2 12 7 #SB_CARRY
set_location CONSTANT_ONE_LUT4 1 14 0 #SB_LUT4
set_location COUNTER_un4_counter_7_THRU_LUT4_0 4 10 0 #SB_LUT4
set_location COUNTER.counter_1_cry_5_THRU_LUT4_0 6 9 5 #SB_LUT4
set_location COUNTER.counter_1_cry_4_THRU_LUT4_0 6 9 4 #SB_LUT4
set_location COUNTER.counter_1_cry_3_THRU_LUT4_0 6 9 3 #SB_LUT4
set_location COUNTER.counter_1_cry_2_THRU_LUT4_0 6 9 2 #SB_LUT4
set_location COUNTER.counter_1_cry_1_THRU_LUT4_0 6 9 1 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNIRFM64[15] 4 12 7 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[6] 2 14 6 #SB_LUT4
set_location COUNTER.un4_counter_4_c 4 9 4 #SB_CARRY
set_location COUNTER.counter[2] 5 9 0 #SB_DFF
set_location COUNTER.counter_1_cry_4_c 6 9 3 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_3_c 1 8 3 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_11_c 1 12 3 #SB_CARRY
set_location SYS_PWRGD.count_RNO[14] 1 9 6 #SB_LUT4
set_location COUNTER.counter_RNO[19] 6 11 2 #SB_LUT4
set_location SYS_PWRGD.curr_state_RNIPUIK1[0] 2 8 4 #SB_LUT4
set_location RSMRST_PWRGD.count[3] 2 14 3 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_13_c 2 12 5 #SB_CARRY
set_location COUNTER.un4_counter_5_c 4 9 5 #SB_CARRY
set_location COUNTER.counter_RNO[28] 6 12 3 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_2_c 1 8 2 #SB_CARRY
set_location PCH_PWRGD.count_esr_RNIRGCK2[15] 4 12 4 #SB_LUT4
set_location PCH_PWRGD.count_RNO[11] 2 12 3 #SB_LUT4
set_location PCH_PWRGD.count[14] 2 12 6 #SB_DFFSR
set_location COUNTER.tmp_RNIRH3P 2 10 4 #SB_LUT4
set_location SYS_PWRGD.count[12] 1 9 4 #SB_DFFSR
set_location RSMRST_PWRGD.curr_state_RNIR5E01[0] 1 14 5 #SB_LUT4
set_location RSMRST_PWRGD.count_RNI4MLK1[1] 1 14 3 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_14_c 2 12 6 #SB_CARRY
set_location COUNTER.un4_counter_2_c 4 9 2 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_9_c 1 9 1 #SB_CARRY
set_location SYS_PWRGD.count[1] 1 8 1 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[8] 2 15 0 #SB_LUT4
set_location COUNTER.counter[8] 6 9 7 #SB_DFF
set_location COUNTER.counter_1_cry_10_c 6 10 1 #SB_CARRY
set_location VPP_VDDQ.count_RNO[9] 1 12 1 #SB_LUT4
set_location COUNTER.counter_RNO[14] 6 10 5 #SB_LUT4
set_location COUNTER.counter[16] 6 10 7 #SB_DFF
set_location VPP_VDDQ.count_RNO[13] 1 12 5 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_0_c 1 8 0 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_7_c 2 14 7 #SB_CARRY
set_location VPP_VDDQ.count[11] 1 12 3 #SB_DFFSR
set_location VPP_VDDQ.count[1] 1 11 1 #SB_DFFSR
set_location RSMRST_PWRGD.un6_rsmrst_pwrgd 4 12 0 #SB_LUT4
set_location RSMRST_PWRGD.count[9] 2 15 1 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_8_c 1 12 0 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO 5 13 2 #SB_LUT4
set_location COUNTER.un4_counter_6_c_RNO 5 11 3 #SB_LUT4
set_location COUNTER.counter_RNO[5] 5 9 4 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_12_c 1 9 4 #SB_CARRY
set_location RSMRST_PWRGD.count[12] 2 15 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_24_c 6 11 7 #SB_CARRY
set_location SYS_PWRGD.curr_state[1] 2 9 4 #SB_DFFE
set_location SYS_PWRGD.count_esr_RNO_0[15] 2 9 2 #SB_LUT4
set_location SYS_PWRGD.count_RNO[2] 1 8 2 #SB_LUT4
set_location COUNTER.counter[19] 6 11 2 #SB_DFF
set_location SYS_PWRGD.count_RNO[13] 1 9 5 #SB_LUT4
set_location COUNTER.counter[30] 6 12 5 #SB_DFF
set_location VPP_VDDQ.un1_count_1_cry_6_c 1 11 6 #SB_CARRY
set_location RSMRST_PWRGD.count[4] 2 14 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_2_c 6 9 1 #SB_CARRY
set_location SYS_PWRGD.curr_state_7_1_0_.m4 2 9 3 #SB_LUT4
set_location SYS_PWRGD.ALL_SYS_PWRGD_RNO 2 9 6 #SB_LUT4
set_location SYS_PWRGD.ALL_SYS_PWRGD 2 9 6 #SB_DFFE
set_location RSMRST_PWRGD.un1_count_1_cry_14_c 2 15 6 #SB_CARRY
set_location PCH_PWRGD.count_RNO[4] 2 11 4 #SB_LUT4
set_location PCH_PWRGD.count[13] 2 12 5 #SB_DFFSR
set_location SYS_PWRGD.curr_state_RNIFRIJ6[1] 2 9 1 #SB_LUT4
set_location SYS_PWRGD.count_esr[15] 1 10 0 #SB_DFFESR
set_location COUNTER.counter_1_cry_5_c 6 9 4 #SB_CARRY
set_location SYS_PWRGD.count[2] 1 8 2 #SB_DFFSR
set_location PCH_PWRGD.count[8] 2 12 0 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_10_c 1 12 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[6] 1 11 6 #SB_LUT4
set_location RSMRST_PWRGD.count_esr_RNISRRR[15] 1 14 1 #SB_LUT4
set_location COUNTER.counter[13] 6 10 4 #SB_DFF
set_location RSMRST_PWRGD.count_RNO[12] 2 15 4 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_12_c 2 12 4 #SB_CARRY
set_location VPP_VDDQ.count[2] 1 11 2 #SB_DFFSR
set_location RSMRST_PWRGD.curr_state_7_1_0_.m4 1 15 4 #SB_LUT4
set_location COUNTER.counter_RNO[21] 6 11 4 #SB_LUT4
set_location PCH_PWRGD.pch_pwrok 2 7 4 #SB_DFFE
set_location COUNTER.counter_RNO[8] 6 9 7 #SB_LUT4
set_location COUNTER.counter[20] 6 11 3 #SB_DFF
set_location COUNTER.counter_1_cry_23_c 6 11 6 #SB_CARRY
set_location PCH_PWRGD.curr_state_RNIBS171[0] 4 10 2 #SB_LUT4
set_location SYS_PWRGD.count_RNO[7] 1 8 7 #SB_LUT4
set_location SYS_PWRGD.count[8] 1 9 0 #SB_DFFSR
set_location PCH_PWRGD.count[2] 2 11 2 #SB_DFFSR
set_location COUNTER.counter_1_cry_12_c 6 10 3 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_1_c 1 11 1 #SB_CARRY
set_location COUNTER.counter_1_cry_22_c 6 11 5 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_9_c 1 12 1 #SB_CARRY
set_location PCH_PWRGD.count_RNO[1] 2 11 1 #SB_LUT4
set_location COUNTER.counter_RNO[2] 5 9 0 #SB_LUT4
set_location COUNTER.counter_1_cry_25_c 6 12 0 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_0_c 1 11 0 #SB_CARRY
set_location VPP_VDDQ.curr_state_RNO[1] 5 12 2 #SB_LUT4
set_location VPP_VDDQ.count_esr_RNO[15] 1 13 0 #SB_LUT4
set_location SYS_PWRGD.count[7] 1 8 7 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[2] 2 14 2 #SB_LUT4
set_location COUNTER.counter[6] 5 9 2 #SB_DFF
set_location VPP_VDDQ.count_RNO[3] 1 11 3 #SB_LUT4
set_location SYS_PWRGD.count_esr_RNIVV9F[15] 4 10 5 #SB_LUT4
set_location SYS_PWRGD.count_RNO[9] 1 9 1 #SB_LUT4
set_location RSMRST_PWRGD.RSMRSTn 1 15 7 #SB_DFFE
set_location PCH_PWRGD.curr_state[0] 2 10 6 #SB_DFFE
set_location COUNTER.counter[10] 6 10 1 #SB_DFF
set_location VPP_VDDQ.un1_count_1_cry_7_c 1 11 7 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_5_c 2 14 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[11] 2 15 3 #SB_LUT4
set_location RSMRST_PWRGD.count_RNIIRGK[10] 1 15 0 #SB_LUT4
set_location RSMRST_PWRGD.curr_state[1] 1 15 5 #SB_DFFE
set_location PCH_PWRGD.curr_state_7_1_0_.m6 2 10 7 #SB_LUT4
set_location COUNTER.counter_RNO[24] 6 11 7 #SB_LUT4
set_location COUNTER.counter_1_cry_27_c 6 12 2 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_2 5 13 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[8] 1 12 0 #SB_LUT4
set_location VPP_VDDQ.count_RNIFC141[11] 4 12 6 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_0_c 2 11 0 #SB_CARRY
set_location COUNTER.counter_RNO[17] 6 11 0 #SB_LUT4
set_location COUNTER.counter[27] 6 12 2 #SB_DFF
set_location COUNTER.counter[15] 6 10 6 #SB_DFF
set_location VPP_VDDQ.count_RNO[10] 1 12 2 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[14] 2 15 6 #SB_LUT4
set_location VPP_VDDQ.un1_count_1_cry_5_c 1 11 5 #SB_CARRY
set_location VPP_VDDQ.count[12] 1 12 4 #SB_DFFSR
set_location VPP_VDDQ.count[0] 1 11 0 #SB_DFFSR
set_location SYS_PWRGD.curr_state_RNIF9431[0] 4 10 1 #SB_LUT4
set_location SYS_PWRGD.count_RNO[4] 1 8 4 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_1_c 2 14 1 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_7_1_0_.m6 1 15 5 #SB_LUT4
set_location RSMRST_PWRGD.count_RNI9RLK1[3] 1 14 4 #SB_LUT4
set_location RSMRST_PWRGD.count[8] 2 15 0 #SB_DFFSR
set_location PCH_PWRGD.count_RNO[9] 2 12 1 #SB_LUT4
set_location PCH_PWRGD.count_RNIGS2B[5] 4 12 3 #SB_LUT4
set_location PCH_PWRGD.count[7] 2 11 7 #SB_DFFSR
set_location COUNTER.counter_1_cry_26_c 6 12 1 #SB_CARRY
set_location COUNTER.counter_1_cry_16_c 6 10 7 #SB_CARRY
set_location COUNTER.counter_RNO[10] 6 10 1 #SB_LUT4
set_location COUNTER.counter[22] 6 11 5 #SB_DFF
set_location VPP_VDDQ.curr_state_RNI4PHT2[0] 4 13 6 #SB_LUT4
set_location RSMRST_PWRGD.count[13] 2 15 5 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_2_c 2 11 2 #SB_CARRY
set_location COUNTER.un4_counter_5_c_RNO 5 10 3 #SB_LUT4
set_location VPP_VDDQ.curr_state_RNIOISJ1_0[0] 4 13 5 #SB_LUT4
set_location VPP_VDDQ.count[5] 1 11 5 #SB_DFFSR
set_location SYS_PWRGD.count_RNO[1] 1 8 1 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_13_c 2 15 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNIR8OP4[10] 1 14 2 #SB_LUT4
set_location PCH_PWRGD.curr_state_RNIB8F31[0] 2 9 7 #SB_LUT4
set_location PCH_PWRGD.count_esr_RNO[15] 2 13 0 #SB_LUT4
set_location PCH_PWRGD.count_RNO[2] 2 11 2 #SB_LUT4
set_location COUNTER.counter[18] 6 11 1 #SB_DFF
set_location VPP_VDDQ.curr_state_RNIOISJ1[0] 4 11 0 #SB_LUT4
set_location SYS_PWRGD.count_RNO[10] 1 9 2 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_5_c 2 11 5 #SB_CARRY
set_location PCH_PWRGD.count_RNIU92B[1] 4 11 7 #SB_LUT4
set_location COUNTER.counter_RNO[1] 5 9 1 #SB_LUT4
set_location COUNTER.counter[29] 6 12 4 #SB_DFF
set_location RSMRST_PWRGD.count_RNO[7] 2 14 7 #SB_LUT4
set_location RSMRST_PWRGD.count[7] 2 14 7 #SB_DFFSR
set_location COUNTER.un4_counter_7_c_RNO 5 11 0 #SB_LUT4
set_location COUNTER.un4_counter_7_c_RNIJ9569 2 10 0 #SB_LUT4
set_location COUNTER.un4_counter_2_c_RNO 5 9 6 #SB_LUT4
set_location COUNTER.counter[1] 5 9 1 #SB_DFF
set_location VPP_VDDQ.count_RNO[0] 1 11 0 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_10_c 1 9 2 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_4_c 2 11 4 #SB_CARRY
set_location PCH_PWRGD.count_esr_RNO_0[15] 2 10 3 #SB_LUT4
set_location PCH_PWRGD.count_RNO[7] 2 11 7 #SB_LUT4
set_location PCH_PWRGD.count[10] 2 12 2 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_10_c 2 12 2 #SB_CARRY
set_location VPP_VDDQ.count[8] 1 12 0 #SB_DFFSR
set_location SYS_PWRGD.count[5] 1 8 5 #SB_DFFSR
set_location RSMRST_PWRGD.count_esr_RNO_0[15] 1 15 3 #SB_LUT4
set_location RSMRST_PWRGD.count[0] 2 14 0 #SB_DFFSR
set_location PCH_PWRGD.count_esr[15] 2 13 0 #SB_DFFESR
set_location COUNTER.counter_RNO[27] 6 12 2 #SB_LUT4
set_location COUNTER.counter[4] 5 10 1 #SB_DFF
set_location VPP_VDDQ.curr_state[0] 5 12 6 #SB_DFFE
set_location VPP_VDDQ.count_RNO[5] 1 11 5 #SB_LUT4
set_location PCH_PWRGD.count_RNO[10] 2 12 2 #SB_LUT4
set_location COUNTER.un4_counter_1_c_RNO 5 9 7 #SB_LUT4
set_location COUNTER.counter[12] 6 10 3 #SB_DFF
set_location SYS_PWRGD.un1_count_1_cry_1_c 1 8 1 #SB_CARRY
set_location SYS_PWRGD.count[11] 1 9 3 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[13] 2 15 5 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_6_c 2 11 6 #SB_CARRY
set_location COUNTER.un4_counter_7_c 4 9 7 #SB_CARRY
set_location VPP_VDDQ.count_esr_RNI7CQO[15] 4 13 4 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[9] 2 15 1 #SB_LUT4
set_location PCH_PWRGD.curr_state_7_1_0_.m4 2 10 6 #SB_LUT4
set_location PCH_PWRGD.count[4] 2 11 4 #SB_DFFSR
set_location COUNTER.counter_RNO[22] 6 11 5 #SB_LUT4
set_location COUNTER.counter_1_cry_9_c 6 10 0 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_0 5 13 5 #SB_LUT4
set_location COUNTER.counter_RNO[9] 6 10 0 #SB_LUT4
set_location COUNTER.counter_RNO[15] 6 10 6 #SB_LUT4
set_location COUNTER.counter[21] 6 11 4 #SB_DFF
set_location COUNTER.counter_1_cry_20_c 6 11 3 #SB_CARRY
set_location COUNTER.counter[17] 6 11 0 #SB_DFF
set_location VPP_VDDQ.count_RNO[12] 1 12 4 #SB_LUT4
set_location COUNTER.counter_1_cry_18_c 6 11 1 #SB_CARRY
set_location VPP_VDDQ.count[6] 1 11 6 #SB_DFFSR
set_location VPP_VDDQ.count[10] 1 12 2 #SB_DFFSR
set_location SYS_PWRGD.count_RNO[6] 1 8 6 #SB_LUT4
set_location PCH_PWRGD.count[1] 2 11 1 #SB_DFFSR
set_location SYS_PWRGD.un1_count_1_cry_14_c 1 9 6 #SB_CARRY
set_location COUNTER.counter_RNO[4] 5 10 1 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_6_c 2 14 6 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[4] 2 14 4 #SB_LUT4
set_location RSMRST_PWRGD.count[11] 2 15 3 #SB_DFFSR
set_location COUNTER.counter_1_cry_3_c 6 9 2 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNIUFJG 5 13 6 #SB_LUT4
set_location VPP_VDDQ.count_RNIVJP51[3] 4 11 2 #SB_LUT4
set_location SYS_PWRGD.curr_state[0] 2 9 3 #SB_DFFE
set_location SYS_PWRGD.count_RNO[3] 1 8 3 #SB_LUT4
set_location PCH_PWRGD.count_RNO[0] 2 11 0 #SB_LUT4
set_location PCH_PWRGD.count_RNIUE1S[0] 4 11 6 #SB_LUT4
set_location COUNTER.counter_RNO[30] 6 12 5 #SB_LUT4
set_location SYS_PWRGD.count_esr_RNO[15] 1 10 0 #SB_LUT4
set_location SYS_PWRGD.count_RNO[12] 1 9 4 #SB_LUT4
set_location RSMRST_PWRGD.count_esr[15] 2 16 0 #SB_DFFESR
set_location PCH_PWRGD.un1_count_1_cry_3_c 2 11 3 #SB_CARRY
set_location PCH_PWRGD.curr_state_RNI1BVG4[1] 2 10 2 #SB_LUT4
set_location COUNTER.counter_RNO[3] 5 10 7 #SB_LUT4
set_location COUNTER.counter[31] 6 12 6 #SB_DFF
set_location SYS_PWRGD.count[6] 1 8 6 #SB_DFFSR
set_location RSMRST_PWRGD.un1_count_1_cry_12_c 2 15 4 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[1] 2 14 1 #SB_LUT4
set_location RSMRST_PWRGD.count[5] 2 14 5 #SB_DFFSR
set_location COUNTER.un4_counter_3_c 4 9 3 #SB_CARRY
set_location COUNTER.counter[7] 6 9 6 #SB_DFF
set_location VPP_VDDQ.count_RNO[2] 1 11 2 #SB_LUT4
set_location SYS_PWRGD.count_RNO[8] 1 9 0 #SB_LUT4
set_location PCH_PWRGD.curr_state[1] 2 10 7 #SB_DFFE
set_location PCH_PWRGD.count_RNO[5] 2 11 5 #SB_LUT4
set_location PCH_PWRGD.count_RNO[13] 2 12 5 #SB_LUT4
set_location PCH_PWRGD.count[12] 2 12 4 #SB_DFFSR
set_location COUNTER.counter_1_cry_11_c 6 10 2 #SB_CARRY
set_location SYS_PWRGD.count[14] 1 9 6 #SB_DFFSR
set_location VPP_VDDQ.count_esr_RNO_0[15] 2 10 1 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_7_c 1 8 7 #SB_CARRY
set_location SYS_PWRGD.count[3] 1 8 3 #SB_DFFSR
set_location PCH_PWRGD.count[9] 2 12 1 #SB_DFFSR
set_location COUNTER.counter_RNO[25] 6 12 0 #SB_LUT4
set_location VPP_VDDQ.count_RNO[7] 1 11 7 #SB_LUT4
set_location COUNTER.un4_counter_1_c 4 9 1 #SB_CARRY
set_location COUNTER.un4_counter_0_c_RNO 5 10 6 #SB_LUT4
set_location COUNTER.counter_RNO[16] 6 10 7 #SB_LUT4
set_location COUNTER.counter[24] 6 11 7 #SB_DFF
set_location COUNTER.counter[14] 6 10 5 #SB_DFF
set_location VPP_VDDQ.count_RNO[11] 1 12 3 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_2_c 2 14 2 #SB_CARRY
set_location RSMRST_PWRGD.curr_state_RNII9BF7[1] 1 15 2 #SB_LUT4
set_location PCH_PWRGD.un1_count_1_cry_8_c 2 12 0 #SB_CARRY
set_location COUNTER.tmp 4 12 5 #SB_DFF
set_location VPP_VDDQ.count[3] 1 11 3 #SB_DFFSR
set_location VPP_VDDQ.count[13] 1 12 5 #SB_DFFSR
set_location SYS_PWRGD.un8_sys_pwrgd 4 13 3 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_6_c 1 8 6 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_13_c 1 9 5 #SB_CARRY
set_location SLP_SUSn_RNIN4K9 4 11 1 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_11_c 2 15 3 #SB_CARRY
set_location PCH_PWRGD.count_RNO[8] 2 12 0 #SB_LUT4
set_location PCH_PWRGD.count[6] 2 11 6 #SB_DFFSR
set_location COUNTER.counter_RNO[20] 6 11 3 #SB_LUT4
set_location COUNTER.un4_counter_6_c 4 9 6 #SB_CARRY
set_location COUNTER.counter_RNO[13] 6 10 4 #SB_LUT4
set_location COUNTER.counter[23] 6 11 6 #SB_DFF
set_location COUNTER.counter_1_cry_7_c 6 9 6 #SB_CARRY
set_location RSMRST_PWRGD.count[14] 2 15 6 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_13_c 1 12 5 #SB_CARRY
set_location VPP_VDDQ.count[4] 1 11 4 #SB_DFFSR
set_location SYS_PWRGD.count_RNO[0] 1 8 0 #SB_LUT4
set_location SYS_PWRGD.count_RNI07U31[11] 4 10 4 #SB_LUT4
set_location SYS_PWRGD.count[9] 1 9 1 #SB_DFFSR
set_location PCH_PWRGD.count[3] 2 11 3 #SB_DFFSR
set_location VPP_VDDQ.delayed_vddq_pwrgd 5 13 2 #SB_DFF
set_location SYS_PWRGD.un1_count_1_cry_4_c 1 8 4 #SB_CARRY
set_location SYS_PWRGD.count_RNO[11] 1 9 3 #SB_LUT4
set_location COUNTER.counter_RNO[6] 5 9 2 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_8_c 2 15 0 #SB_CARRY
set_location RSMRST_PWRGD.count[6] 2 14 6 #SB_DFFSR
set_location COUNTER.counter_1_cry_15_c 6 10 6 #SB_CARRY
set_location SYS_PWRGD.count_RNIRAS54[10] 4 10 6 #SB_LUT4
set_location PCH_PWRGD.count_RNO[6] 2 11 6 #SB_LUT4
set_location PCH_PWRGD.count[11] 2 12 3 #SB_DFFSR
set_location VPP_VDDQ.curr_state_RNO[0] 5 12 6 #SB_LUT4
set_location SYS_PWRGD.count[4] 1 8 4 #SB_DFFSR
set_location RSMRST_PWRGD.count_RNO[3] 2 14 3 #SB_LUT4
set_location COUNTER.counter[5] 5 9 4 #SB_DFF
set_location COUNTER.counter_1_cry_30_c 6 12 5 #SB_CARRY
set_location VPP_VDDQ.curr_state[1] 5 12 2 #SB_DFFE
set_location VPP_VDDQ.count_RNO[4] 1 11 4 #SB_LUT4
set_location COUNTER.counter[11] 6 10 2 #SB_DFF
set_location VPP_VDDQ.un1_count_1_cry_2_c 1 11 2 #SB_CARRY
set_location VPP_VDDQ.count_RNO[14] 1 12 6 #SB_LUT4
set_location SYS_PWRGD.count_RNIV5U31[10] 5 9 3 #SB_LUT4
set_location RSMRST_PWRGD.count_RNO[10] 2 15 2 #SB_LUT4
set_location RSMRST_PWRGD.curr_state[0] 1 15 4 #SB_DFFE
set_location PCH_PWRGD.pch_pwrok_RNO 2 7 4 #SB_LUT4
set_location COUNTER.counter_RNO[23] 6 11 6 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_10_c 2 15 2 #SB_CARRY
set_location PCH_PWRGD.count_RNO[14] 2 12 6 #SB_LUT4
set_location COUNTER.counter[26] 6 12 1 #SB_DFF
set_location VPP_VDDQ.count_esr[15] 1 13 0 #SB_DFFESR
set_location COUNTER.un4_counter_4_c_RNO 5 10 2 #SB_LUT4
set_location COUNTER.counter_1_cry_1_c 6 9 0 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_8_c 1 9 0 #SB_CARRY
set_location SYS_PWRGD.count_RNO[5] 1 8 5 #SB_LUT4
set_location RSMRST_PWRGD.curr_state_RNISEFS1[0] 1 14 7 #SB_LUT4
set_location PCH_PWRGD.count[0] 2 11 0 #SB_DFFSR
set_location COUNTER.un4_counter_0_c 4 9 0 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_14_c 1 12 6 #SB_CARRY
set_location COUNTER.counter_RNO[11] 6 10 2 #SB_LUT4
set_location COUNTER.counter_1_cry_8_c 6 9 7 #SB_CARRY
set_location VPP_VDDQ.count_RNI63141[10] 4 11 4 #SB_LUT4
set_location VPP_VDDQ.count[14] 1 12 6 #SB_DFFSR
set_location PCH_PWRGD.count_RNO[3] 2 11 3 #SB_LUT4
set_location COUNTER.counter_RNO[0] 7 10 0 #SB_LUT4
set_location COUNTER.counter[28] 6 12 3 #SB_DFF
set_location VPP_VDDQ.un1_count_1_cry_12_c 1 12 4 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_4_c 2 14 4 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[0] 2 14 0 #SB_LUT4
set_location COUNTER.un4_counter_3_c_RNO 5 10 4 #SB_LUT4
set_location COUNTER.counter_1_cry_13_c 6 10 4 #SB_CARRY
set_location COUNTER.counter[0] 7 10 0 #SB_DFF
set_location VPP_VDDQ.count_RNO[1] 1 11 1 #SB_LUT4
set_location SYS_PWRGD.un1_count_1_cry_5_c 1 8 5 #SB_CARRY
set_location RSMRST_PWRGD.un1_count_1_cry_3_c 2 14 3 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_7_c 2 11 7 #SB_CARRY
set_location COUNTER.counter_1_cry_14_c 6 10 5 #SB_CARRY
set_location VPP_VDDQ.count[9] 1 12 1 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location RSMRST_PWRGD.count[1] 2 14 1 #SB_DFFSR
set_location COUNTER.counter_RNO[26] 6 12 1 #SB_LUT4
set_location COUNTER.counter_1_cry_29_c 6 12 4 #SB_CARRY
set_location COUNTER.counter_1_cry_21_c 6 11 4 #SB_CARRY
set_location VPP_VDDQ.un1_count_1_cry_4_c 1 11 4 #SB_CARRY
set_location SYS_PWRGD.un1_count_1_cry_11_c 1 9 3 #SB_CARRY
set_location COUNTER.counter[25] 6 12 0 #SB_DFF
set_location COUNTER.counter_1_cry_17_c 6 11 0 #SB_CARRY
set_location SYS_PWRGD.count[10] 1 9 2 #SB_DFFSR
set_location SLP_S3n_RNI2MQD 4 13 0 #SB_LUT4
set_location COUNTER.tmp_RNO 4 12 5 #SB_LUT4
set_location COUNTER.counter_1_cry_28_c 6 12 3 #SB_CARRY
set_location PCH_PWRGD.count[5] 2 11 5 #SB_DFFSR
set_location VPP_VDDQ.un1_count_1_cry_3_c 1 11 3 #SB_CARRY
set_location VPP_VDDQ.delayed_vddq_pwrgd_RNO_1 5 13 1 #SB_LUT4
set_location COUNTER.counter_RNO[12] 6 10 3 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_9_c 2 15 1 #SB_CARRY
set_location VPP_VDDQ.count[7] 1 11 7 #SB_DFFSR
set_location RSMRST_PWRGD.count_esr_RNO[15] 2 16 0 #SB_LUT4
set_location VPP_VDDQ.un1_vddq_en 1 16 1 #SB_LUT4
set_location RSMRST_PWRGD.un1_count_1_cry_0_c 2 14 0 #SB_CARRY
set_location PCH_PWRGD.un1_count_1_cry_11_c 2 12 3 #SB_CARRY
set_location COUNTER.counter_RNO[7] 6 9 6 #SB_LUT4
set_location COUNTER.counter_1_cry_6_c 6 9 5 #SB_CARRY
set_location RSMRST_PWRGD.count_RNO[5] 2 14 5 #SB_LUT4
set_location RSMRST_PWRGD.count[10] 2 15 2 #SB_DFFSR
set_location PCH_PWRGD.count_esr_RNIFR521[15] 4 13 1 #SB_LUT4
set_location COUNTER.counter[3] 5 10 7 #SB_DFF
set_location COUNTER.counter_RNO[31] 6 12 6 #SB_LUT4
set_location SYS_PWRGD.count_RNITTLE1[4] 5 9 5 #SB_LUT4
set_location COUNTER.counter_RNO[18] 6 11 1 #SB_LUT4
set_location RSMRST_PWRGD.count[2] 2 14 2 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_1_c 2 11 1 #SB_CARRY
set_location COUNTER.counter_RNO[29] 6 12 4 #SB_LUT4
set_location SYS_PWRGD.curr_state_7_1_0_.m6 2 9 4 #SB_LUT4
set_location RSMRST_PWRGD.RSMRSTn_RNO 1 15 7 #SB_LUT4
set_location PCH_PWRGD.count_RNO[12] 2 12 4 #SB_LUT4
set_location SYS_PWRGD.count[13] 1 9 5 #SB_DFFSR
set_location PCH_PWRGD.un1_count_1_cry_9_c 2 12 1 #SB_CARRY
set_location SYS_PWRGD.count[0] 1 8 0 #SB_DFFSR
set_location COUNTER.counter[9] 6 10 0 #SB_DFF
set_location COUNTER.counter_1_cry_19_c 6 11 2 #SB_CARRY
set_io VR_READY_VCCINAUX B21
set_io V33A_ENn A5
set_io V1P8A_EN A1
set_io VDDQ_EN A48
set_io VCCST_OVERRIDE_3V3 B10
set_io V5S_OK B20
set_io SLP_S3n A38
set_io SLP_S0n A46
set_io V5S_ENn B3
set_io V1P8A_OK B2
set_io PWRBTNn A39
set_io PWRBTN_LED B36
set_io GPIO_FPGA_SoC_2 B14
set_io VCCIN_VR_PROCHOT_FPGA A31
set_io SLP_SUSn A40
set_io CPU_C10_GATE_N A13
set_io VCCST_EN A4
set_io V33DSW_OK A2
set_io TPM_GPIO B30
set_io SUSWARN_N B9
set_io PLTRSTn B11
set_io GPIO_FPGA_SoC_4 A25
set_io VR_READY_VCCIN B5
set_io V5A_OK B8
set_io RSMRSTn B35
set_io FPGA_OSC B12
set_io VCCST_PWRGD A14
set_io SYS_PWROK B27
set_io SPI_FP_IO2 A9
set_io SATAXPCIE1_FPGA B31
set_io GPIO_FPGA_EXP_1 A44
set_io VCCINAUX_VR_PROCHOT_FPGA B24
set_io VCCINAUX_VR_PE B22
set_io HDA_SDO_ATP B7
set_io GPIO_FPGA_EXP_2 A45
set_io VPP_EN A33
set_io VDDQ_OK B26
set_io SUSACK_N A11
set_io SLP_S4n B34
set_io VCCST_CPU_OK B19
set_io VCCINAUX_EN A26
set_io V33S_OK A34
set_io V33S_ENn A3
set_io GPIO_FPGA_SoC_1 A19
set_io DSW_PWROK B4
set_io V5A_EN A10
set_io GPIO_FPGA_SoC_3 B13
set_io VR_PROCHOT_FPGA_OUT_N A32
set_io VPP_OK B1
set_io VCCIN_VR_PE A27
set_io VCCIN_EN B29
set_io SOC_SPKR A47
set_io SLP_S5n A41
set_io V12_MAIN_MON A43
set_io SPI_FP_IO3 A8
set_io SATAXPCIE0_FPGA B23
set_io V33A_OK A35
set_io PCH_PWROK A12
set_io FPGA_SLP_WLAN_N A16
