# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Dec 13 2021 11:20:03

# Family & Device:    iCE40LP1K

# Package:            SWG16TR

# ##############################################################################

###IOSet List 2
set_io CLK_27mhz B2 -io_std SB_LVCMOS -pullup no
set_io clk_2Hz A4 -io_std SB_LVCMOS -pullup no

